#row_productsfilter_attributes_enable td.value {
	position: relative;
}

#row_productsfilter_attributes_enable td.value>span.label,
#row_productsfilter_attributes_enable td.scope-label>span.label {
	font-size: 12px;
	font-weight: 700;
	color: #2F2F2F;
}

#row_productsfilter_attributes_enable .attributes_enable {
	border-width: 1px;
	border-style: solid;
	border-color: #aaa #c8c8c8 #c8c8c8 #aaa;
	padding: 2px;
	background-color: #ffffff;
	height: 345px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow-y: scroll;
}

#productsfilter_attributes_group {
	width: 300px; 
	height: 345px; 
	overflow: auto;
	padding: 7px 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#productsfilter_attributes_enable {
	border: 0px;
	background-color: transparent;
}

	#productsfilter_attributes_enable li.ui-sortable-helper,
	#productsfilter_attributes_group li.ui-sortable-helper {
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 0 5px;
		box-shadow: 1px 1px 2px 0 #ccc;
		-moz-box-shadow: 1px 1px 2px 0 #ccc;
		-webkit-box-shadow: 1px 1px 2px 0 #ccc;
		cursor: pointer;
		opacity: 0.8;
		filter: alpha(opacity=80);
	}

	#productsfilter_attributes_enable li,
	#productsfilter_attributes_group li {
		border: 1px solid #fff;
		padding: 2px 5px;
	}

	/* cursors for drag */
	#productsfilter_attributes_enable li:hover,
	#productsfilter_attributes_group li:hover {
		cursor: url(../../../images/plumrocket/productsfilter/1431544103_cursor_hand.png), auto;
		border: 1px solid #ccc;
	}
	#productsfilter_attributes_enable li *:hover,
	#productsfilter_attributes_group li *:hover {
		cursor: url(../../../images/plumrocket/productsfilter/1431544103_cursor_hand.png), auto;
	}

	#productsfilter_attributes_enable li.ui-sortable-helper:hover *,
	#productsfilter_attributes_group li.ui-sortable-helper:hover *,
	#productsfilter_attributes_enable li.ui-sortable-helper *,
	#productsfilter_attributes_group li.ui-sortable-helper * {
		cursor: url(../../../images/plumrocket/productsfilter/14315447451_cursor_drag_hand.png), auto;
	}


	/* IE cursors */
	.ie_x #productsfilter_attributes_enable li:hover,
	.ie_x #productsfilter_attributes_group li:hover {
		cursor: default;
	}
	.ie_x #productsfilter_attributes_enable li *:hover,
	.ie_x #productsfilter_attributes_group li *:hover {
		cursor: default;
	}

	.ie_x #productsfilter_attributes_enable li.ui-sortable-helper:hover *,
	.ie_x #productsfilter_attributes_group li.ui-sortable-helper:hover *,
	.ie_x #productsfilter_attributes_enable li.ui-sortable-helper *,
	.ie_x #productsfilter_attributes_group li.ui-sortable-helper * {
		cursor: default;
	}

	#productsfilter_attributes_enable li label {
		font-size: 12px;
	}

#productsfilter_attributes_group li {
	margin: 1px 0;
	background-color: #fff;
}

#productsfilter_attributes_enable li.ui-sortable-placeholder,
#productsfilter_attributes_group li.ui-sortable-placeholder {
	border: 1px solid #007e97;
	background-color: #EDFCFF;
	visibility: visible!important;
}

#productsfilter_attributes_enable li.ui-sortable-placeholder.bg-white,
#productsfilter_attributes_group li.ui-sortable-placeholder.bg-white {
	background-color: #fff;
	border: 1px solid #fff;
}

#productsfilter_attributes_group li label {
	font-size: 12px;
}

#productsfilter_attributes_group li.ui-draggable-dragging {
	z-index: 9000;
}

#productsfilter_attributes_group li.ui-state-hover {
	border: 2px dashed #007e97;
	background-color: #EDFCFF;
}
#productsfilter_attributes_group li.ui-state-hover.active {
	background-color: #EDFCFF;
}


#productsfilter_attributes_group li.child.ui-state-hover {
	border: none;
}

#productsfilter_attributes_group li.active {
	background-color: #1e90ff;
	color: #ffffff;
}

	#productsfilter_attributes_group li.active label {
		color: #ffffff;
	}
	#productsfilter_attributes_group li.ui-state-hover.active label {
		color: #333;
	}
	#productsfilter_attributes_group .group li.active label {
		color: #333;
	}

#productsfilter_attributes_group li.child {
	
}

#productsfilter_attributes_group li.group {
	border: 1px solid #C4C4C4;
	background-color: #F9F9F9;
	padding: 0;
	margin: 7px 0;
}

	#productsfilter_attributes_group li.group li {
		margin: 0;
		padding: 0;
		background: inherit;
		border: 0px;
	}

	#productsfilter_attributes_group li.group li label {
		font-size: 11px;
	}

	#productsfilter_attributes_group li.group.active>label {
		color: #333;
		font-weight: 700;
	}

	#productsfilter_attributes_group li.group.active>label:before {
		margin-right: 5px;
	}

		#productsfilter_attributes_group li.group.active>label {
			display: inline-block;
			background-color: #1e90ff;
			box-sizing: border-box;
			margin: 1px 1px 0px 1px;
			width: 99%;
			color: #ffffff;
			padding: 0;
		}

		#productsfilter_attributes_group li.group.active li label {
			color: #333;
		}

	#productsfilter_attributes_group li.group div.group_name {
		background-color: #EDEDED;
		padding: 1px 3px 3px 3px;
	}

	#productsfilter_attributes_group li.group div.group_name input {
		border: 0px;
		background-color: #EDEDED;
		width: 70%;
	}
	#productsfilter_attributes_group li.group div.group_name input:hover {
		cursor: text;
	}

	#productsfilter_attributes_group li.group div.group_name input:focus {
		background-color: white;
	}

	#productsfilter_attributes_group li.group div.group_name .edit,
	#productsfilter_attributes_group li.group div.group_name .cancel,
	#productsfilter_attributes_group li.group div.group_name .ok {
		float: right;
		width: 16px;
		height: 16px;
	}

	#productsfilter_attributes_group li.group div.group_name .ok,
	#productsfilter_attributes_group li.group div.group_name .cancel {
		display: none;
	}

	#productsfilter_attributes_group li.group div.group_name .edit {
		display: block;
	} 

	#productsfilter_attributes_group li.group div.group_name .edit:hover,
	#productsfilter_attributes_group li.group div.group_name .cancel:hover,
	#productsfilter_attributes_group li.group div.group_name .ok:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	#productsfilter_attributes_group li.group div.group_name .ok {
		background-image: url(../../../images/plumrocket/productsfilter/tick-icon.png);
	}

	#productsfilter_attributes_group li.group div.group_name .cancel {
		background-image: url(../../../images/plumrocket/productsfilter/cancel_7809.png);
	}

	#productsfilter_attributes_group li.group div.group_name .edit {
		background-image: url(../../../images/plumrocket/productsfilter/page_white_edit_2858.png);
	}

	#productsfilter_attributes_group li.group label {
		padding-left: 3px;
		font-size: 11px;
	}

	#productsfilter_attributes_group li.group label:before {
		display: block;
		float: left;
		content: "";
		width: 3px;
		height: 3px;
		background-color: #6B6B6B;
		margin: 7px 2px 0 5px;
	}