<ul class="tags">
<h5><?php echo $this->__('标签'); ?></h5>
    <?php
    $tags = explode(',', $this->getPost()->getTags());

    foreach ($tags as $tag): ?>
        <li><a href="<?php echo Mage::getUrl(Mage::helper('blog')->getRoute() . '/tag/' . urlencode($tag)) ?>"><?php echo $tag ?></a></li>
    <?php endforeach; ?>
</ul>