<div class="panel panel-default sidebar-filter">
    <div class="unclick hidden-xs"></div>

    <div class="panel-heading">
        <h3><?php echo Mage::helper('blog')->__("blog"); ?></h3>
    </div>

    <div>
        <?php if ($posts = $this->getRecent()): ?>
            <div> <!-- menu-recent -->
                <span class="h4 filter-section"><?php echo Mage::helper('blog')->__('最新帖子'); ?></span>
                <ul class="list-filter">
                    <?php foreach ($posts as $post): ?>
                        <li><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>

        <?php if ($this->getCategories()->count() && Mage::getStoreConfig('blog/menu/category')): ?>
            <div> <!-- menu-categories -->
                <span class="h4 filter-section"><?php echo Mage::helper('blog')->__('种类'); ?></span>
                <ul class="list-filter">
                        <?php $cats = $this->getCategories(); ?>
                        <?php foreach ($cats as $cat): ?>
                            <li><a href="<?php echo $cat->getAddress(); ?>" ><?php echo $cat->getTitle(); ?></a></li>
                        <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>

        <?php echo $this->getChildHtml('blog_tags'); ?>
    </div>
    <div class="sidebar-filter-footer"></div>
</div>