<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
?>
<?php $_divId = 'tree' . $this->getId() ?>
<div id="<?php echo $_divId ?>" class="tree"></div>
<script type="text/javascript">
//<![CDATA[
var tree<?php echo $this->getId() ?>;
var useMassaction = <?php echo $this->getUseMassaction()?1:0; ?>;
Ext.tree.TreePanel.Enhanced = function(el, config) {
    Ext.tree.TreePanel.Enhanced.superclass.constructor.call(this, el, config);
};
Ext.extend(Ext.tree.TreePanel.Enhanced, Ext.tree.TreePanel, {
    loadTree : function(config, firstLoad) {
        var parameters = config['parameters'];
        var data = config['data'];
        if ((typeof parameters['root_visible']) != 'undefined') {
            this.rootVisible = parameters['root_visible']*1;
        }
        var root = new Ext.tree.TreeNode(parameters);
        this.nodeHash = {};
        this.setRootNode(root);
        if (firstLoad) {
        <?php if ($this->getNodeClickListener()): ?>
            this.addListener('click', <?php echo $this->getNodeClickListener() ?>.createDelegate(this));
        <?php endif; ?>
        }
        this.loader.buildRegionTree(root, data);
        this.el.dom.innerHTML = '';
        this.render();
    }
});

Ext.onReady(function() {
    var emptyNodeAdded = <?php echo ($this->getWithEmptyNode() ? 'false' : 'true') ?>;
    var regionLoader = new Ext.tree.TreeLoader({
       dataUrl: '<?php echo $this->getLoadTreeUrl() ?>'
    });

    regionLoader.buildRegionTree = function(parent, config) {
        if (!config) {
            return null;
        }
        if (parent && config && config.length) {
            for (var i = 0; i < config.length; i++) {
                var node;
                if (useMassaction) {
                    config[i].uiProvider = Ext.tree.CheckboxNodeUI;
                }
                var _node = Object.clone(config[i]);

                if (!emptyNodeAdded) {
                    var empty = Object.clone(_node);
                    empty.text = '<?php echo $this->__('None') ?>';
                    empty.children = [];
                    empty.id = 'none';
                    empty.path = '1/none';
                    empty.cls = 'leaf';
                    parent.appendChild(new Ext.tree.TreeNode(empty));
                    emptyNodeAdded = true;
                }

                if (_node.children && !_node.children.length) {
                    delete(_node.children);
                    node = new Ext.tree.AsyncTreeNode(_node);
                } else {
                    node = new Ext.tree.TreeNode(config[i]);
                }
                parent.appendChild(node);
                node.loader = node.getOwnerTree().loader;
                node.loader = node.getOwnerTree().loader;
                if (_node.children) {
                    this.buildRegionTree(node, _node.children);
                }
            }
        }
    };

    regionLoader.createNode = function(config) {
        var node;
        if (useMassaction) {
            config.uiProvider = Ext.tree.CheckboxNodeUI;
        }
        var _node = Object.clone(config);
        if (config.children && !config.children.length) {
            delete(config.children);
            node = new Ext.tree.AsyncTreeNode(config);
        } else {
            node = new Ext.tree.TreeNode(config);
        }
        return node;
    };

    regionLoader.buildHash = function(node) {
        var hash = {};

        hash = this.toArray(node.attributes);

        if (node.childNodes.length>0 || (node.loaded==false && node.loading==false)) {
            hash['children'] = new Array;

            for (var i = 0, len = node.childNodes.length; i < len; i++) {
                if (!hash['children']) {
                    hash['children'] = new Array;
                }
                hash['children'].push(this.buildHash(node.childNodes[i]));
            }
        }

        return hash;
    };

    regionLoader.toArray = function(attributes) {
        var data = {};
        for (var key in attributes) {
            var value = attributes[key];
            data[key] = value;
        }
        return data;
    };

    regionLoader.on("beforeload", function(treeLoader, node) {
        treeLoader.baseParams.id = node.attributes.id;
    });

    tree<?php echo $this->getId() ?> = new Ext.tree.TreePanel.Enhanced('<?php echo $_divId ?>', {
        animate:  false,
        loader:   regionLoader,
        enableDD: false,
        containerScroll:  true,
        rootVisible:  '<?php echo $this->getRoot()->getIsVisible() ?>',
        useAjax:  true,
        currentNodeId:<?php echo (int) $this->getRegionId() ?>,
        addNodeTo:false
    });

    if (useMassaction) {
        tree<?php echo $this->getId() ?>.on('check', function(node) {
            $('<?php echo $_divId; ?>').fire('node:changed', {node:node});
        }, tree<?php echo $this->getId() ?>);
    }

    // set the root node
    var parameters = {
        text:'Psw',
        draggable:   false,
        id: <?php echo (int) $this->getRoot()->getId() ?>,
        expanded:   <?php echo (int) $this->getIsWasExpanded() ?>,
        region_id:     <?php echo (int) $this->getRegionId() ?>
    };

    tree<?php echo $this->getId() ?>.loadTree({parameters:parameters, data:<?php echo $this->getTreeJson() ?>},true);

});
//]]>
</script>
