<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Region link widget template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */
?>
<?php $_region = $this->getCurrentRegion();?>
<?php if ($_region) :?>
    <div class="region-widget-link">
        <a href="<?php echo $_region->getRegionUrl()?>"><?php echo $_region->getName()?></a>
    </div>
<?php endif;?>
