<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Region view widget template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */
?>
<?php $_region = $this->getCurrentRegion();?>
<?php if ($_region) :?>
    <div class="region-widget-view">
        <h3><?php echo $_region->getName()?></h3>
        <div>
            <div class="name-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Name');?>:<?php echo $_region->getName();?>
            </div>
            <div class="summary-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Summary');?>:<?php echo $_region->getSummary();?>
            </div>
            <div class="description-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Description');?>:<?php echo $_region->getDescription();?>
            </div>
            <div class="color-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Highlight Color');?>:<?php echo $_region->getColor();?>
            </div>
            <div class="cover-widget">
                <?php if ($_region->getCover()) :?>
    <img src="<?php echo Mage::helper('ibd_travelsuite/region_image')->init($_region, 'cover')->resize(75);?>" alt="<?php echo $this->escapeHtml($_region->getName());?>" />
<?php endif;?>
            </div>

        </div>
    </div>
<?php endif;?>
