<?php echo $this->getFormHtml(); ?>
<div class="entry-edit-head">
	<h4 class="icon-head head-edit-form fieldset-legend">
		<?php echo Mage::helper('ibd_travelsuite')->__('Theme Color Palette'); ?>
	</h4>
</div>
<div id="admin-style-guide" class="box">
	<table>
		<tbody>
			<tr>
				<td class="turquoise">56c4c3</td>
				<td class="teal">348d93</td>
			</tr>
			<tr>
				<td class="sienna">f58941</td>
				<td class="sand">fda858</td>
			</tr>
			<tr>
				<td class="thistle">cfb9df</td>
				<td class="black">000000</td>
			</tr>
			<tr>
				<td class="eggshell">F6F6F5</td>
				<td class="grey">333333</td>
			</tr>
		</tbody>
	</table>
</div>