<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->getTitle(); ?></h4>
</div>
<div class="fieldset">
	<table class="form-list">
		<tbody>
			<tr>
				<td class="label">Regions</td>
				<td class="value">
					<select multiple name="advertisement[regionids][]"
						class="tagsInputMultiSelect"
						data-source-name="ibdSourceRegions"
						data-selected-name="ibdChosenRegions"
						data-options-name="ibdTagOptions">
					</select>
					<p class="note"><span>Start typing to see existing regions</span></p>
				</td>
			</tr>
			<tr>
				<td class="label">Groups</td>
				<td class="value">
					<select multiple name="advertisement[groupids][]"
						class="tagsInputMultiSelect"
						data-source-name="ibdSourceGroups"
						data-selected-name="ibdChosenGroups"
						data-options-name="ibdTagOptions">
					</select>
					<p class="note"><span>Start typing to see existing groups</span></p>
				</td>
			</tr>
			<tr>
				<td class="label">Brands</td>
				<td class="value">
					<select multiple name="advertisement[brandids][]"
						class="tagsInputMultiSelect"
						data-source-name="ibdSourceBrands"
						data-selected-name="ibdChosenBrands"
						data-options-name="ibdTagOptions">
					</select>
					<p class="note"><span>Start typing to see existing brands</span></p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	var ibdSourceRegions = <?php echo $this->getAllTagsJSON('region') ?>;
	var ibdSourceGroups = <?php echo $this->getAllTagsJSON('group') ?>;
	var ibdSourceBrands = <?php echo $this->getAllTagsJSON('brand') ?>;
	var ibdChosenRegions = <?php echo $this->getChosenTagsJSON('region') ?>;
	var ibdChosenGroups = <?php echo $this->getChosenTagsJSON('group') ?>;
	var ibdChosenBrands = <?php echo $this->getChosenTagsJSON('brand') ?>;
	var ibdTagOptions = {
		freeInput : false,
		itemValue : 'id',
		itemText : 'name'
	};
</script>