<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->getTitle(); ?></h4>
</div>
<div class="fieldset">
	<table class="form-list">
		<tbody>
			<tr>
				<td class="label">Sponsors / Ads</td>
				<td class="value">
					<select multiple name="<?php echo $this->getSelectName() ?>[adids][]" class="tagsInputMultiSelect"
						data-source-name="ibdAdSource"
						data-selected-name="ibdAdIds"
						data-options-name="ibdAdOptions">
					</select>
					<p class="note">
						<span>
							Start typing to see existing sponsors / ads
						</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	var ibdAdSource = <?php echo $this->getAllAdsJSON(); ?>;
	var ibdAdIds = <?php echo $this->getRelatedAdIdsJSON(); ?>;
	var ibdAdOptions = {
		freeInput : false,
		itemValue : 'id',
		itemText : 'name'
	};
</script>