<?php $_items = $this->getItems(); ?>
<div class="container-fluid main-container vendor-container">
    <h1><?php echo $this->__('Ordered Items') ?></h1>
    <div class="jumbotron">
        <form name="report_filter" id="report_filter" action="<?php echo Mage::getUrl('*/*/*') ?>" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control datepicker input-text input-text required-entry validate-date  required-entry" name="from" value="<?php echo $this->escapeHtml($this->getRequest()->getPost('from', '')); ?>"/>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control datepicker input-text required-entry validate-date input-text required-entry" name="to" value="<?php echo $this->escapeHtml($this->getRequest()->getPost('to', '')); ?>"/>
                </div>
                <div class="col-md-2">
                    <input type="submit" name="submit" class="btn btn-small" value="<?php echo $this->__('Show Report') ?>" />
                </div>
            </div>
        </form>
    </div>
        <table class="table table-striped">
            <thead>
            <th></th>
            <th><?php echo $this->__('Name') ?></th>
            <th><?php echo $this->__('Product SKU') ?></th>
            <th><?php echo $this->__('Quantity Sold') ?></th>
            <th><?php echo $this->__('Subtotal') ?></th>
            </thead>
            <tbody>
            <?php if($_items->count()): ?>
                <?php foreach($_items AS $_item): ?>
                    <?php $item = Mage::getModel('catalog/product')->load($_item->getProductId()); ?>
                    <tr class="item">
                        <td>
                            <a href="<?php echo $item->getProductUrl() ?>">
                            <img
                                src="<?php echo $this->helper('catalog/image')->init($item, 'small_image')->resize(135); ?>"
                                alt=""/>
                            </a>
                        </td>
                        <td>
                            <a href="<?php echo $item->getProductUrl() ?>"><?php echo $item->getName(); ?>
                            </a>
                        </td>
                        <td><?php echo $item->getSKU(); ?></td>
                        <td><?php echo intval($_item->getItemCount()); ?></td>
                        <td><?php echo Mage::helper('core')->currency($_item->getRowTotal()); ?></td>
                    </tr>
                <?php endforeach; ?>
            <?php else: ?>
                <td colspan="7"><?php echo $this->__('No results')?></td>
            <?php endif; ?>
            </tbody>
            <tfoot>
                <td></td>
                <td><?php echo $this->__('Name') ?></td>
                <td><?php echo $this->__('Product SKU') ?></td>
                <td><?php echo $this->__('Quantity Sold') ?></td>
                <td><?php echo $this->__('Subtotal') ?></td>
            </tfoot>
        </table>
        <?php
        echo $this->getLayout()->createBlock('core/template')
            ->setTemplate('supplierfrontendproductuploader/product/list/pagination.phtml')
            ->setCollection($_items)
            ->toHtml() ?>
</div>

<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('report_filter');
    //]]>
    
    jQuery(document).ready(function($){
        jQuery('.datepicker').datepicker();
    });
</script>
