<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html>
<html>
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>

    <?php echo $this->getChildHtml('after_body_start') ?>
    <?php echo $this->getChildHtml('header') ?>

    <div id="blackout"></div>
    
    <?php echo $this->getChildHtml('homepage_carousel') ?>
    <?php echo $this->getChildHtml('carousel') ?>

    <div class="single-column-container">
        <div class="container">
            <?php echo $this->getChildHtml('global_notices') ?>
            <?php echo $this->getChildHtml('breadcrumbs') ?>
        </div>
        <div class="layout layout-1-col">
            <div class="main-content-bkg container homepage-container-fluid">
                <?php echo $this->getChildHtml('global_messages') ?>
                <?php echo $this->getChildHtml('main_content_widgets') ?>
                <?php echo $this->getChildHtml('content') ?>
            </div><!-- 1column.phtml for .homepage-banner-bkg -->
        </div><!-- 1column.phtml for .layout-1-col -->
    </div><!-- .single-fluid-column-container -->
    
    <?php echo $this->getChildHtml('footer') ?>
    <?php echo $this->getChildHtml('before_body_end') ?>
    <?php echo $this->getAbsoluteFooter() ?>

    <?php echo $this->getChildHtml('slideCart') ?>

</body>
</html>
