<?php
/**
 * IBD_TravelSuite extension
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * travel suite search result item
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */

?>
<div class="list-item list-item-search row">
		<div class="item-image col-sm-4">
			<?php if($this->hasImage()): ?>
				<a href="<?php echo $this->getEntityUrl() ?>">
					<img src="<?php echo $this->getImage(250) ?>"
					alt="<?php $this->_e('thumbnail image') ?>" class="img-responsive">
				</a>
			<?php endif; ?>
		</div>
		<!-- <span class="col-sm-8"></span> -->
		<span class="clearfix"></span>
		<div class="item-description col-sm-8 text-xs-center text-sm-left">
			<a href="<?php echo $this->getEntityUrl() ?>">
				<h3><?php echo $this->getTitle() ?></h3>
				<p><?php echo $this->getSummary() ?></p>
			</a>
		</div>
</div>