<?php
/**
 * IBD_TravelSuite extension
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * travel suite search results
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */

$limit  = Mage::registry('search_limit');
$offset = Mage::registry('search_offset');

$regions = Mage::registry('region_search_results');
$groups  = Mage::registry('group_search_results');
$brands  = Mage::registry('brand_search_results');

$regionCount = sizeof($regions);
$groupCount  = sizeof($groups);
$brandCount  = sizeof($brands);

if($regionCount > 0):
?>
	<h2 class="search-heading"><?php $this->_e('城市和地区'); ?></h2>
	<?php foreach ($regions as $region): ?>
		<?php echo $this->getLayout()->createBlock('ibd_travelsuite/search_item')
											->setEntity($region, 'getRegionUrl')
											->setImageField('cover')
											->toHtml(); ?>
	<?php endforeach;
		// looks like we are on a single type page and we're at the max, show paginator
		if ($brandCount == 0 && $groupCount == 0):
		?>
			<div class="col-xs-12 row"><div id="js-pager" class="clearfix"></div></div>
			<script type="text/javascript">
			window.ibdPaging = {
			    count:<?php echo Mage::registry('region_search_count') ?>,
			    limit:<?php echo $limit ?>,
			    offset:<?php echo $offset ?>,
			    params:'q=<?php echo $this->getParam('q', '') ?>'
			};
			</script>
		<?php
		// only display more link if we're limiting to three and the count is three
		// possible that there are only three... but meh
		elseif($limit == $regionCount): ?>
			<div class="row more">
				<a href="<?php
					Mage::getUrl('ibd_travelsuite/search')
				?>region?limit=15&q=<?php echo $this->getParam('q') ?>">
					<i class="glyphicon glyphicon-search"></i>
					<?php $this->_e('查看更多') ?>
				</a>
			</div>
		<?php endif;
endif;

if($groupCount > 0):
?>
	<h2 class="search-heading"><?php $this->_e('购物目的地'); ?></h2>
	<?php foreach ($groups as $group): ?>
		<?php echo $this->getLayout()->createBlock('ibd_travelsuite/search_item')
											->setEntity($group, 'getGroupUrl')
											->toHtml(); ?>
	<?php endforeach;
		// looks like we are on a single type page and we're at the max, show paginator
		if ($brandCount == 0 && $regionCount == 0):
		?>
			<div class="col-xs-12 row"><div id="js-pager" class="clearfix"></div></div>
			<script type="text/javascript">
			window.ibdPaging = {
			    count:<?php echo Mage::registry('group_search_count') ?>,
			    limit:<?php echo $limit ?>,
			    offset:<?php echo $offset ?>,
			    params:'q=<?php echo $this->getParam('q', '') ?>'
			};
			</script>
		<?php
		// only display more link if we're limiting to three and the count is three
		// possible that there are only three... but meh
		elseif($limit == $groupCount): ?>
		<div class="row more">
			<a href="<?php
				Mage::getUrl('ibd_travelsuite/search')
			?>group?limit=15&q=<?php echo $this->getParam('q') ?>">
				<i class="glyphicon glyphicon-search"></i>
				<?php $this->_e('查看更多组') ?>
			</a>
		</div>
		<?php endif;
endif;

if($brandCount > 0):
?>
	<h2 class="search-heading"><?php $this->_e('品牌和商店'); ?></h2>
	<?php foreach ($brands as $brand): ?>
		<?php echo $this->getLayout()->createBlock('ibd_travelsuite/search_item')
											->setEntity($brand, 'getBrandUrl')
											->toHtml(); ?>
	<?php endforeach;
		// only display more link if we're limiting to three and the count is three
		// possible that there are only three... but meh (also, this page will not
		// be used for brand specific searches)
		if($limit == $brandCount): ?>
		<div class="row more">
			<a href="<?php
				Mage::getUrl('ibd_travelsuite/search')
			?>brand?q=<?php echo $this->getParam('q') ?>">
				<i class="glyphicon glyphicon-search"></i>
				<?php $this->_e('浏览更多品牌') ?>
			</a>
		</div>
		<?php endif;
endif;

if($brandCount == 0 && $groupCount == 0 && $regionCount == 0): ?>
<p class="no-results">
	<?php $this->_e('抱歉，未找到相关内容，请尝试更换地区，或在搜索框中重新搜索...') ?>
</p>
<?php endif;


