<?php 
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Group Brand list template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */
?>
<?php $_brands = $this->getBrands(); ?>
<?php if ($_brands->getSize() > 0) :?>
<div class="brand-title">
    <h2><?php echo Mage::helper('ibd_travelsuite')->__('Brands') ?></h2>
</div>
<div class="brands-list-container">
    <?php foreach ($_brands as $_brand) : ?>
        <div class="brand-list-item">
            <a href="<?php echo $_brand->getBrandUrl()?>">
                <?php echo $_brand->getName();?>
            </a><br />
        </div>
    <?php endforeach;?>
</div>
<?php endif;?>
