<?php // From: http://fastdivision.com/2011/10/06/diy-magento-create-a-quick-view-for-your-magento-theme/ ?>

<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="quick-view quickview-modal col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <div class="container-fluid">
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
            <div class="col-sm-6">
        	   <?php echo $this->getChildHtml('media') ?>
            </div>
            <div class="col-sm-6 quickview-product-info">
                
                <?php // Get the brands associated with product ?>
                <?php $brands = Mage::helper('ibd_travelsuite/product')->getSelectedBrands($_product);
                if ($brands) {foreach ($brands as $brand) {echo '<h4 class="product-name">' . $brand->getName() . '</h4>';}}?>
                <h4 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h4>
             
            	<?php //echo $this->getReviewsSummaryHtml($_product) ?>
            	<?php echo $this->getPriceHtml($_product) ?>
                <?php echo $this->getTierPriceHtml() ?>
                <?php echo $this->getChildHtml('alert_urls') ?>
                <div class="product-type-data">
                    <?php // echo $this->getChildHtml('product_type_data') ?>
                </div>
                <?php echo $this->getChildHtml('extrahint') ?>
                <?php echo $this->getChildHtml('other') ?>
             
            	<?php if(!$_product->isSaleable()): ?>
            	    <div id="availability"><?php echo $this->__('Out Of Stock') ?></div>
            	<?php endif; ?>
                
                <a href="<?php echo $_product->getProductUrl() ?>" class="quickview-product-link"><?php echo $this->__('View Full Details') ?>&nbsp;<i class="fa fa-caret-right"></i></a>
             
            	<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="order-form" <?php if($_product->getOptions()): ?>enctype="multipart/form-data"<?php endif; ?>>
                    <?php
                    $layer = Mage::getSingleton('catalog/layer');
                    $_category = $layer->getCurrentCategory();
                    $currentCategoryId = $_category->getId();
                    $categoryURL = Mage::getModel("catalog/category")->load($currentCategoryId)->getUrl();
                    ?>
                    <input type="hidden" name="return_url" value="<?php echo $categoryURL; ?>" />
            		<?php if($_product->isSaleable()): ?>
            			<?php if($this->hasOptions()): ?>
            				<?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            				<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            			<?php endif; ?>
                        <div class="quickview-addtocart">
            			 <?php echo $this->getChildHtml('addtocart') ?>
                        </div>
            		<?php endif; ?>
            	</form>

            </div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </div> <!-- .container-fluid -->
</div>
<script type="text/javascript">
    var productAddToCartForm = new VarienForm('order-form');
    productAddToCartForm.submit = function(button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;
 
            if (url) {
               form.action = url;
            }
 
            var e = null;
            this.form.action = oldUrl;
	    form.submit();
 
            if (e) {
                throw e;
            }
 
            if (button && button != 'undefined') {
                button.disabled = true;
            }
 
	    return false;
        }
    }.bind(productAddToCartForm);
</script>
