<div class="panel panel-default sidebar-sponsors">
	<?php foreach ($this->getAdCollection() as $ad): $closingTags = ''; ?>
	<div class="sponsor">
    	<?php if($ad->getUrl()): $closingTags = '</a>'; ?>
    	   <a href="<?php echo $ad->getUrl(); if($ad->getNewWindow()) echo '" target="_blank'; ?>">
    	<?php endif ?>
	    <img src="<?php echo $this->getAdImageUrl($ad) ?>" alt="<?php echo $ad->getImgAltText() ?>"
	    	title="<?php echo $ad->getImgTitle() ?>" class="img-responsive">
		<?php if($closingTags) echo $closingTags; ?>
	</div>
	<?php endforeach; ?>
</div>