<?php
$entity = $this->getEntity();
$iconPosition = $entity->getBannerIconPosition();
$titleHelper = Mage::helper('ibd_travelsuite/title');
$titleAfter = ( $iconPosition == $titleHelper::ICON_ABOVE || $iconPosition == $titleHelper::ICON_LEFT );
?>
<h1 class="panel-title title-align-<?php echo $entity->getBannerAlign() ?> title-icon-pos-<?php echo $iconPosition ?> h2">

	<?php if(!$titleAfter) echo $this->getTitle() ?>
	<?php if( $entity->getBannerIcon() ) : ?>
	<img src="<?php echo Mage::helper('ibd_travelsuite/title_image')->init($entity, 'banner_icon') ?>" alt="icon">
	<?php endif; ?>
	<?php if($titleAfter) echo $this->getTitle() ?>
</h1>