<?php
$adSingleton = Mage::getSingleton('ibd_homepagebanner/advertisement');

// full width images
$fullwidthImages = $adSingleton->getCollectionByLocation($adSingleton::FULLWIDTH);
if ($fullwidthImages->count() ==1 ) :?>
	<?php foreach ($fullwidthImages as $ad): $closingTags = ''; ?>

    	<?php if($ad->getUrl()): $closingTags = '</a>'; ?>
    	   <a href="<?php echo $ad->getUrl(); if($ad->getNewWindow()) echo '" target="_blank'; ?>">
    	<?php else: $closingTags = ''; endif; ?>

        <div id="content-image">
            <img src="<?php // print a hidden image for SEO
            	echo (string) Mage::helper('ibd_homepagebanner/advertisement_image')->init($ad);
            ?>" alt="<?php echo $ad->getImgAltText() ?>" title="<?php echo $ad->getImgTitle() ?>" class="img-responsive">

        </div>

		<?php echo $closingTags;

    endforeach;
endif;