<?php
$ads = $this->getAds(1, IBD_HomepageBanner_Model_Advertisement::FULLWIDTH);
if ($ads->count() == 1 ) :?>
<div id="banner-below-the-fold" class="fullwidth-content-item"><div>
	<div>
		<?php foreach ($ads as $ad): $closingTags = ''; ?>
		<?php if($ad->getUrl()): $closingTags = '</a>'; ?>
		<a href="<?php echo $ad->getUrl(); if($ad->getNewWindow()) echo '" target="_blank'; ?>">
		<?php else: $closingTags = ''; endif; ?>
		<img src="<?php
			echo Mage::helper('ibd_homepagebanner/advertisement_image')->getImageBaseUrl() . $ad->getImage();
		?>" alt="<?php echo $ad->getImgAltText() ?>" title="<?php echo $ad->getImgTitle() ?>" class="img-responsive">
		<?php echo $closingTags; endforeach; ?>
	</div>
</div>
<?php endif;