<?php
$brands = $this->getBrandShowcase();
if ($brands->count() > 0) : ?>
	<h2><?php $this->_e('Brand Showcase'); ?></h2>
	<div id="brand-showcase" class="brand-showcase">
		<div class="showcased-brands">
			<?php foreach ($brands as $brand):
				$productImageUrl = $brand->getProductImage()
										? $this->i()->init($brand, 'product_image')->resize(350)
										: $brand->getLinkedProductImage('thumbnail', 350); ?>
			<a href="<?php echo $brand->getBrandUrl() ?>">
				<div class="col-xs-6 col-sm-4<?php if($brand->getLogo()) echo ' has-logo'; ?>">
					<?php if($productImageUrl): ?>
						<div class="">
							<span class=""></span>
							<img src="<?php echo $productImageUrl ?>"
								alt="<?php $this->_e('特色产品') ?>" class="">
						</div>
					<?php endif ?>
				</div>
			</a>
			<?php endforeach; ?>
		</div>
	</div>
<?php endif;