<?php
$adSingleton = Mage::getSingleton('ibd_homepagebanner/advertisement');

// carousel images
$carouselImages = $adSingleton->getCollectionByLocation($adSingleton::CAROUSEL);
$imageCount = $carouselImages->count();
if($imageCount > 0): ?>
<div class="container-fluid homepage-banner-bkg">
    <div id="homepage-banner">

		<!-- placeholder carousel -->
		<div id="home-carousel" class="home-carousel carousel slide" data-ride="carousel">

		  <?php if($imageCount > 1): ?>
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<?php $dataslide = 0;
				foreach ($carouselImages as $carouselImage): ?>
					<li data-target="#home-carousel" data-slide-to="<?php echo $dataslide?>" class="<?php if($dataslide == 0) echo 'active'; ?>"></li>
					<?php $dataslide++;
				endforeach; ?>
			</ol>
		  <?php endif ?>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<?php $count = 0; ?>
				<?php foreach ($carouselImages as $carouselImage): ?>
					<div class="carousel-item item<?php if( !$count ) echo ' active'; ?>">					
						<?php if($carouselImage->getUrl()): $closingTags = '</a>'; ?>
					   	<a href="<?php echo $carouselImage->getUrl(); if($carouselImage->getNewWindow()) echo '" target="_blank'; ?>">
						<?php else: $closingTags = ''; endif; ?>
							<img src="<?php 
								echo (string) Mage::helper('ibd_homepagebanner/advertisement_image')->init($carouselImage);
							?>" alt="<?php
								echo $carouselImage->getImgAltText()
							?>" title="<?php
								echo $carouselImage->getImgTitle()
							?>">
						<?php echo $closingTags; ?>
					</div>
				<?php $count++; ?>
				<?php endforeach; ?>

				<!-- Display Quick-links -->
				<?php echo $this->getChildHtml('carousel.quicklinks'); ?>

			  <?php if($imageCount > 1): ?>
				<!-- Controls -->
				<a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">上一个</span>
				</a>
				<a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">下一个</span>
				</a>
			  <?php endif ?>

			</div> <!-- .carousel-inner -->
		</div> <!-- #home-carousel -->

    </div> <!-- #homepage-banner -->
</div> <!-- #homepage-banner-bkg -->
<?php endif; ?>
