<?php
$adSingleton = Mage::getSingleton('ibd_homepagebanner/advertisement');

// banner images (left, 2/3rds)
$bannersImages = $adSingleton->getCollectionByLocation($adSingleton::BANNERS);
if ($bannersImages->count() > 0) : ?>
	<div id="brand-showcase" class="brand-showcase">


		<div id="banner">
		<?php foreach ($bannersImages as $bannersImage): ?>
    	<?php if($bannersImage->getUrl()): $closingTags = '</a>'; ?>
    	   <a href="<?php echo $bannersImage->getUrl(); if($bannersImage->getNewWindow()) echo '" target="_blank'; ?>">
    	<?php else: $closingTags = ''; endif; ?>

        <div class="banner-item">
            <img class="img-responsive" src="<?php // print a hidden image for SEO
            	echo (string) Mage::helper('ibd_homepagebanner/advertisement_image')->init($bannersImage);
            ?>" alt="<?php echo $bannersImage->getImgAltText() ?>" title="<?php echo $bannersImage->getImgTitle() ?>" >

        </div>

		<?php echo $closingTags;
		endforeach; ?>
		</div>
	</div>
<?php endif;