<?php
$adSingleton = Mage::getSingleton('ibd_homepagebanner/advertisement');

// carousel quicklinks
$quicklinkImages = $adSingleton->getCollectionByLocation($adSingleton::QUICKLINKS);
if($quicklinkImages->count() > 0): ?>

<div class="container quicklinks hidden-xs">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
			<div id="quicklinks">
					<?php foreach ($quicklinkImages as $quicklinkImage): ?>
						<?php if($quicklinkImage->getUrl()): $closingTags = '</a>'; ?>
							<a href="<?php echo $quicklinkImage->getUrl(); if($quicklinkImage->getNewWindow()) echo '" target="_blank'; ?>">
						<?php else: $closingTags = ''; endif; ?>

						<div class="quicklink col-sm-4 hidden-xs">
							<img src="<?php echo (string) Mage::helper('ibd_homepagebanner/advertisement_image')->init($quicklinkImage); ?>" class="img-responsive" alt="<?php echo $quicklinkImage->getImgAltText() ?>" title="<?php echo $quicklinkImage->getImgTitle() ?>">
						</div>

						<?php echo $closingTags;
					endforeach; ?>
			</div>
		</div>
	</div>
</div> <!-- .quicklinks -->

<?php endif;