<?php
$adSingleton = Mage::getSingleton('ibd_homepagebanner/advertisement');

// homepage showcase images
$showcaseImages =  $adSingleton->getCollectionByLocation($adSingleton::SHOWCASE);
if ($showcaseImages->count() > 0) : ?>
	<div id="showcase" class="showcase">
		<div class="showcase">
			<?php foreach ($showcaseImages as $showcaseImage): ?>
    	<?php if($showcaseImage->getUrl()): $closingTags = '</a>'; ?>
    	   <a href="<?php echo $showcaseImage->getUrl(); if($showcaseImage->getNewWindow()) echo '" target="_blank'; ?>">
    	<?php else: $closingTags = ''; endif; ?>

        <div class="showcase-item col-sm-4 col-xs-6">
            <img src="<?php // print a hidden image for SEO
            	echo (string) Mage::helper('ibd_homepagebanner/advertisement_image')->init($showcaseImage);
            ?>" class="img-responsive" alt="<?php echo $showcaseImage->getImgAltText() ?>" title="<?php echo $showcaseImage->getImgTitle() ?>">

        </div>

		<?php echo $closingTags;
			 endforeach; ?>
		</div>
	</div>
<?php endif;