<?php
$adSingleton = Mage::getSingleton('ibd_homepagebanner/advertisement');

// sidebar images (right, 1/3rd)
$sidebarImages = $adSingleton->getCollectionByLocation($adSingleton::SIDEBAR);
if ($sidebarImages->count() > 0) : ?>
    <div id="content-image-column">


        <div>
            <?php foreach ($sidebarImages as $sidebarImage): ?>
        <?php if($sidebarImage->getUrl()): $closingTags = '</a>'; ?>
           <a href="<?php echo $sidebarImage->getUrl(); if($sidebarImage->getNewWindow()) echo '" target="_blank'; ?>">
        <?php else: $closingTags = ''; endif; ?>

        <div class="content-image">
            <img class="img-responsive" src="<?php
                echo (string) Mage::helper('ibd_homepagebanner/advertisement_image')->init($sidebarImage);
            ?>" alt="<?php echo $sidebarImage->getImgAltText() ?>" title="<?php echo $sidebarImage->getImgTitle() ?>">
        </div>

        <?php echo $closingTags;
             endforeach; ?>
        </div>
    </div>
<?php endif;