<?php
$tiles = $this->getTiles();
if($tiles->count() > 0): ?>
<div id="banner-tiles">
<?php foreach ($tiles as $tile):
	$iconUrl = null;
	if($tile->getIcon()){
		$iconUrl = Mage::helper('ibd_homepagebanner/bannertile_image')->getImageBaseUrl() . $tile->getIcon();
	}
?>
	<div class="col-xs-4">
		<a class="tile auto-text-color" href="<?php echo $tile->getUrl(); ?>"<?php
			if($tile->getNewWindow()) echo ' target="_blank"'; ?>
			style="color:#<?php echo $tile->getForeColor() ?>">
			<div class="tile"  style="background-color: #<?php echo $tile->getBackgroundColor(); ?>;">
				<?php if($iconUrl): ?><img src="<?php echo $iconUrl; ?>" alt="tile icon" class="tile-icon"><?php endif; ?>
				<?php if(false): // don't display these things ?>
					<!-- no longer using the title and text, only images -->
					<p class="h3 tile-heading"><?php echo $tile->getTitle(); ?></p>
					<p class="h4 tile-text hidden-sm"><?php echo $tile->getText(); ?></p>
				<?php endif; ?>
			</div>
		</a>
	</div>
<?php endforeach; ?>
</div>
<?php endif;