<div class="container-fluid homepage-banner-bkg">
    <div id="homepage-banner">

        <?php echo $this->getChildHtml('homepage_banner.carousel'); ?>

        <div class="container">
            <div class="row showcase-row">
                <div class="col-sm-12 col-lg-10 col-lg-offset-1 showcase">
                    <?php echo $this->getChildHtml('homepage_banner.showcase'); ?>
                </div>
            </div>
            <div class="row fullwidth-content-image-row">
                <div class="col-sm-12 col-lg-10 col-lg-offset-1 fullwidth-content-images">
                   <?php echo $this->getChildHtml('homepage_banner.banner_ad'); ?>
                </div>
            </div>
            <div class="row banners-row">
                <div class="col-sm-8 col-lg-7 col-lg-offset-1 banners">
                    <?php echo $this->getChildHtml('homepage_banner.homepage_banners'); ?>
                </div>
                <div class="col-sm-4 col-lg-3 sidebar-content-images">
                    <?php echo $this->getChildHtml('homepage_banner.side_bar_ads'); ?>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- #homepage-banner -->
</div> <!-- #homepage-banner-bkg -->
