<?php 
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Region Group list template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */

$groups = $this->getGroups();
$length = count($groups);
$i = 0;
?>
<?php if ($groups->getSize() > 0) :?>
    <div class="group-title">
        <h3><?php echo Mage::helper('ibd_travelsuite')->__('购物地点') ?></h3>
    </div>
    <div class="groups-list-container">
        <div class="list-item row">
        <?php foreach ($groups as $group) : $i++?>
                <div class="col-sm-6">
                    <div class="group-image">
                    	<?php if($group->hasImage()): ?>
                        <a href="<?php echo $group->getGroupUrl()?>">
                        	<img src="<?php echo (string) Mage::helper('ibd_travelsuite/group_image')->init($group, 'image')->resize(400) ?>" alt="<?php echo $this->escapeHtml($group->getName());?>" class="img-responsive" />
                        </a>
                    	<?php endif; ?>
                    </div>
                    <div class="group-info text-xs-center">
                        <a href="<?php echo $group->getGroupUrl()?>">
                        	<h3><?php echo $group->getName() ?></h3>
                        	<p><?php echo $group->getSummary() ?></p>
                        </a>
                    </div>
                </div>
                <?php if ( $i % 2 == 0 ) : ?>
                <div class="clearfix"></div>
                <?php endif; ?>
        <?php endforeach;?>
        </div>
    </div>
<?php endif;?>
