<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Group view widget template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */
?>
<?php $_group = $this->getCurrentGroup();?>
<?php if ($_group) :?>
    <div class="group-widget-view">
        <h3><?php echo $_group->getName()?></h3>
        <div>
            <div class="name-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Name');?>:<?php echo $_group->getName();?>
            </div>
            <div class="summary-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Summary');?>:<?php echo $_group->getSummary();?>
            </div>
            <div class="description-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Detailed Description');?>:<?php echo $_group->getDescription();?>
            </div>
            <div class="html-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Extra HTML');?>:<?php echo $_group->getHtml();?>
            </div>
            <div class="color-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Highlight Color');?>:<?php echo $_group->getColor();?>
            </div>
            <div class="image-widget">
                    <?php if ($_group->getImage()) :?>
        <a href="<?php echo Mage::helper('ibd_travelsuite/group')->getFileBaseUrl().$_group->getImage();?>">
            <span><?php echo basename($_group->getImage())?></span>
        </a>
    <?php endif;?>
            </div>

        </div>
    </div>
<?php endif;?>
