<div class="container geo-filters siyuan">
    <div class="col-sm-12 col-lg-10 col-lg-offset-1">
        <?php $geoHier = Mage::helper('ibd_travelsuite')->getGeographyHierarchy(); ?>
        <h4><?php $this->_e('按地区浏览'); ?></h4>
        <div class="travel-filters row">
            <?php foreach ($geoHier as $continentId => $continent): ?>
                <div class="continent col-sm-6 col-md-4">
                    <span class="h5"><?php echo $continent['name']; ?></span><span class="clearfix hidden-xs"></span>
                    <?php
                    $cLen = sizeof($continent['countries']);
                    $i = 0;
                    foreach ($continent['countries'] as $countryId => $countryName):
                        $i=$i+1; ?>
                        <a href="<?php echo Mage::getUrl('ibd_travelsuite/search') ?>?country=<?php echo $countryName; ?>"<?php
                            if($cLen == $i) { echo ' class="last"'; } ?> target="_blank">
                            <?php echo $countryName; ?>
                        </a>
                        <?php if($cLen > $i) { echo '<span class="country-pipe hidden-xs"></span>'; } ?>
                    <?php endforeach; ?>
                </div>
            <?php endforeach; ?>
            <form class="col-xs-12 col-sm-6" action="<?php echo Mage::getUrl('ibd_travelsuite/search') ?>">
                <input class="col-xs-8" type="text" placeholder="<?php $this->_e('搜索...'); ?>" name="q">
                <input class="col-xs-4" type="submit" value="<?php $this->_e('搜索'); ?>">
            </form>
        </div>
    </div>
</div>