<?php $_menu = $this->getHtml('level-top');
$logo_alt = Mage::getStoreConfig('design/header/logo_alt');
$logo_src = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'frontend/ibd/default/images/' . Mage::getStoreConfig('design/header/logo_src'); ?>
<nav class="navbar navbar-inverse navbar-main siyuan" role="navigation">
    <div class="container">

            <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="sr-only"><?php echo $this->__('Toggle Navigation') ?></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->getUrl(''); ?>?____store=default"><img src="<?php  echo $logo_src; ?>" alt="<?php echo $logo_alt; ?>" /></a>
            </div>

            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                	<?php echo $this->getChildHtml('ibd_main_nav_cms_block'); ?>
                    <?php echo $_menu; ?>
                </ul>

                <div class="navbar-form" role="search">
                    <?php echo $this->getChildHtml('topSearch'); ?>
                </div>
            </div>

    </div>
</nav>
<div class="sub-nav-hr"></div>