<?php if($this->hasTopSection()): ?>
<div class="top-section">
	<?php if($this->getPage()->getIbdTopsectionTitle()): ?>
	<div class="col-sm-12">
		<h2 class="top-section-title"><?php echo $this->getPage()->getIbdTopsectionTitle(); ?></h2>
	</div>
	<?php endif; ?>
	
	<?php if($this->getPage()->getIbdTopsectionImage()): ?>	
	<div class="col-sm-6">
		<div class="top-banner">
		<?php if($this->getPage()->getIbdTopsectionTabText()): ?>

			<div class="image-banner" style="<?php echo 'background-color:#'.$this->getPage()->getIbdTopsectionColor() ?>">
				<div class="banner-ribbon" style="border-right-color: #<?php echo $this->getPage()->getIbdTopsectionColor()?>;"></div>

				<h5 class="text-center auto-text-color" style="color:#<?php echo $this->getPage()->getIbdTopsectionForeColor() ?>">
					<?php echo $this->getPage()->getIbdTopsectionTabText(); ?>
				</h5>
			</div>
		<?php endif; ?>

		<?php if($this->getPage()->getIbdTopsectionUrl()): ?>
		<a href="<?php echo $this->getPage()->getIbdTopsectionUrl()?>">
		<?php endif; ?>

			<img src="<?php echo $this->getIbdTopsectionImageUrl(); ?>" alt="top-section image" class="img-responsive">
		
		<?php if($this->getPage()->getIbdTopsectionUrl()): ?></a>
		<?php endif; ?>
		</div>
	</div>
	<?php endif; ?>
</div>
<?php endif; ?>
