<?php if($this->getPage()) :?>
<div id="ibd-page-header"<?php echo $this->getWrapperStyle(); ?> class="siyuan">
	<div class="container"<?php echo $this->getContainerStyle(); ?>>
		<div class="col-sm-12 col-lg-10 col-lg-offset-1">
			<h1 style="color:#<?php echo $this->getPage()->getIbdHeaderForeColor() ?>">
				<?php echo $this->getPage()->getIbdHeaderTitle(); ?>
			</h1>
			<p style="color:#<?php echo $this->getPage()->getIbdHeaderForeColor() ?>">
				<?php echo $this->getPage()->getIbdHeaderText(); ?>
			</p>
		</div>
	</div>
</div>
<?php endif ?>