<?php 
$adSingleton = Mage::getSingleton('ibd_homepagebanner/advertisement');
$travelImages = $adSingleton->getCollectionByLocation($adSingleton::TRAVEL);

if ( $travelImages ) : ?>
<div class="travel_showcase container">
	<div class="col-sm-12 col-lg-10 col-lg-offset-1">
		<?php foreach ($travelImages as $showcase) : $closingTag = ''; ?>
			<div class="col-xs-6 col-sm-4">
				<?php if ( $showcase->getUrl() ) : $closingTag = '</a>' ?>
					<a href="<?php echo $showcase->getUrl() ?>"<?php
						if($showcase->getNewWindow()) echo ' target="_blank"';
					?>>
				<?php endif; ?>
				<img src="<?php
					echo Mage::helper('ibd_homepagebanner/advertisement_image')->getImageBaseUrl() . $showcase->getImage(); ?>"
					alt="<?php echo $showcase->getImgAltText() ?>"
					title="<?php echo $showcase->getImgTitle() ?>"
					class="img-responsive">
				<?php echo $closingTag; ?>
			</div>
		<?php endforeach; ?>
	</div>
</div>
<?php endif; ?>