<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<div class="social-signup-footer">
	<div class="container">
		<div class="col-sm-12">
      <div class="col-md-3 text-left social-icons">
        <?php echo $this->getChildHtml('footer_social') ?>
      </div>
			<div class="col-md-9 about">
        	<?php echo $this->getChildHtml('footer_social_right') ?>
      </div>
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .social-signup-footer -->

<div class="container">
	<footer role="contentinfo" class="row footer-menu">
    <div id="footer-column-1" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <?php echo $this->getChildHtml('footer_col1') ?>
    </div>
		<div id="footer-column-2" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        	<?php echo $this->getChildHtml('footer_col2') ?>
    </div>
    <div class="clearfix visible-sm visible-xs"></div>
		<div id="footer-column-3" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    	<?php echo $this->getChildHtml('footer_col3') ?>
    </div>
		<div id="footer-column-4" class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    	<?php echo $this->getChildHtml('footer_col4') ?>
    </div>
		<div class="clearfix"></div>
		<div class="col-xs-12">
			<address><?php echo $this->getCopyright() ?></address>
		</div>
    </footer>
</div>
<?php if(Mage::helper('ibd_travelsuite')->isProduction()): ?>
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.gorobot.co/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 5]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//analytics.gorobot.co/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
<?php else: ?>
  <!-- Skipped Piwik -->
<?php endif; ?>
<div id="is-xs" class="size-test visible-xs"></div>
<div id="is-sm" class="size-test visible-sm"></div>
<div id="is-md" class="size-test visible-md"></div>
<div id="is-lg" class="size-test visible-lg"></div>
<?php if($pageFloatHtml = $this->getChildHtml('page_float')): ?>
  <?php $blocks = Mage::getModel('cms/block')->getCollection()->addFieldToFilter( 'identifier', 'page_float' );
    foreach( $blocks as $block ) :
      $update_time = $block['update_time'];
    endforeach;
    ?>
<div id="page-float" data-update-time="<?php echo $update_time; ?>">
  <div class="content">
    <div class="main"><?php echo $pageFloatHtml ?></div>
    <div class="foot h5 row">
      <div class="col-xs-10 col-xs-offset-1">
        <button href="#" class="go-to-top" title="go to top"><i class="glyphicon glyphicon-arrow-up"></i>&nbsp;<span class="text">回到顶部</span></button>
      </div>
      <div class="col-xs-1">
        <button href="#" class="minimize" title="minimize"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
  <div class="minimized">
    <button href="#" class="maximize"><i class="glyphicon glyphicon-resize-full"></i></button>
  </div>
</div>
<?php endif ?>