<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */

    //$_categoryId = 12; // travel
    $_categoryId = 17; // san sebastian
    $_category = new Mage_Catalog_Model_Category();
    $_category->load($_categoryId);
    $_productCollection = $_category->getProductCollection();
    //$_productCollection->addAttributeToSelect('*');
    $_helper = $this->helper('catalog/output');
?>
<h2><?php echo $_category->getName(); ?></h2>
 
<?php if(!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <div class="category-products">
        <ul class="products-grid">
            <?php foreach ($_productCollection as $_product): ?>
                <li class="item">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    </a>
                </li>
            <?php endforeach ?>
        </ul>
    </div>
<?php endif; ?>
