@charset "utf-8";
@font-face{font-family:Ostrich;src:url(../font/ostrich-regular.ttf)}
@font-face{font-family:Ostrich;src:url(../font/ostrich-black.ttf);font-weight:900}
@font-face{font-family:Ostrich;src:url(../font/ostrich-bold.ttf);font-weight:bold}
@font-face{font-family:Ostrich;src:url(../font/ostrich-light.ttf);font-weight:100}

@font-face{font-family:Gothic;src:url(../font/GOTHIC_0.TTF)}
@font-face{font-family:Gothic;src:url(../font/GOTHICB_0.TTF);font-weight:bold}
@font-face{font-family:Gothic;src:url(../font/GOTHICBI_0.TTF);font-weight:bold;font-style:italic}
@font-face{font-family:Gothic;src:url(../font/GOTHICI_0.TTF);font-style:italic}
/* CSS Document */
body{margin:0;padding:0; font-family:"Open Sans" ;font-size:12px;color:#333}
div,ul,ol,li,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,img,input,form,button,table,td,textarea,span,pre,lebal,select,option{padding:0;border:0;margin:0}
li{list-style-type:none}

button,input,textarea,select{font:100% "Open Sans"}
img,li{vertical-align:top}
img{line-height:0;overflow:hidden;font-size:0}

.clear{clear:both}
.hide{display:none}

/*链接样式*/
.top,.logo,.nav,.banner,.brand,.shop,.flash,.bottom,.submenu,.copyright{margin:0 auto;width:1008px}

a:hover{color:#a6100a;text-decoration:none;}
a{text-decoration:none;color:#333}
a.no-hover:hover{color:inherit;}

/* Sign Up Button */
.signup-section {}
.signup-btn {border-radius: 2px;padding: 4px 25px;display: inline-block;text-transform: uppercase;margin-bottom: 43px;top: -85px;position: relative;left: 70%;margin: 0 auto;height:22px;width:215px;background: url(../images/an2-long.png) no-repeat;font-size: 14px;color: #FFF;padding-top: 1px;padding-left: 17px;cursor: pointer;}
.signup-btn:hover {color:#fff;}
}

/**top**/
.top_bg{height:6px;background:url(../images/top_bg.jpg) repeat-x}
.top{padding:18px 0 36px 0;text-align:right;font-family:"Open Sans";font-size:12px;color:#333}
.logo{padding-bottom:0;line-height:152px;font-size:32px;font-family:Gothic;text-transform:uppercase}
#nav{height:42px;line-height:42px;background: url(../images/nav_bg.jpg) center no-repeat;margin-bottom:3px}
.nav{ }
.menu{float:left;font-size:18px;font-family:Gothic;text-transform:uppercase}
.menu a{color:#FFF;margin-right:18px}
.menu a:hover{text-decoration:underline;}
.search{float:right;padding-top:5px}

/************************************index************************************/
#banner{background:#dfdada url(../images/banner_bg_03.jpg) no-repeat center top;border-top:dashed 1px #000;height:623px}
.banner{padding-top:23px}
.main_left{float:left;width:255px}
.main_left a{color:#FFF}
.main_left a:hover{text-decoration:none;color:#e8e8e8}
.main_left dl{width:234px;height:108px;padding-left:18px;padding-top:22px;margin-bottom:14px}
.main_left dl dt{height:25px;padding-left:48px;font-family:Ostrich;text-transform:uppercase;font-size:42px;height:45px}
.main_left dl dd{font-size:18px;font-family:Gothic;text-transform:uppercase;line-height:24px}

.main_left dl.m1{ background:url(../images/main_left1.png) no-repeat}
.main_left dl.m2{background:url(../images/main_left2.png) no-repeat}
.main_left dl.m3{background:url(../images/main_left3.png) no-repeat}
.main_left dl.m4{background:url(../images/main_left4.png) no-repeat;margin:0}

.coming-soon-container {float:right;width:730px;height:542px;position:relative;}
.coming-soon {float: right;width: 738px;height: 550px;border: none;background-image: url('../images/comingsoon.png');position: absolute;top: 0px;left: -8px;background-size: 738px 550px;background-repeat: no-repeat;}

.main_right{float:right;width:730px;height:542px;border:solid 4px #eb9316;background:#FFF}
.package{width:271px;border-right: solid #e0e0e0 1px;float:left}
.package span{display:block;height:166px;background:#1a2634;text-align:center;color:#FFF;font-size:58px;font-family:Ostrich;font-weight:bold;line-height:54px;padding-top:15px}
.package input{width:197px;height:34px;background:url(../images/button1_bg.png) no-repeat;color:#FFF;font-size:16px;text-transform:uppercase;padding-right:18px;cursor:pointer;margin-top:5px}
.package input:hover{background:url(../images/button1_bg2.png) no-repeat}
ul.single{float:left;width:458px}
ul.single li{width:228px;height:166px;border-right: solid 1px #e0e0e0;border-bottom:solid 1px #e0e0e0;text-align:center;padding-top:15px;float:left}
ul.single li div{font-family:Ostrich;font-size:35px;height:34px}
ul.single li p{height:22px;color:#a6100a;font-size:14px}
ul.single li span{display:block;height:25px}
ul.single li a{text-decoration:underline}
ul.single li span img{padding-top:2px}
ul.single li div a{text-decoration:none}

.list{padding:12px 0 0 595px;margin:0 auto ;width:413px}


#public{background:url(../images/public_bg.jpg)center;height:145px}
ul.public{margin:0 auto;width:1188px;height:145px}
ul.public li{float:left;height:145px}
ul.public li div{color:#FFF;font-size:42px;font-family:Ostrich;font-weight:bold;text-transform:uppercase;padding-top:28px}
ul.public li p{font-size:18px;font-family:Gothic;text-transform:uppercase;line-height:24px;color:#FFF; padding-top:12px}
ul.public li.public1{width:354px;padding-left:60px;text-align:center}
ul.public li.public1:hover{background:url(../images/public_bg2_03.jpg) center;cursor:pointer}

ul.public li.public2{width:360px;text-align:center}
ul.public li.public2:hover{background: url(../images/public_bg2_04.jpg) center;cursor:pointer}

ul.public li.public3{width:390px;text-align:center;padding-right:19px}
ul.public li.public3:hover{ cursor:pointer;background: url(../images/public_bg2_05.jpg) left no-repeat}

.brand{padding-top:60px}
.brand_title{height:88px; color:#000;font-size:58px;font-family:Ostrich;font-weight:bold;text-align:center}
.brandbg{background:#1a2634;width:977px;height:468px;margin:0 auto;padding:15px}
dl.brand_logo{float:left;width:222px}
dl.brand_logo dt{ height:140px;text-align:center;background:#FFF;line-height:140px}
dl.brand_logo dt img{margin-top:10%}
dl.brand_logo dd{height:240px;overflow:hidden}
dl.brand_logo dd span{display:block;padding-top:20px;color:#c3dbe3;font-family:Ostrich;text-transform:uppercase;font-size:42px;font-weight:bold}
dl.brand_logo dd p{font-size:18px;font-family:Gothic;text-transform:uppercase;line-height:24px;color:#FFF;padding-top:10px}
.brand_content{float:right;background:#FFF;width:701px;padding:25px;padding-right:0}
dl.product_big{float:left;padding-right:28px}
dl.product_big dt{ float:left;padding-right:15px}
dl.product_big dd{float:left;width:206px}
dl.product_big dd div{padding-bottom:20px;font-family:Ostrich;text-transform:uppercase;font-size:42px;font-weight:bold;line-height:38px}
dl.product_big dd p{font-size:14px;line-height:20px;padding-bottom:20px}
dl.product_big dd input{width:104px;height:22px;background:url(../images/an1.png) no-repeat;font-size:14px;color:#FFF;cursor:pointer;}
dl.product_small{float:left;padding-bottom:28px}
dl.product_big dd div a{text-decoration:none}



#shop{margin-top:75px;background:#f6f6f5;padding-bottom:60px;border-top:solid 3px #e2e2e2}
.shop{position:relative}
.logo2{ height:40px;position:absolute;top:-21px;left:440px}
.shop_title{color:#000;font-size:58px;font-family:Ostrich;font-weight:bold;text-align:center;padding-top:76px;padding-bottom:46px}
.shop_title span{display:block;padding-top:8px;font-size:18px;font-family:Gothic;text-transform:uppercase;font-weight:normal}
ul.shop_content{}
ul.shop_content li{float:left;width:320px;margin-right:24px}
ul.shop_content li dl.shop1{position:relative;z-index:1}
ul.shop_content li dl.shop1 dt{height:265px;border-bottom:3px solid #a6100a}
ul.shop_content li dl.shop1 dd{padding-top:25px;text-align:center}
ul.shop_content li dl.shop1 dd div{padding-bottom:12px;font-family:Ostrich;text-transform:uppercase;font-size:42px;font-weight:bold;line-height:38px}
ul.shop_content li dl.shop1 dd p{font-size:14px;line-height:22px}
ul.shop_content li dl.shop_red{position:absolute;z-index:2;right:12px;top:-7px}
ul.shop_content li dl.shop_red dt{float:left}
ul.shop_content li dl.shop_red dd{float:left;padding:10px;font-size:18px;font-family:Gothic;text-transform:uppercase;color:#FFF;background:#a6100a}

ul.shop_content li dl.shop2{position:relative;z-index:1}
ul.shop_content li dl.shop2 dt{height:265px;border-bottom:3px solid #e89116}
ul.shop_content li dl.shop2 dd{padding-top:25px;text-align:center}
ul.shop_content li dl.shop2 dd div{padding-bottom:12px;font-family:Ostrich;text-transform:uppercase;font-size:42px;font-weight:bold;line-height:38px}
ul.shop_content li dl.shop2 dd p{font-size:14px;line-height:22px}
ul.shop_content li dl.shop_yellow{position:absolute;z-index:2;right:12px;top:-7px}
ul.shop_content li dl.shop_yellow dt{float:left}
ul.shop_content li dl.shop_yellow dd{float:left;padding:10px;font-size:18px;font-family:Gothic;text-transform:uppercase;color:#FFF;background:#e89116}

ul.shop_content li dl.shop3{position:relative;z-index:1}
ul.shop_content li dl.shop3 dt{height:265px;border-bottom:3px solid #5d7da4}
ul.shop_content li dl.shop3 dd{padding-top:25px;text-align:center}
ul.shop_content li dl.shop3 dd div{padding-bottom:12px;font-family:Ostrich;text-transform:uppercase;font-size:42px;font-weight:bold;line-height:38px}
ul.shop_content li dl.shop3 dd p{font-size:14px;line-height:22px}
ul.shop_content li dl.shop_bule{position:absolute;z-index:2;right:12px;top:-7px}
ul.shop_content li dl.shop_bule dt{float:left}
ul.shop_content li dl.shop_bule dd{float:left;padding:10px;font-size:18px;font-family:Gothic;text-transform:uppercase;color:#FFF;background:#5d7da4}

#flash{padding-bottom:60px;border-top:solid 3px #e2e2e2}
.flash{position:relative}
.logo3{ height:40px;position:absolute;top:-24px;left:440px}
ul.flash_content{}
ul.flash_content li{float:left;width:238px;height:417px;background:#ebebeb;margin-right:18px}
ul.flash_content li .pic{width:238px;height:228px;overflow:hidden;border-bottom: solid 3px #19242d}
ul.flash_content li dl{padding-top:16px;padding-left:15px}
ul.flash_content li dl dt{padding-bottom:12px;font-family:Ostrich;text-transform:uppercase;font-size:42px;font-weight:bold;line-height:38px}
ul.flash_content li dl dd{width:207px}
ul.flash_content li dl dd p{font-size:14px;line-height:20px}
ul.flash_content li dl dd p span{display:block;color:#a6100a;padding-top:5px;padding-bottom:12px}
ul.flash_content li dl dd input{width:104px;height:22px;background:url(../images/an2.png) no-repeat;font-size:14px;color:#FFF;cursor:pointer;}

#bottom{background:#000;height:45px}
.bottom{background: url(../images/bottom_03.jpg) no-repeat 220px 0;height:45px}
.ico{float:left;padding-top:14px}
.email{float:right;color:#FFF;width:480px}
.email div{float:right;line-height:45PX}
.email div img{margin-top:14PX}
.input{height:24px;border:solid 1px #787878;border-right:none;background:#000;color:#787878;padding-left:4px;float:right;margin-top:10px}
.button{border:solid 1px #787878; background:#000;color:#787878;height:26px;width:30px;float:right;margin-top:10px}

.submenu{padding-top:32px}
.submenu dl{float:left;padding-right:125px}
.submenu dl dt{height:36px;font-size:18px;font-family:Gothic;text-transform:uppercase}
.submenu dl dd{line-height:20px}
.copyright{font-size:14px;padding-top:38px;height:28px}

.tpd-skin-dark .tpd-content,.tpd-skin-dark .tpd-title,.tpd-skin-dark .tpd-close{background-color:#50352a;font-size:14px!important;box-shadow:-5px 5px 2px #888888;line-height:18px;padding:25px 15px}
.tpd-content h4{font-family:Ostrich;font-size:28px;line-height:26px;font-weight:normal}
.tpd-content ol{margin-left:21px}
.tpd-content li{list-style-type:decimal}
.tpd-stem * {z-index:1!important}
.tpd-frame-right .tpd-stem-triangle{border-left-color:#50352a!important}
.tpd-frame-left .tpd-stem-triangle{border-right-color:#50352a!important}
.tpd-frame-top .tpd-stem-triangle{border-bottom-color:#50352a!important}
.tpd-frame-bottom .tpd-stem-triangle{border-top-color:#50352a!important}

/************ FORM *********************************************/
.downloads {}
a.download-button {color: #fff;border-radius: 2px;padding: 4px 15px;display: inline-block;width: auto;height: 22px;text-transform: uppercase;cursor: pointer;margin: 0 10px;text-align: right;margin-top: 10px;background: url(../images/button-background.png) repeat-x;}
.content-container {text-align: center;}
.tc-container {display: inline-block;background: lightgray;text-align:left;overflow: hidden;width: 40%;vertical-align: top;margin: 50px auto;margin-right: -5px;height: 545px;padding: 20px;max-width: 500px;}
.tc-container h2 {font-family: Ostrich;font-size: 350%;margin-top: 10px;}
.tc-container p {padding-top:10px;font-size: 115%;}
/*.tc-container .download-button {color: #fff;border-radius: 2px;padding: 4px 25px;display: inline-block;width: auto;height: 22px;text-transform: uppercase;cursor: pointer;margin: 0 20px;text-align: right;margin-top: 20px;background: url(../images/button-background.png) repeat-x;}*/

.form-container {background: #1a2634;padding: 25px 40px;display: inline-block;margin: 50px auto;width: 40%;text-align: left;max-width: 500px;height:545px;}
.form-frame {width: 100%;background: #f6f6f4;margin: 50px 0 0 0;padding: 5px 0;border-top: 3px solid #e3e3e3;text-align: left;}
.form-logo {top: -30px;position: relative;left: 46%;}
.form-title {color: #1a2634;display: inline-block;width: 100%;text-align: center;}
.signup-form {padding: 20px 0;}
.form-label {color: #fff;text-transform: uppercase;font-size: 1.25em;line-height: 1em;margin-bottom: -14px;}
.form-input {height: 2em;padding: 2px 10px;margin-bottom: 15px;width: 75%;}
.form-address {padding: 10px 25px;}
.adr {font-size:115%;}
.form-input.full {width: 100%;}
.form-input.small {width: 40%;}
.form-share-line.postal-code {float: left;padding: 0 10px 0 0;width: 40%;}
.clear-fix {clear: both;}
.form-share-line input.form-input.small {width: 85%;}
textarea.form-input {width: 96%;height: 100px;}
input.form-input[type=submit] {background-color: #eb9317;color: #fff;border-radius: 2px;padding: 4px 25px;height: 30px;display: block;width: 125px;text-transform: uppercase;border-bottom: 3px solid #925a05;cursor: pointer;}
input#submit_btn:hover {background-color: #EEA238;}
#contact_results .success {background-color: lightgray;padding: 5px 0 5px 15px;margin-bottom: 0px;border-left: 5px solid #0E964F;font-family: 'open sans', sans-serif;}
#contact_results .error {background-color: lightgray;padding: 5px 0 5px 15px;margin-bottom: 20px;border-left: 5px solid #a6110b;font-family: 'open sans', sans-serif;}
.success {background-color: lightgray;padding: 5px 0 5px 15px;margin-bottom: 0px;border-left: 5px solid #0E964F;font-family: 'open sans', sans-serif;}
#contact_body h2 {font-family: Ostrich;color: #FFF;font-size: 325%;margin-bottom: 15px;margin-top: 10px}

.destinations img {display: block;margin: 0 auto;}
p.language {text-align: center;font-size: 24px;margin-bottom: 10px;}
.example {clear: both;font-size: 25px;text-align: center;padding-top: 45px;}
.example a {text-decoration: underline;}
