<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Brand view widget template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */
?>
<?php $_brand = $this->getCurrentBrand();?>
<?php if ($_brand) :?>
    <div class="brand-widget-view">
        <h3><?php echo $_brand->getName()?></h3>
        <div>
            <div class="name-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Name');?>:<?php echo $_brand->getName();?>
            </div>
            <div class="summary-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Summary');?>:<?php echo $_brand->getSummary();?>
            </div>
            <div class="description-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Description');?>:<?php echo $_brand->getDescription();?>
            </div>
            <div class="image-widget">
                <?php if ($_brand->getImage()) :?>
    <img src="<?php echo Mage::helper('ibd_travelsuite/brand_image')->init($_brand, 'image')->resize(75);?>" alt="<?php echo $this->escapeHtml($_brand->getName());?>" />
<?php endif;?>
            </div>
            <div class="color-widget">
                <?php echo Mage::helper('ibd_travelsuite')->__('Highlight Color');?>:<?php echo $_brand->getColor();?>
            </div>

        </div>
    </div>
<?php endif;?>
