<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */

/**
 * Brand link widget template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */
?>
<div class="row about block-about-<?php echo $this->getRowClass() ?>">
	<div class="col-sm-12">
		<div class="panel panel-default margin-top">
		  <div class="panel-heading" style="<?php echo $this->getHeadingStyle() ?>">
		    <h3 class="panel-title"><?php echo $this->getData('title') ?></h3>
		  </div>
		  <div class="panel-body">

		  	<?php if($this->hasData('left_image')) :?>
		    <div class="col-sm-<?php echo $this->getImageClass() ?> block-about-left">
		      <?php if($this->hasData('left_image_url')): $closeAnchor = '</a>' ?>
		      	<a href="<?php echo $this->getData('left_image_url') ?>"
		      		<?php if($this->hasData('left_image_new_window')): ?> target="_blank"<?php endif ?>>

		  	  <?php else: $closeAnchor = '';
		  	  endif ?>

				<img src="<?php echo $this->getData('left_image') ?>" class="img-responsive">

		      <?php echo $closeAnchor; ?>
		    </div>
			<?php endif ?>

		    <div class="col-sm-<?php echo $this->getMainTextClass() ?> block-about-center text-center">
		    	<span class="about-text visible-xs">
		    		<?php echo Mage::helper('cms')->getPageTemplateProcessor()->filter($this->getData('text')) ?>
		    	</span>
		    </div>

		    <?php if($this->hasData('right_image')) :?>
	    	<div class="col-sm-<?php echo $this->getImageClass() ?> block-about-right">
	    	  <?php if($this->hasData('right_image_url')): $closeAnchor = '</a>' ?>
		      	<a href="<?php echo $this->getData('right_image_url') ?>"
		      		<?php if($this->hasData('right_image_new_window')): ?> target="_blank"<?php endif ?>>

		  	  <?php else: $closeAnchor = '';
		  	  endif ?>

				<img src="<?php echo $this->getData('right_image') ?>" class="img-responsive">

		      <?php echo $closeAnchor; ?>
	    	</div>
	    	<?php endif ?>

			<div class="block-about-text-parent hidden-xs">
	    		<span class="block-about-text">
	    			<?php echo Mage::helper('cms')->getPageTemplateProcessor()->filter($this->getData('text')) ?>
	    		</span>
	    	</div>
		  </div>
		</div>
	</div>
</div><!-- .row.about -->