<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */

/**
 * Media box template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */

?>
<div class="row block-media-object-menu">
	<div class="col-sm-12">
		<div class="panel panel-default margin-top">
			<div class="panel-heading" style="<?php echo $this->getHeadingStyle() ?>">
				<h3 class="panel-title"><?php echo $this->getData('title') ?></h3>
			</div>
			<div class="panel-body">

			  <?php if($this->isImageLeftAligned() && $this->hasData('main_image')): ?>
				<div class="col-sm-6 vertical-menu-media">
				  <?php if($this->hasData('main_image_url')): ?>
					<a href="<?php echo $this->getData('main_image_url') ?>"<?php
						if($this->getData('main_image_new_window')) echo ' target="_blank"' ?>>
				  <?php $closeAnchor = '</a>';
				  else:
					$closeAnchor = '';
				  endif ?>
						<img src="<?php echo $this->getData('main_image') ?>" class="img-responsive">
				  <?php echo $closeAnchor ?>
				</div><!-- .vertical-menu-media -->
			  <?php endif ?>

				<div class="col-sm-6 vertical-menu-content">
				  <?php foreach(array(1,2,3,4,5,6) as $i): ?>

				  	<?php if(!($this->hasData('media_'.$i.'_image') && $this->hasData('media_'.$i.'_text'))) continue; ?>
					
					  <?php if($this->hasData('media_'.$i.'_url')): ?>
						<a href="<?php echo $this->getData('media_'.$i.'_url') ?>"<?php
							if($this->getData('media_'.$i.'_new_window')) echo ' target="_blank"' ?>>
					  <?php $closeAnchor = '</a>';
					  else:
						$closeAnchor = '';
					  endif ?>

							<div class="media">
								<span class="pull-left">
									<img class="media-object" src="<?php
										echo $this->getData('media_'.$i.'_image') ?>" alt="Image" class="img-responsive">
								</span>
								<div class="media-body">
									<h4 class="media-heading">
										<?php echo $this->getData('media_'.$i.'_text') ?>
									</h4>
								</div>
							</div>

					  <?php echo $closeAnchor ?>
				  <?php endforeach ?>
				</div><!-- .vertical-menu-content -->



			  <?php if(!$this->isImageLeftAligned() && $this->hasData('main_image')): ?>
				<div class="col-sm-6 vertical-menu-media">
				  <?php if($this->hasData('main_image_url')): ?>
					<a href="<?php echo $this->getData('main_image_url') ?>"<?php
						if($this->getData('main_image_new_window')) echo ' target="_blank"' ?>>
				  <?php $closeAnchor = '</a>';
				  else:
					$closeAnchor = '';
				  endif ?>
						<img src="<?php echo $this->getData('main_image') ?>" class="img-responsive">
				  <?php echo $closeAnchor ?>
				</div><!-- .vertical-menu-media -->
			  <?php endif ?>

			</div><!-- .panel-body -->
		</div><!-- .panel -->
	</div><!-- .col-sm-12 -->
</div><!-- .row.heritage-->