<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */

/**
 * Video template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */

?>
<div class="row block-2-col">
	<div class="col-sm-12">
		<div class="panel panel-default margin-top panel-nobkg">
			<div class="panel-heading" style="<?php echo $this->getHeadingStyle() ?>">
				<h3 class="panel-title"><?php echo $this->getData('title') ?></h3>
			</div>
			<div class="panel-body">

			  <?php if(!$this->videoLeft() && $this->hasData('text')): ?>
				<div class="col-sm-6 block-2-col-right">
					<?php echo Mage::helper('cms')->getPageTemplateProcessor()->filter($this->getData('text')) ?>
				</div>
			  <?php endif ?>

				<div class="col-sm-<?php echo $this->hasData('text') ? '6' : '12' ?> block-2-col-left">
					<div class="embed-responsive embed-responsive-16by9"><?php echo $this->getData('video') ?></div>
				</div>

			  <?php if($this->videoLeft() && $this->hasData('text')): ?>
				<div class="col-sm-6 block-2-col-right">
					<?php echo Mage::helper('cms')->getPageTemplateProcessor()->filter($this->getData('text')) ?>
				</div>
			  <?php endif ?>

			</div><!-- .panel-body -->
		</div><!-- .panel -->
	</div><!-- .col-sm-12 -->
</div><!-- .row.block-2-col -->