<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Brand list template on product page
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */
?>
<?php $brands = $this->getBrandCollection();?>
<?php if ($brands && $brands->count() > 0) :?>
<div class="box-collateral box-brands box-up-sell">
    <?php foreach ($brands as $_brand) : ?>
        <div class="item">
            <a href="<?php echo $_brand->getBrandUrl()?>">
                <?php echo $_brand->getName();?>
            </a><br />
        </div>
    <?php endforeach; ?>
</div>
<?php endif;?>
