<?php echo $this->getFormHtml(); ?>
<div id="brand-group-info-container"></div>
<script type="text/x-lodash" id="brand-group-info-template">
<div id="brand-group-{{ groupId }}" class="box {{ addressType }}">
{[ if(addressType == 'group'){ ]}
	<h4 class="icon-head head-edit-form fieldset-legend collapse">
		{{ groupName }}{[ if(sort > 0){ ]} (sort order: {{ sort }}){[ } ]}
	</h4>
	<input type="hidden" value="{{ groupName }}" name="brand[group][{{ groupId }}][groupName]">
{[ } else { ]}
	<h4 class="icon-head head-edit-form fieldset-legend collapse" style="max-width:80%">
		{[ if(groupName){ ]}{{ groupName }}{[ } else { ]}New Address...{[ } ]}
		{[ if(sort > 0){ ]}(sort order: {{ sort }}){[ } ]}
	</h4>
	<label style="float:right;margin-top:-23px">
		Delete Address: 
		<input type="checkbox" value="1" name="brand[group][{{ groupId }}][delete]" class="delete-address">
	</label>
{[ } ]}
	<div class="address-detail">
		<table cellspacing="0" class="form-list">
			<tbody>
				<tr>
					<td class="label">
						<label for="brand-group-{{ groupId }}-sort">Display Order</label>
					</td>
					<td class="value">
						<input type="number" value="{{ sort }}" name="brand[group][{{ groupId }}][sort]"
							id="brand-group-{{ groupId }}-sort" class="input-text">
					</td>
				</tr>
				{[ if(addressType == 'orphan') { ]}
				<tr>
					<td class="label">
						<label for="brand-group-{{ groupId }}-name">Address Name</label>
					</td>
					<td class="value">
						<input type="input" value="{{ groupName }}" name="brand[group][{{ groupId }}][groupName]"
							id="brand-group-{{ groupId }}-name" class="input-text">
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="brand-group-{{ groupId }}-url">Store URL</label>
					</td>
					<td class="value">
						<input type="input" value="{{ url }}" name="brand[group][{{ groupId }}][url]"
							id="brand-group-{{ groupId }}-url" class="input-text"><br/>
						<label>
							<input type="checkbox" value="1" name="brand[group][{{ groupId }}][targetblank]"{[ if(targetblank) { ]}
								checked="checked"{[ } ]}> Open in new window
						</label>
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="brand-group-{{ groupId }}-address">Store Info</label>
					</td>
					<td class="value">
						<textarea name="brand[group][{{ groupId }}][address]"
							id="brand-group-{{ groupId }}-address"
							cols="30" rows="10">{{ address }}</textarea>
					</td>
				</tr>
				{[ } else { ]}
				<tr>
					<td class="label">
						<label for="brand-group-{{ groupId }}-address">Store Address</label>
					</td>
					<td class="value">
						<textarea name="brand[group][{{ groupId }}][address]"
							id="brand-group-{{ groupId }}-address"
							cols="30" rows="10">{{ address }}</textarea>
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="brand-group-{{ groupId }}-hours">Store Hours</label>
					</td>
					<td class="value">
						<input type="text" name="brand[group][{{ groupId }}][hours]" value="{{ hours }}"
							id="brand-group-{{ groupId }}-hours" class="input-text">
						</input>
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="brand-group-{{ groupId }}-phone">Store Phone</label>
					</td>
					<td class="value">
						<input type="text" name="brand[group][{{ groupId }}][phone]" value="{{ phone }}"
							id="brand-group-{{ groupId }}-phone" class="input-text">
						</input>
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="brand-group-{{ groupId }}-driving">Driving Directions</label>
					</td>
					<td class="value">
						<textarea name="brand[group][{{ groupId }}][directions][driving]"
							id="brand-group-{{ groupId }}-driving"
							cols="30" rows="10">{{ driving }}</textarea>
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="brand-group-{{ groupId }}-ptrans">Public Transit Directions</label>
					</td>
					<td class="value">
						<textarea name="brand[group][{{ groupId }}][directions][ptrans]"
							id="brand-group-{{ groupId }}-ptrans"
							cols="30" rows="10">{{ ptrans }}</textarea>
					</td>
				</tr>
				{[ } ]}
			</tbody>
		</table>
		<div class="collapse">Collapse Address ^</div>
	</div>
</div>
</script>
<script type="text/javascript">
	var ibdBrandGroups = <?php echo $this->getGroupJSON(); ?>;
</script>