<?php if($merchant_signup_top = $this->getChildHtml('merchant_signup_top')) : ?>
	<div id="merchant-signup-top">
	  <?php echo $merchant_signup_top ?>
	</div>
<?php endif ?>
<h2><?php echo __('Signup to Become an IBD Merchant'); ?></h2>
<div class="simple-language-switcher">
	<a href="?___store=default">中文</a>&nbsp|&nbsp<a href="?___store=english">EN</a>
</div>
<?php if($merchant_signup_aboveform = $this->getChildHtml('merchant_signup_aboveform')) : ?>
	<div id="merchant-signup-above-form">
	  <?php echo $merchant_signup_aboveform ?>
	</div>
<?php endif ?>
