<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>
<?php $productImages = Mage::getModel('catalog/product')->load($_product->getId())->getMediaGalleryImages(); ?>

<div id="quickview-carousel-<?php echo $_product->getId(); ?>"
     class="carousel slide quickview-carousel"
     data-ride="carousel"
     data-interval="false">
    <div class="carousel-outer">
        <div class="carousel-inner" role="listbox">
            <?php $activeFlag = 1; ?>
            <?php foreach($productImages as $mainImage){ ?>
            <div class="item<?php if ($activeFlag == 1) {echo ' active'; $activeFlag = 0; }?>">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $mainImage->getFile())->resize(540, 720) ?>"
                     class="quickview-main-image" alt="<?php echo $this->htmlEscape($mainImage->getLabel()) ?>">
            </div>
            <?php } ?>
        </div>

        <?php if (count($productImages) > 1): ?>
            <a class="left carousel-control" href="#quickview-carousel-<?php echo $_product->getId(); ?>" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#quickview-carousel-<?php echo $_product->getId(); ?>" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        <?php endif; ?>
    </div>
    <div class="horizontal-scroll">
        <ol class="carousel-indicators">
            <?php $targetSlide = 0; ?>
            <?php if (count($productImages) > 1): ?>
                <?php foreach($productImages as $thumbnail){ ?>
                    <li data-target="#quickview-carousel-<?php echo $_product->getId(); ?>"
                        data-slide-to="<?php echo $targetSlide; ++$targetSlide; ?>"
                        class="<?php if ($targetSlide == 1) echo "active";?>">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $thumbnail->getFile())->resize(100, 133) ?>"
                             class="quickview-thumbnail"
                             alt="<?php echo $this->htmlEscape($thumbnail->getLabel()) ?>">
                    </li>
                <?php }?>
            <?php endif; ?>
        </ol>
    </div>
</div><!-- .quickview-carousel -->