<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php

/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>
<?php

$product = $this->getProduct();
$helper  = $this->helper('catalog/output');
$theProduct = Mage::getModel('catalog/product')->load($product->getId());
?>

<?php $productImages = Mage::getModel('catalog/product')->load($product->getId())->getMediaGalleryImages(); ?>

<div id="quickview-carousel" class="carousel slide quickview-carousel" data-ride="carousel" data-interval="false">

    <div class="carousel-outer">
        <div class="carousel-inner" role="listbox">
            <?php $activeFlag = 1; ?>
            <?php foreach($productImages as $mainImage){ ?>
            <div class="item<?php if ($activeFlag == 1) {echo ' active'; $activeFlag = 0; }?>">
                <img src="<?php echo $this->helper('catalog/image')->init($product, 'image', $mainImage->getFile())->resize(540, 720) ?>" class="quickview-main-image" alt="<?php echo $this->htmlEscape($mainImage->getLabel()) ?>">
            </div>
            <?php } ?>
        </div><!-- .carousel-inner -->

        <?php if (count($productImages) > 1): ?>
            <a class="left carousel-control" href="#quickview-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="right carousel-control" href="#quickview-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
        <?php endif; ?>

        <?php // Wishlist Buttons ?>
        <?php if (!$theProduct->hasOptions()):?>
            <div class="add-to-box">
                <?php echo $this->getChildHtml('addto') ?>
            </div>
            <?php echo $this->getChildHtml('extra_buttons') ?>
            <?php elseif (!$product->isSaleable()): ?>
            <div class="add-to-box">
                <?php echo $this->getChildHtml('addto') ?>
            </div>
        <?php endif; ?>
    </div><!-- .carousel-outer -->
    <div class="horizontal-scroll">
        <ol class="carousel-indicators">
            <?php $targetSlide = 0; ?>
            <?php if (count($productImages) > 1): ?>
                <?php foreach($productImages as $thumbnail){ ?>
                    <li data-target="#quickview-carousel" data-slide-to="<?php echo $targetSlide; ++$targetSlide; ?>" class="<?php if ($targetSlide == 1) echo "active";?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $thumbnail->getFile())->resize(100, 133) ?>" class="quickview-thumbnail" alt="<?php echo $this->htmlEscape($thumbnail->getLabel()) ?>"></li>
                <?php }?>
            <?php endif; ?>
        </ol>
    </div>
</div><!-- .quickview-carousel -->