/* 
*	Name of design: Products Filter for Magento
*	Designer: Plumrocket Inc
*	Copyright status: All rights reserved
*	Website: www.plumrocket.com
*/      


/*=== Filter ===*/

/* Toolbar */
.product-filter-param {
	background-color: #F2F2F2;
	line-height: 15px;
	padding: 0 15px;
	position: relative;
	box-sizing: border-box;
	display: table;
	width: 100%;
}


.category-products .toolbar .product-filter-param .filter_options {
	text-align: left;
	display: table;
	vertical-align: middle;
	width: 100%;
	font-size: 11px;
}

.category-products .toolbar .product-filter-param .text-showing {
  text-transform: uppercase;
  font-weight: 700;
  display: none;
  width: 75px;
  border-right: 1px solid #B8B8B8;
  vertical-align: middle;
  text-align: left;
  font-size: 12px;
  padding-right: 15px;
}

.category-products .toolbar .product-filter-param .reset-filter-block {
  border-left: 1px solid #B8B8B8;
  padding-left: 15px;
  display: table-cell;
  vertical-align: middle;
  width: 75px;
  font-size: 12px;
}

.category-products .toolbar .product-filter-param .reset-filter {
  white-space: nowrap;
}


.product-filter { padding:5px 5px 10px 5px; z-index:1; border-bottom:1px solid #E9E9E9;}

.product-filter .filter_send {
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #de5400;
	background: #f18200;
	padding: 0 8px;
	display: inline-block;
	color: #fff;
	font-weight: 700;
	float: left;
}
.product-filter .filter_send:hover {
	cursor: pointer;
}
.product-filter .selector {float: left;position: relative;background:#fff;border: 1px solid #e9e9e9;cursor: pointer;font-size: 12px;line-height: 24px;height:25px;vertical-align: middle; margin: 0 5px 5px 0px; }
.product-filter .selector .hld {background: #fff;}
.product-filter #filter_dash {background:#E9E9E9 !important;}
.product-filter .selector .text {
	background: transparent; 
	border-right: 1px solid #ccc; 
	overflow: hidden; 
	padding: 0px 7px; 
	font-size: 13px;
}
.product-filter .selector .icon {
	float: right;
	margin: 0px;
	padding: 11px 8px 0px 7px;
	overflow: hidden;
}
.product-filter .selector .icon:before {
	display: block;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #1E7EC8 transparent transparent transparent;
	margin: 0 auto;
}
.product-filter .selector .sort-up {background-position:-58px 7px;}
.product-filter .selector .sort-down {background-position:-42px 7px;}
.product-filter .selector .checks *{vertical-align:middle;}
.product-filter .selector .checks label{padding-left:8px;}
.product-filter .border-hidder {background:#FFF; height:8px; overflow:hidden; position:absolute; left:0px; top:20px; z-index:12; width:100%; display:none;}
.product-filter .selector .dropdowner {
	background:#FFF; 
	max-height: 250px;
	position:absolute; 
	top:26px; 
	left:-1px; 
	width:200px; 
	min-width: 200px;
	height: auto;
	padding:15px 15px 10px 15px; 
	z-index:9; 
	text-align:left; 
	border-left:1px solid #E9E9E9; 
	border-bottom:1px solid #E9E9E9; 
	border-right:1px solid #E9E9E9; 
	-webkit-box-shadow: 0px 4px 8px #B9B9B9; 
	-moz-box-shadow: 0px 4px 8px #B9B9B9; 
	box-shadow: 0px 4px 8px #B9B9B9; 
	cursor:default; 
	display:none;
	font-size: 12px;   
  	overflow-y: auto;
}
.product-filter .selector .dropdowner:after {
	display: block;
	clear: both;
	content: "";
}
.product-filter .selector .dropdowner .group {
	font-weight: 700;
	font-size: inherit;
	height: auto;
	padding: 0;
}
.product-filter .dropdowner .list {
	float:left; 
	padding:0 0 0 18px;
	margin-bottom:5px; 
	cursor:pointer;
	line-height: normal; 
	width: 100%; 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	position: relative; 
	text-decoration: none;
	color: #000000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

.product-filter .dropdowner .list span {
	font-family: Arial, Helvetica, sans-serif;
}
.product-filter .dropdowner .list[data-attribute^="color"] {
	width: 50%;
	min-height: 19px;
}

.product-filter .dropdowner .list[data-attribute^="color"] {

}


.product-filter .dropdowner .list:hover {
	text-decoration: none;
	color: #1E7EC8!important;
}
.product-filter .dropdowner .list:before {
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../../../images/plumrocket/productsfilter/filter_sprite.png);
	content: '';
	background-position: 0 1px;
	width: 14px;
	height: 12px;
	visibility: visible;
	position: absolute;
	display: inline-block;
	margin-right: 5px;
	top: 1px;
	left: 0;
}

.product-filter .dropdowner .list img {
	border: 1px solid #DBDBDB;
	display: inline-block;
	vertical-align: middle;
}

.product-filter .dropdowner .list.active-list {
	border: 0px;
	background-color: transparent;
	color: #000000;
}

.product-filter .dropdowner .list.active-list.disabled,
.product-filter .dropdowner .list.disabled,
.product-filter .dropdowner .list.active-list.disabled:hover,
.product-filter .dropdowner .list.disabled:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
	color: inherit!important;
	text-decoration: none;
}

.product-filter .dropdowner .child-list {
	margin-left: 10px;
}

.product-filter .dropdowner .list.active-list.disabled span {
	display: inline;	
}
.product-filter .dropdowner .list.disabled span.filter_count{
	display: none;
}

.product-filter .dropdowner .list.active-list.disabled:hover,
.product-filter .dropdowner .list.disabled:hover {
	cursor: default;
}

.product-filter .dropdowner .list.active-list:before {
	background-position: 0 -25px;
}

.product-filter .dropdowner .list span {
	text-align:center; 
	padding-left: 0;
	color: #b5b5b5;
	vertical-align: top; 
}

.product-filter .dropdowner .list span.price {color: #000000; }
.product-filter .dropdowner .list:hover span { color: inherit; }
.product-filter .dropdowner .active-list {border-color: #406a83;background: #618499; color:#FFF; }

.product-filter .reset-filter {float:right; text-align: right; padding-left:10px; color:#c76200; padding: 0; font-size: 11px; font-weight: 700;} 

.product-filter .filter-counter {color: #c76200;}

.product-filter-param .reset-filter {
	float: none;
}

	.product-filter-param .filter_counter {
		padding-right: 10px;
	}

	.product-filter-param .filter_options .filter_options_row {
		display: table-row;
	}

	.product-filter-param .filter_options .filter_options_row .filter_options_attr:last-child {
		border-right: 0px;
	}

	.product-filter-param .filter_options .filter_options_row .filter_options_attr:nth-child(3n+3) {
		border-right: 0px;
	}

	.product-filter-param .filter_options_row .filter_options_attr {
		border-right: 1px solid #B8B8B8;
		width: 33%;
	}
	.product-filter-param .filter_options_row .filter_options_attr:nth-child(3n+2) {
		border-right: 1px solid #B8B8B8;
	}
	.product-filter-param .filter_options_row + .filter_options_row .filter_options_attr:nth-child(3n+2) {
		border-right: 1px solid #B8B8B8!important;
	}

	.product-filter-param .filter_options_attr {
		padding: 7px 0 7px 10px;
		box-sizing: border-box;
		display: table-cell;
		vertical-align: middle;
	}

	.product-filter-param .filter_options_attr .filter_options_label {
		text-transform: uppercase;
		padding-right: 10px;
		white-space: nowrap;
		display: inline-block;
		font-weight: 700;
	}

	.product-filter-param .filter_options_attr .filter_options_item {
		padding-right: 13px;
		white-space: nowrap;
		display: inline-block;
	}

	.product-filter-param .filter_options_attr .filter_options_item img {
		display: inline-block;
		vertical-align: top;
		border: 1px solid #DBDBDB;
	}

	.product-filter-param .filter_options_attr .filter_options_item .close-fo,
	.product-filter-param .filter-reset-all {
		display: inline-block;
		margin-left: 3px;
		color: #1E7EC8;
		font-size: 7px;
		font-weight: 700;
	}

	.product-filter-param .filter_options_attr .filter_options_item .close-fo:hover {
		cursor: pointer;
	}

	.product-filter-param .filter_options_attr .filter_options_item.deleted {
		text-decoration:line-through;	
	}

	.category-products .toolbar:after {
		content: '';
		display: block;
		clear: both;
	}

	.reset-filter-mobile {
		display: none;
		-webkit-text-size-adjust: none;
	}

/*=== Sidebar position ===*/
.productsfilter-main-container .product-filter .filter_label {
    display: block!important;
    float: none!important;
    margin: 5px 0 8px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
    font-weight: 700;
}

.productsfilter-main-container .product-filter {
	padding: 0;
}

.productsfilter-main-container .product-filter-loader-bottom {
	display: none!important;
}

.productsfilter-main-container .product-filter-param .filter_options_row .filter_options_attr {
	border: 0px none;
}

.product-filter-lock {
    position: fixed;
    display: none;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    z-index: 500;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
	background-image: url("../../../images/plumrocket/productsfilter/ajax-loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
}

.productsfilter-main-container .product-filter .selector .dropdowner .group {
	clear:both;
	margin-bottom: 3px;
}


@media only screen and (min-width: 770px) {

.productsfilter-main-container .product-filter .selector {
	background: none;
	border: 0px;
	line-height: initial;
    height: auto;
    float: none;
    width: 100%;
    margin-bottom: 15px;
}

	.productsfilter-main-container .product-filter .selector .hld {
		background: none;
		font-weight: 700;
	}
	
	.productsfilter-main-container .product-filter .selector .text {
		background: none;
		border: 0px;
		padding: 0;
    	font-size: 14px;
    	text-transform: uppercase;
	}
	
	.productsfilter-main-container .product-filter .selector .icon {
		display: none;
	}

	.productsfilter-main-container .product-filter .selector .dropdowner {
		background: none;
		position: static;
		display: block!important;
		padding: 5px 0;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    border: 0px;
	    width: auto;
	    min-width: 0;
		max-height: 392px;
		overflow-y: auto;
	}

	.productsfilter-main-container .product-filter .selector .dropdowner.pf_holder_color {
		max-height: 170px;
	}

	.productsfilter-main-container .product-filter .dropdowner .list[data-attribute^="color"]:before,
	.productsfilter-main-container .product-filter .dropdowner .list[data-attribute^="color"] .filter_count {
		display: none;
	}

	.productsfilter-main-container .product-filter .dropdowner .list.disabled[data-attribute^="color"] {
		opacity: 0.2;
	}

	.productsfilter-main-container .product-filter .dropdowner .list[data-attribute^="color"] img {
		width: 22px;
		height: 22px;
		margin-right: 0;
		border: 0px;
	}

	.productsfilter-main-container .product-filter .dropdowner .list {
		width: auto;
		clear: both;
		text-decoration: none;
		outline: none;
		float: none;
		position: relative;
		display: block;
	}

	.productsfilter-main-container .product-filter .dropdowner .list[data-attribute^="color"]  {
	    padding: 0;
	    height: 24px;
	    line-height: 24px;
	    width: auto;
	    overflow: hidden;
	    margin-right: 5px;
	    border: 1px solid #DBDBDB;
	    display: inline-block;
	    background-color: #ffffff;
	}

	.productsfilter-main-container .product-filter .dropdowner .list[data-attribute^="color"].active-list:before {
	    background-image: url(../../../images/plumrocket/productsfilter/filter_sprite.png);
	    content: '';
	    width: 12px;
	    height: 12px;
	    background-position: 0 -48px;
	    position: absolute;
	    display: block;
	    top: 7px;
	    margin: 0 0 0 9px;
	}

	.productsfilter-main-container .product-filter .dropdowner .list:hover {
		text-decoration: underline;
		cursor: pointer;
	}

	.productsfilter-main-container .product-filter .dropdowner .list.disabled:hover {
		cursor: default;
		text-decoration: none;
	}

	.productsfilter-main-container .product-filter .dropdowner .list span {
		padding-left: 0;
	}

	.productsfilter-main-container .product-filter .dropdowner .list img {
		float: left;
		margin-right: 4px;
	}
	
	.productsfilter-main-container .product-filter .border-hidder {
		display: none!important;
	}


.productsfilter-main-container .product-filter-param {
	display: block;
	padding: 0;
	margin-bottom: 10px;
	background: none;
}

	.productsfilter-main-container .product-filter-param .filter_options_attr .filter_options_item {
		padding: 3px 5px;
	    border: 1px solid #ccc;
	    font-size: 12px;
	    margin-bottom: 3px;
	    white-space: normal;
	    position: relative;
	    border-right: 17px solid #CCC;
	    margin-right: 5px;
	    background-color: #fff;
	}

	.productsfilter-main-container .product-filter-param .filter_options_attr .filter_options_item[data-attribute^="color"] {
		float: left;
	}

	.productsfilter-main-container .product-filter-param .filter_options_attr .filter_options_item a {
	    position: absolute;
	    right: -13px;
	    top: 50%;
	    margin-top: -7px;
	}

	.productsfilter-main-container .product-filter-param .filter_options_attr .filter_options_item .close-fo {
		font-size: 11px;
	}

	.productsfilter-main-container .product-filter-param .filter_options_attr .filter_options_item img {
		float: left;
		border: 1px solid #D2D2D2;
	}

	.productsfilter-main-container .product-filter-param .filter_options_attr .filter_options_item .close-fo:hover {
		opacity: 0.8;
	}

	.productsfilter-main-container .product-filter-param .text-showing {
		font-weight: 700;
		text-transform: uppercase;
	}

	.productsfilter-main-container .product-filter-param .filter_options .filter_options_row {
		display: block;
		margin: 5px 0;
	}

	.productsfilter-main-container .product-filter-param .filter_options_attr {
		width: 100%;
		padding: 0;
		display: block;
		width: 100%!important;
		margin: 10px 0;
		border: 0px;
	}

	.productsfilter-main-container .product-filter-param .filter_options_attr:before,
	.productsfilter-main-container .product-filter-param .filter_options_attr:after {
		content: "";
		clear: both;
		display: block;
	}

	.productsfilter-main-container .product-filter-param .filter_options_attr .filter_options_label {
	    padding: 0;
	    margin-bottom: 3px;
	    display: block;
	    border: 0px;
	    font-weight: 400;
	}

	.productsfilter-main-container .product-filter-param .reset-filter-block {
	    display: block;
	    font-size: 13px;
	    text-transform: uppercase;
	    border-top: 1px solid #DDD;
	    border-bottom: 1px solid #DDD;
	    padding-bottom: 8px;
	    padding-top: 8px;
	    margin-top: 8px;
	    text-align: center;
	}

	.productsfilter-main-container .product-filter-param .filter-reset-all {
		font-size: 10px;
	}

	.productsfilter-main-container .product-filter-param .reset-filter {
		display: inline-block!important;
	} 

}

@media only screen and (max-width: 769px) {
	.productsfilter-main-container .product-filter-param {
		padding: 0;
	}

	.productsfilter-main-container .product-filter-param .text-showing {
		display: block!important;
	}

	.productsfilter-main-container .product-filter-param .filter_options_row .filter_options_attr {
    	padding: 7px 10px;
    	background-color: #F2F2F2;
	}

	.productsfilter-main-container .product-filter-param .filter_options {
		margin: 10px 0;
	}

	.productsfilter-main-container .product-filter-param .filter_options_attr .filter_options_item .close-fo {
		font-size: 11px;
	}

	.productsfilter-main-container .product-filter-param .filter-reset-all {
		font-size: 11px;
	}
}

@media only screen and (max-width: 479px) {

	.product-filter-param {
		display: none;
	}

	.product-filter .selector {
		margin: 0 0 10px 0;
		width: 100%;
		float: none;
		line-height: 27px!important;
		height: auto;
		min-height: 30px;
		position: static;
	}

	.product-filter .selector .text {
		border-right: none;
	}
	
	.product-filter .selector .icon {
		border-left: 1px solid #CCC;
		margin: 7px 0px 0px 0;
		padding: 6px 8px 4px 7px!important;
		display: block;
	}

	.product-filter .selector .dropdowner {
		position: static;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		top: auto;
		left: auto;
		width: auto;
		border: none;
		border-top: 1px solid #E9E9E9;
		padding: 5px;
		width: 100%;
	}

	.product-filter .dropdowner .list[data-attribute^="color"],
	.product-filter .dropdowner .list {
		width: auto;
		height: 30px;
		line-height: 30px;
		padding: 0 5px 0 19px;
		margin-right: 5px;
	}

	.product-filter .selector .dropdowner .group:before,
	.product-filter .selector .dropdowner .group:after {
		display: block;
		clear: both;
		content: "";
	}

	.product-filter .dropdowner .list:before {
		top: 8px;
		left: 5px;
	}

	.product-filter .border-hidder {
		position: relative;
		left: 0px;
		top: 2px;
		height: 0px;
	}

	.reset-filter-mobile {
		float: right;
		font-size: 13px;
	}

	.reset-filter-mobile .filter-reset-all {
		display: inline-block;
		margin-left: 3px;
		color: #1E7EC8;
		font-size: 11px;
		font-weight: 700;
	}

	.product-filter .filter_send {
		height: 30px;
		line-height: 30px;
		min-width: 90px;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	.product-filter .dropdowner .list:before {
		background-image: url(../../../images/plumrocket/productsfilter/filter_sprite_retina.png);
		background-size: 22px 60px;
	}

}