/* 
*	Name of design: Products Filter for Magento
*	Designer: Plumrocket Inc
*	Copyright status: All rights reserved
*	Website: www.plumrocket.com
*/      


/*Filter Custom*/

.product-filter-param .text-showing {
  vertical-align: middle;
}

.product-filter-param .reset-filter-block { float: right; }
.product-filter-param .filter_options { float: left; }