/* LOCATION CHOOSER HELPER */
#admin-location-chooser.box {
  margin-top: -16px;
}
#admin-location-chooser input#map-search {
  width: 100%;
  margin-bottom: 7px;
}
#admin-location-chooser #map-holder{
	width: 100%;
	min-height: 400px;
}
/* COLOR PALETTE HELPER */
#admin-style-guide,
#admin-style-guide table,
#admin-style-guide tr{
	width: 100%;
	border: 0;
}
#admin-style-guide table {
  border-spacing: 0;
}
#admin-style-guide.box {
  padding: 0;
}
#admin-style-guide.style-guide{
	display: none;
}
#admin-style-guide td{
	height: 18px;
	width: 50%;
	color: #fff;
	padding: 25px 10px;
	font-size: 28px;
}
#admin-style-guide .turquoise {
	background-color: #56c4c3;
}
#admin-style-guide .teal {
	background-color: #348d93;
}
#admin-style-guide .sienna {
	background-color: #f58941;
}
#admin-style-guide .sand {
	background-color: #fda858;
	color: #000;
}
#admin-style-guide .thistle {
	background-color: #cfb9df;
}
#admin-style-guide .black {
	background-color: #000;
}
#admin-style-guide .eggshell {
	background-color: #f6f6f5;
	color: #000;
}
#admin-style-guide .grey {
	background-color: #333;
	color: #fff;
}

/* Tags Style */
.bootstrap-tagsinput {
  width: 100%;
}
.bootstrap-tagsinput .label-info {
  background-color: #592E33;
  padding: 3px;
  border-radius: 3px;
  white-space: nowrap;
}
/* GALLERY STYLE */
.ibd-admin-gallery a#notes-toggle{
	color: #fcce77;
}
.ibd-admin-gallery #notes-ul ul li {
  margin: -1px 0 0 0!important;
}
.ibd-admin-gallery #gt-ten-warning p{
	margin-left: 36px;
  	margin-top: 6px;
}
.ibd-admin-gallery td.pointer{
	cursor: pointer;
}
.ibd-admin-gallery .grid table.data tr.remove-background td {
  background-color: #facbc7 !important;
}
/* BRAND GROUP STYLE */
#brand-group-info-container .collapse {
  cursor: pointer;
}
#brand-group-info-container .box.group {
  background-color: lightblue;
}
#brand-group-info-container .box.orphan {
  background-color: lightgrey;
}
#brand-group-info-container .box.orphan.delete {
  background-color: lightcoral;
}