<?php
// grab some basics
$tagParam = $this->getParam('tag');
$continentParam = $this->getParam('continent');
$countryParam = $this->getParam('country');
$badgeGroupParam = $this->getParam('badge');
$categoryParam = $this->getParam('category');
$alphaParam = $this->getParam('alpha');
$statusParam = $this->getParam('status', '-1');

?>
<div class="panel panel-default sidebar-filter siyuan">
	<div class="unclick hidden-xs"></div>
	<div class="panel-heading" id="heading" data-toggle="collapse" data-target="#filter-collapse">
		<h3><?php $this->_e('品牌过滤') ?></h3>
	</div> <!-- #heading.panel-heading -->
	<div class="panel-collapse collapse in" role="tabpabel" id="filter-collapse">

	<span class="h4 filter-section alphabetic-filter">字母</span>
	<ul class="list-filter alphabetic-filter">
		<?php $params = http_build_query(array(
			'status' => $statusParam,
			'continent' => $continentParam,
			'country' => $countryParam,
			'badge' => $badgeGroupParam,
			'category' => $categoryParam,
			'tag' => $tagParam,
		));
		foreach(Mage::helper('ibd_homepagebanner')->getBrandAlphaFilters() as $alpha): ?>
		<li<?php if($alpha == $alphaParam && $alpha != null) echo ' class="active"'; ?>>
			<a href="<?php echo $this->getSearchBaseUrl().'?alpha='.($alpha == '#' ? '%23' : $alpha).'&'.$params; ?>">
				<?php echo strtoupper($alpha) ?>
			</a>
		</li>
		<?php endforeach ?>
	</ul>

	<?php if( sizeof( $this->getGeographic() ) > 0): ?>
	<span class="h4 filter-section"><?php $this->_e('地点') ?></span>
	<ul class="list-filter geographic-filter">
		<?php $params = http_build_query(array(
			'status' => $statusParam,
			'continent' => $continentParam,
			'country' => $countryParam,
			'badge' => $badgeGroupParam,
			'category' => $categoryParam,
			'tag' => $tagParam,
			'alpha' => $alphaParam
		));
		foreach ($this->getGeographic() as $continentArray): ?>
		<li>
			<a<?php if($continentArray['name'] == $continentParam) echo ' class="active"' ?> href="<?php
				echo $this->getSearchBaseUrl().'?continent='.$continentArray['name'].'&'.$params; ?>">
				<?php echo $continentArray['name'] ?>
			</a>
			<ul>
				<?php foreach ($continentArray['countries'] as $countryName): ?>
				<a<?php if($countryName == $countryParam) echo ' class="active"' ?> href="<?php
					echo $this->getSearchBaseUrl().'?country='.$countryName.'&'.$params; ?>">
					<li<?php if($countryName == $countryParam) echo ' class="active"' ?>>
						<?php echo $countryName; ?>
					</li>
				</a>
				<?php endforeach; ?>
			</ul> <!-- continent group -->
		</li>
		<?php endforeach; ?>

	</ul> <!-- .geographic-filter -->
	<?php endif ?>

	<?php if(sizeof($this->getGroupCategories()) > 0): ?>
	<!-- category filters -->
	<span class="h4 filter-section"><?php $this->_e('购物地标种类'); ?></span>
	<ul class="list-filter">
		<?php $params = http_build_query(array(
			'status' => $statusParam,
			'continent' => $continentParam,
			'country' => $countryParam,
			'badge' => $badgeGroupParam,
			'tag' => $tagParam,
			'alpha' => $alphaParam
		));
		foreach ($this->getGroupCategories() as $category): if($category == '0') continue; ?>
		<a href="<?php echo $this->getSearchBaseUrl().'?category='.$category.'&'.$params; ?>">
			<li<?php if($category == $categoryParam) echo ' class="active"' ?>>
				<?php echo $category ?>
			</li>
		</a>
		<?php endforeach ?>
	</ul> <!-- end category filters -->
	<?php endif ?>

	<?php if(sizeof($this->getGroupBadges()) > 0): ?>
	<!-- badge filters -->
	<span class="h4 filter-section"><?php $this->_e('IBD团体'); ?></span>
	<ul class="list-filter">
		<?php $params = http_build_query(array(
			'status' => $statusParam,
			'continent' => $continentParam,
			'country' => $countryParam,
			'tag' => $tagParam,
			'category' => $categoryParam,
			'alpha' => $alphaParam
		));
		foreach ($this->getGroupBadges() as $badge): ?>
		<a href="<?php echo $this->getSearchBaseUrl().'?badge='.$badge['name'].'&'.$params; ?>">
			<li<?php if($badge['name'] == $badgeGroupParam) echo ' class="active"' ?>>
				<span><?php echo $badge['name'] ?></span>
				<?php if($badge['icon']): ?><img src="<?php
					echo Mage::helper('ibd_travelsuite/group_badgeicon')->getImageBaseUrl().$badge['icon'];
				?>" alt="badge icon"><?php endif; ?>
			</li>
		</a>
		<?php endforeach ?>
	</ul> <!-- end badge filters -->
	<?php endif ?>

	<?php if( sizeof( $this->getTags() ) > 0): ?>
	<!-- tag filters -->
	<span class="h4 filter-section"><?php $this->_e('分类'); ?></span>
	<ul class="list-filter">
		<?php $params = http_build_query(array(
			'status' => $statusParam,
			'continent' => $continentParam,
			'country' => $countryParam,
			'badge' => $badgeGroupParam,
			'category' => $categoryParam,
			'alpha' => $alphaParam
		));
		foreach ($this->getTags() as $tag): ?>
		<a href="<?php echo $this->getSearchBaseUrl().'?tag='.$tag->getTag().'&'.$params; ?>">
			<li<?php if($tag->getTag() == $tagParam) echo ' class="active"' ?>>
				<?php echo $tag->getTag() ?>
			</li>
		</a>
		<?php endforeach ?>
	</ul> <!-- end tag filters -->
	<?php endif ?>

	<!-- clear filter links -->
	<ul class="list-filter">
		<?php if($tagParam || $continentParam || $countryParam || $categoryParam || $badgeGroupParam): ?>
		<a class="clear-filters" href="<?php echo $this->getSearchBaseUrl().'?status='.$statusParam; ?>">
			<li><?php $this->_e('清除所有过滤') ?></li>
		</a>
		<?php endif ?>
	</ul> <!-- end clear filter links -->
	<div class="sidebar-filter-footer"></div>
	</div> <!-- #collapse.panel-collapse -->
</div>
<script type="text/javascript">
if(!window.ibdPaging) window.ibdPaging = {};
window.ibdPaging['params'] = '<?php echo http_build_query(array(
	'status' => $statusParam,
	'continent' => $continentParam,
	'country' => $countryParam,
	'badge' => $badgeGroupParam,
	'category' => $categoryParam,
	'tag' => $tagParam,
	'alpha' => $alphaParam
)); ?>';
</script>