<?php 
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */

/**
 * Brand list template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */
$key = $this->getParam('key');
$query = $this->getParam('q');
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php if (Mage::helper('ibd_travelsuite/brand')->isRssEnabled()) : ?>
<div class="page-title brand-title">
    <a href="<?php echo Mage::helper('ibd_travelsuite/brand')->getRssUrl();?>" class="link-rss">
        <?php echo Mage::helper('ibd_travelsuite')->__('Subscribe to RSS Feed')?>
    </a>
</div>
<?php endif;?>

<div class="row">
  <div class="col-sm-12"><!-- begin placeholder tabs -->
  <br>
      <div role="tabpanel" class="where-to-shop">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active">
                  <a href="#brand-showcase" role="tab" data-toggle="tab" class="tab-anchor"
                      aria-controls="brand-showcase">
                      <?php $this->_e('brand_showcase') ?>
                  </a>
              </li>
              <li role="presentation">
                  <a href="#brand-directory" role="tab" data-toggle="tab" class="tab-anchor"
                      aria-controls="brand-directory">
                      <?php $this->_e('brand_directory') ?>
                  </a>
              </li>
          </ul>
          <div class="row">
              <div class="row brand-filters">
                  <div class="center-block text-center" style="display:block;margin-left: auto;margin-right:auto;width:90%;">
                  <ul class="nav nav-pills col-sm-12 hidden-xs desktop-alpha alpha">
                      <li role="presentation" class="featured active">
                          <a href="#" data-alpha="featured"><?php $this->_e('Featured') ?></a>
                      </li>
                      <li role="presentation" class="all">
                          <a href="#" data-alpha="all"><?php $this->_e('All') ?></a>
                      </li>
                  </ul>
              </div>
              <div class="clearfix"></div>
              <div class="brand-selectpickers">
                  <div class="search col-xs-12 col-sm-3 pull-right">
                      <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">
                              <span class="glyphicon glyphicon-search"></span>
                          </span>
                          <input type="text" class="form-control"
                              placeholder="<?php $this->_e('search_brand_name') ?>"
                              id="brand-search"
                              aria-describedby="basic-addon1">
                      </div>
                  </div>
                  <div class="col-xs-3 col-sm-3 visible-xs mobile-alpha">
                      <select class="selectpicker alpha" title="<?php $this->_e('Alphabetically') ?>">
                          <option class="all" value="all">
                              <a href="#"><?php $this->_e('All') ?></a>
                          </option>
                          <option value="featured" selected title="<?php $this->_e('Alphabetically') ?>">
                              <a href="#"><?php $this->_e('Featured') ?></a>
                          </option>
                      </select>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                      <select class="selectpicker product" title="<?php $this->_e('filter_products') ?> " multiple>
                      </select>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                      <select class="selectpicker city" title="<?php $this->_e('filter_cities') ?>"
                          data-all="<?php $this->_e('filter_cities_all') ?>">
                      </select>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                      <select class="selectpicker destination" title="<?php $this->_e('select_2c_destinations') ?>"
                          data-all="<?php $this->_e('filter_destinations_all') ?>"
                          data-alt-title="<?php $this->_e('shopping_destinations') ?>" disabled>
                      </select>
                  </div>
              </div><!--brand-selectpickers-->
              <div class="clearfix brand-selectpicker-bottom"></div>
          </div><!-- row -->

          <!-- Tab panes -->
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="brand-showcase">
                  <div class="col-sm-12 brand-results showcase-results" id="brand-showcase-container"></div>
              </div><!-- end tab-pane-->
              <div role="tabpanel" class="tab-pane" id="brand-directory">
                  <div class="col-sm-12 brand-results listings" id="brand-directory-container"></div>
              </div><!-- tab-pane -->
          </div><!-- tab-content -->
      </div><!-- tabpanel-->
  </div> <!-- placeholder tabs -->
</div><!-- row -->
<script type="text/javascript">//<![CDATA[
window.ibdFullBrandData=<?php echo $this->getFullBrandDataJSON() ?>;//]]>
window.ibdBrandKey = <?php echo ($key ? '\''.$key.'\'' : 'null') ?>;
window.ibdSearchQuery = <?php echo ($query ? '\''.$query.'\'' : 'null') ?>;
window.ibdNoResultsText = '<?php $this->_e('empty_search_results') ?>';
</script>
<script type="text/x-lodash" id="brand-showcase-template">
<div class="col-xs-6 col-md-3 col-lg-3 text-center">
    <a href="#showcase-modal-{{ id }}" role="button"
      data-toggle="modal"
      data-target="#showcase-modal-{{ id }}"
      aria-expanded="false"
      aria-controls="non-showcase-map-{{ id }}"
      title="看{{ name }}店铺详情">
        <div>
            {[ if(thumb){ ]}<img src="{{ thumb }}" alt="Brand Featured Image" class="img-responsive">{[ } ]}
            <div class="brand-name"><div>{{ name }}</div></div>
        </div>
    </a>
    <div class="brand-modal modal fade" id="showcase-modal-{{ id }}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4>{{ name }}</h4>
                </div>
                <div class="modal-body">
                    <ul class="clearfix">
                      {[ if(addresses.ready.length === 0) { ]}
                        <li class="col-sm-6"><?php $this->_e('no_brand_addresses') ?></li>
                      {[ } ]}
                      {[ window.IBD_lodash.forEach(addresses.ready, function(addy){ ]}
                        <li class="col-sm-6">{{ addy }}</li>
                      {[ }); ]}
                    </ul>
                    <p>
                        <a href="{{ url }}" target="_blank">
                            <?php $this->_e('brand_details') ?>&nbsp
                            <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
<script type="text/x-lodash" id="brand-directory-template">
<div class="col-xs-6 col-md-4 col-lg-3 {[ if(showcase){ ]} showcase-brand{[ } ]}">
  {[ if(addresses.ready.length > 0 || showcase){ ]}
    <div><a href="#directory-modal-{{ id }}" role="button"
      data-toggle="modal"
      data-target="#directory-modal-{{ id }}"
      aria-controls="directory-modal-{{ id }}"
      title="看{{ name }}店铺详情">
        {{ name }}
    </a></div>
    <div class="brand-modal modal fade" id="directory-modal-{{ id }}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4>{{ name }}</h4>
                </div>
                <div class="modal-body">
                    <ul class="clearfix">
                      {[ if(addresses.ready.length === 0) { ]}
                        <li class="col-sm-6"><?php $this->_e('no_brand_addresses') ?></li>
                      {[ } ]}
                      {[ IBD_lodash.forEach(addresses.ready, function(addy){ ]}
                        <li class="col-sm-6">{{ addy }}</li>
                      {[ }); ]}
                    </ul>
                    {[ if(showcase){ ]}
                    <p>
                        <a href="{{ url }}" target="_blank">
                            <?php $this->_e('brand_details') ?>&nbsp;
                            <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                    </p>
                    {[ } ]}
                </div>
            </div>
        </div>
    </div>
  {[ } else { ]}
    <div><a class="no-link">{{ name }}</a></div>
  {[ } ]}
</div>
</script>
<script type="text/x-lodash" id="final-showcase-template">
<div class="col-xs-6 col-md-3 col-lg-3 text-center">
    <a href="#">
        <div>
            <img src="/skin/frontend/ibd/default/src/images/view-more-brands.png" alt="All Brands" class="img-responsive">
            <div class="brand-name"><div>View All Brands &gt;&gt;</div></div>
        </div>
    </a>
    <br>
</div>
</script>