<?php
/**
 * IBD_TravelSuite extension
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Brand view template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */

// init some stuff...
$brand = $this->getCurrentBrand();
$groups = $brand->getSelectedGroups();
$groupCount = count($groups);
// convert json into array
$brandGroupData = json_decode($brand->getGroupData(), true);
if(!$brandGroupData) $brandGroupData = array();
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="view">

   <!--  <div class="url">
        <?php echo $this->h()->__('访问官网') ?>:
        <a href="<?php echo $brand->getOfficialUrl() ?>" target="_blank"><?php echo $brand->getOfficialUrl() ?></a>
    </div> -->

    <div class="panel-group group-addresses" id="accordion" role="tablist">
    <?php $i = 0; foreach ($groups as $group):
        if(!isset($brandGroupData[$group->getId()])) $brandGroup = array();
        else $brandGroup = $brandGroupData[$group->getId()]; ?>
        <div class="panel panel-default group">
            <div class="panel-heading <?php if (!$i) echo 'active'; ?>"
                data-toggle="collapse" data-parent="#accordion"
                data-target="#collapse<?php echo $i; ?>" role="tab"
                id="heading<?php echo $i;?>">
                <h4 class="panel-title">
                    <?php echo $brand->getName(); ?> (<?php echo $group->getName() ?>)
                </h4>
            </div>

            <div class="panel-collaspe collapse <?php if (!$i) echo "in" ?>" id="collapse<?php echo $i; $i++;?>" role="tabpanel">
                <div class="panel-body location">
                    <?php if(isset($brandGroup['hours']) && $brandGroup['hours']): ?>
                    <div class="meta col-sm-6">
                        <p><span class="h6 brand-group-meta-label"><?php echo $this->h()->__('营业时间') ?></span><br>
                        <?php echo $this->h()->carriageReturnsToBreaklines($brandGroup['hours']) ?></p>
                    </div>
                    <?php endif ?>
                    
                    <?php if(isset($brandGroup['phone']) && $brandGroup['phone']): ?>
                    <div class="meta col-sm-6">
                        <p><span class="h6 brand-group-meta-label"><?php echo $this->h()->__('电话') ?></span><br>
                        <?php echo $this->h()->carriageReturnsToBreaklines($brandGroup['phone']) ?></p>
                    </div>
                    <?php endif ?>

                    <?php if(isset($brandGroup['address']) && $brandGroup['address']): ?>
                    <div class="meta col-sm-6">
                        <p><span class="h6 brand-group-meta-label"><?php echo $this->h()->__('地址') ?></span><br>
                        <?php echo $this->h()->carriageReturnsToBreaklines($brandGroup['address']) ?></p>
                    </div>
                    <?php endif ?>

                    <div id="brandMap<?php echo $group->getId() ?>" class="map col-xs-12"></div><!--don't change the id!-->

                    <?php
                    if(isset($brandGroup['directions'])):
                        foreach ($brandGroup['directions'] as $type => $directions):
                            if($directions): ?>
                    <div class="directions col-sm-6">
                        <p>
                            <span class="h6 brand-group-meta-label"><?php echo $this->h()->__($type); ?>:</span><br>
                            <?php echo $this->h()->carriageReturnsToBreaklines($directions); ?>
                        </p>
                    </div>
                    <?php endif; //if directions variable
                        endforeach;
                    endif; // if directions key is set ?>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
    </div>

    <div class="orphan-addresses">
    <?php
    $printedTitle = false;
    $modal_id = 0;
    foreach ($brandGroupData as $key => $data):
        if(!is_numeric($key) && isset($data['address'])):
            if(!$printedTitle) {
                echo '<h4>'.$this->h()->__('其它店铺地址').'</h4>';
                $printedTitle = true;
            } ?>
            <div class="orphan-address">
               <div class="col-xs-6 col-md-4 col-lg-3">
                    <a href="#directory-modal-<?php echo $modal_id; ?>" role="button"
                      data-toggle="modal"
                      data-target="#directory-modal-<?php echo $modal_id; ?>"
                      aria-controls="directory-modal-<?php echo $modal_id; ?>"
                      title="看<?php echo $data['groupName'] ?>地址"><?php echo $data['groupName'] ?></a>
                    <div class="brand-modal orphaned-address-modal modal fade" id="directory-modal-<?php echo $modal_id; ?>" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4><?php echo $data['groupName'] ?></h4>
                                </div>
                                <div class="modal-body">
                                    <ul class="clearfix">
                                        <li><?php echo $data['address'] ?></li>
                                        <?php if(!empty($data['url'])): ?><li>
                                            <?php echo __('链接：') ?>
                                            <a 
                                                href="<?php echo $data['url'] ?>"
                                                target="<?php if($data['targetBlank'] == 1){echo "_blank";} else {echo "none";}?>"
                                            >
                                            <?php echo $data['url'] ?></a></li>
                                        <?php endif; ?>
                                    </ul>
                                </div><!-- .modal-body -->
                            </div><!-- .modal-content -->
                        </div><!-- .modal-lg -->
                    </div><!-- .brand-modal -->
                </div>
            </div>
        <?php $modal_id++; ?>
        <?php endif;
    endforeach; ?>
    </div>
</div>
<script type="text/javascript">
var ibdMapLocations = {<?php
$groupCount = sizeof($groups);
$i = 0;
foreach($groups as $group): ?>brandMap<?php echo $group->getId()?>:{
latLng:{lat:<?php echo $group->getLat(); ?>,lng:<?php echo $group->getLng(); ?>},
title:'<?php echo $this->h()->stringForJson($group->getName())?>',
summary:'<?php echo $this->h()->stringForJson($group->getSummary())?>'
}
<?php if(++$i < $groupCount) { echo ','; } endforeach; ?>};
</script>
<script type="text/x-lodash" id="mapWindowTemplate">
<span class="h5">{{ title }}</span><br>
{{ summary }}
</script>
