<?php $_items = $this->getItems(); ?>
<?php $status = $this->getRequest()->getParam('status', 'all'); ?>
<div class="container main-container  vendor-container">
    <h1 class="text-center"><?php echo $this->__('List of All Products') ?></h1>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="row">
                    <ul class="list-inline text-center list-unstyled filtration margin-left-mobile">
                        <li><a href="<?php echo Mage::getUrl('*/*/*') ?>"<?php echo ($status == 'all') ? ' class="active"' : ''?>><?php echo $this->__("ALL"); ?></a></li>
                        <li><a href="<?php echo Mage::getUrl('*/*/*/status/active') ?>"<?php echo ($status == 'active') ? ' class="active"' : ''?>><?php echo $this->__("ACTIVE"); ?></a></li>
                        <li><a href="<?php echo Mage::getUrl('*/*/*/status/pending') ?>"<?php echo ($status == 'pending') ? ' class="active"' : ''?>><?php echo $this->__("PENDING"); ?></a></li>
                        <li><a href="<?php echo Mage::getUrl('*/*/*/status/inactive') ?>"<?php echo ($status == 'inactive') ? ' class="active"' : ''?>><?php echo $this->__("INACTIVE"); ?></a></li>
                        <li><a href="<?php echo Mage::getUrl('*/*/*/status/disapproved') ?>"<?php echo ($status == 'disapproved') ? ' class="active"' : ''?>><?php echo $this->__("DISAPPROVED"); ?></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class='table-responsive'>
               <table class="table table-striped">
                <thead>
                    <th><?php echo $this->__('ID') ?></th>
                    <th><?php echo $this->__('Name') ?></th>
                    <th><?php echo $this->__('Product Type') ?></th>
                    <th><?php echo $this->__('SKU') ?></th>
                    <th><?php echo $this->__('Product Price') ?></th>
                    <th><?php echo $this->__('Qty Available') ?></th>
                    <th><?php echo $this->__('Status') ?></th>
                    <th colspan="<?php echo Mage::helper('supplierfrontendproductuploader')->canEditProducts() ? '3' : '2' ?>"><?php echo $this->__('Actions') ?></th>
                </thead>
                <tbody>
                <?php if($_items->count()): ?>
                    <?php foreach($_items AS $_item): ?>
                        <?php $item = Mage::getModel('catalog/product')->load($_item->getEntityId()); ?>
                        <tr class="item<?php echo ($item->isSalable() && $item->getSupplierActivedProduct() == 1) ? ' success': '' ?>">
                            <td><?php echo $item->getId(); ?></td>
                            <td><?php echo $item->getName(); ?><?php echo $item->getAdminProductNote() ? ' <span class="badge pull-right badge-important" data-toggle="tooltip" data-placement="top" title="'.$item->getAdminProductNote().'">!</span>' : "" ?></td>
                            <td><?php echo $item->getTypeId(); ?></td>
                            <td><?php echo $item->getSku(); ?></td>
                            <td><?php echo Mage::helper('core')->currency($item->getFinalPrice()); ?></td>
                            <td><?php echo number_format(Mage::getModel('cataloginventory/stock_item')->loadByProduct($item)->getQty()) ?></td>
                            <td><?php echo $this->getStatusLabel($item->getData('frontendproduct_product_status')); ?></td>

                           <?php if(Mage::helper('supplierfrontendproductuploader')->canEditProducts()) : ?>
                            <td>
                                <a href="<?php echo Mage::getUrl('supplierfrontendproductuploader/product/edit', array('id' => $item->getId(), 'type' => $item->getTypeId())); ?>" class="btn btn-warning"><?php echo $this->__('Edit'); ?></a>
                            </td>
                            <td>
                                <a href="<?php echo Mage::getUrl('supplierfrontendproductuploader/product/clone', array('id' => $item->getId(), 'type' => $item->getTypeId())); ?>" class="btn btn-warning"><?php echo $this->__('Clone'); ?></a>
                            </td>
                            <?php endif; ?>
                             <?php if(!in_array($item->getData('frontendproduct_product_status'), array(Cminds_Supplierfrontendproductuploader_Model_Product::STATUS_PENDING, Cminds_Supplierfrontendproductuploader_Model_Product::STATUS_DISAPPROVED))) : ?>
                                <td>
                                <?php if($item->getSupplierActivedProduct() == 0) : ?>
                                    <a href="<?php echo Mage::getUrl('supplierfrontendproductuploader/product/active', array('id' => $item->getId(), 'type' => $item->getTypeId())); ?>" class="btn btn-success"><?php echo $this->__('Activate'); ?></a>
                                <?php elseif($item->getSupplierActivedProduct() == 1): ?>
                                    <a href="<?php echo Mage::getUrl('supplierfrontendproductuploader/product/deactive', array('id' => $item->getId(), 'type' => $item->getTypeId())); ?>" class="btn btn-danger"><?php echo $this->__('Deactivate'); ?></a>
                                <?php endif; ?>
                                </td>
                            <?php endif; ?>
                            <td>
                                <a href="<?php echo $item->getProductUrl() ?>" class="btn btn-primary" target="_blank"><?php echo $this->__('Preview'); ?></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                <?php else: ?>
                    <td colspan="7"><?php echo $this->__('No results')?></td>
                <?php endif; ?>
                </tbody>
                <tfoot>
                <th><?php echo $this->__('ID') ?></th>
                <th><?php echo $this->__('Name') ?></th>
                <th><?php echo $this->__('Product Type') ?></th>
                <th><?php echo $this->__('SKU') ?></th>
                <th><?php echo $this->__('Product Price') ?></th>
                <th><?php echo $this->__('Qty Available') ?></th>
                <th><?php echo $this->__('Active') ?></th>
                <th colspan="<?php echo Mage::helper('supplierfrontendproductuploader')->canEditProducts() ? '3' : '2' ?>"><?php echo $this->__('Actions') ?></th>
                </tfoot>
            </table>
            <?php
            echo $this->getLayout()->createBlock('core/template')
                ->setTemplate('supplierfrontendproductuploader/product/pagination.phtml')
                ->setCollection($_items)
                ->toHtml() ?>
                </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        if(jQuery("[data-toggle=tooltip]").length) {
            jQuery("[data-toggle=tooltip]").tooltip().on('hidden.bs.popover', function(){
                jQuery(this).show();
            });
        }
    });
</script>
