<div class="h2 blog-name page-title title"><h1 class="text-center"><?php echo Mage::getStoreConfig('blog/blog/title'); ?></h1></div>
<?php $posts = $this->getPosts(); ?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?>
</div>

<?php //echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
<?php foreach ($posts as $post): ?>
    <div class="blog-index-post">
        <div class="">
            <h2  class="post-title h5"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
            <p class="blog-time"><?php echo $this->__("作者"); ?> <?php echo $post->getUser(); ?> | <?php $post_time = new Zend_Date( $post->getCreatedTime() );
                  echo $post_time->toString( 'yyyy年MM月dd日'); ?></p>
        </div>
        <div class="postContent std"><?php echo $post->getPostContent(); ?></div>

        <?php echo $this->getBookmarkHtml($post) ?>
        <div class="blog-index-post-footer">
            <div class="blog-tags"><?php echo $this->getTagsHtml($post) ?></div>
            <div class="postDetails">
                <?php if ($this->getCommentsEnabled()): ?>
                    <a href="<?php echo $post->getAddress(); ?>#commentBox" ><?php echo $post->getCommentCount(); ?><?php echo Mage::helper('blog')->__(' Comments'); ?></a> |
                <?php endif; ?>
                <?php $postCats = $post->getCats(); ?>
                <?php if (!empty($postCats)): ?>
                    <?php echo Mage::helper('blog')->__('Posted in'); ?>
                    <?php foreach ($postCats as $data): ?>
                        <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a>
                    <?php endforeach; ?>
                <?php else: ?>
                    <?php echo Mage::helper('blog')->__('Posted'); ?>
                <?php endif; ?></div>
        </div><?php // .blog-index-post-footer ?>
    </div><?php //.blog-index-post ?>
<?php endforeach; ?>
<?php // echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
