<?php
$groups = $this->getFeaturedGroups();
if($groups->count() > 0): ?>
<?php if(false) : // Don't display featured groups ?>
<div class="featured-groups container">
	<h1 class="text-center"><?php $this->_e('国际购物目的地') ?></h1>
	<h5 class="text-center"><?php $this->_e('去国外哪里？') ?></h5>
	<div class="row">
		<?php foreach ($groups as $group): ?>
			<div class="col-sm-4">
				<div class="featured-group">
					<div class="image-banner">
						<div class="banner-ribbon" style="border-right-color: #<?php 
						$color = $group->getColor();
						// convert the hex string to a decimal number and make it darker
						$dec = hexdec($color);

						// check if the background color is dark enough
						if ( $dec < 2236962 ) : 
							echo '000000';
						else : $dec -= 2236962;
							   // reconvert the decimal into hex string
							   $hex = dechex($dec);
							   echo $hex;
						endif;
						?>;"></div>
						<h5 class="text-center auto-text-color" style="<?php echo $this->h()->getStyleCss($group) ?>">
							<?php echo $group->getRegionName(); ?>,<br />
							<?php echo $group->getCountryName(); ?>
						</h5>
					</div>
					<div class="image" style="border-color: #<?php echo $group->getColor();?>">
						<?php if($group->getImage()): ?>
						<a href="<?php echo $group->getGroupURL(); ?>" title="<?php echo $group->getName(); ?>">
							<img class="img-responsive" src="<?php
							echo Mage::helper('ibd_travelsuite/group_image')->getImageBaseUrl() . $group->getImage();
							?>" alt="featured image">
						</a>
						<?php endif; ?>
					</div>
					<div class="body">
						<a href="<?php echo $group->getGroupURL(); ?>" title="<?php echo $group->getName(); ?>">
							<h2 class="text-center">
								<?php echo $group->getName(); ?>
							</h2>
							<p class="text-center" ><?php echo $group->getSummary(); ?></p>
						</a>
					</div>
				</div>
			</div>
		<?php endforeach; ?>
	</div>
</div>
<?php endif; ?>
<?php endif;