<?php
/**
 * IBD_TravelSuite extension
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Group view template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */

// init some stuff
$group = $this->getCurrentGroup();
$brands = $group->getSelectedBrands('main_table.name');
$brandCount = count($brands);
$directions = $group->getDirections();

?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="band<?php if(!($group->getColor())) echo ' unset' ?>" style="<?php echo $this->h()->getStyleCss($group) ?>">
    <?php echo $this->getLayout()
                    ->createBlock('ibd_travelsuite/title')
                    ->setInfo($group, $group->getName())
                    ->toHtml(); ?>
</div>
<div class="view">

    <div class="note">
        
        <div class="row">
            <div class="col-sm-7">
                <h5 class="sub-title"><?php echo $this->__("特点"); ?></h5>
                <?php echo $group->getHtml();?>
            </div>
            
            <div class="info col-sm-5">
                <?php if($group->getAddress()): ?>
                <h6 class="group-address"><?php echo $group->getAddress()?></h6>
                <?php endif; ?>
                
                <?php if($group->getOfficialUrl()): ?>
                <h6 class="group-url"><a href="<?php echo $group->getOfficialUrl()?>" target="_blank">
                <?php echo $group->getOfficialUrl()?>
                </a></h6>
                <?php endif; ?>

                <div class="social">
                <?php echo $this->getLayout()->createBlock('ibd_travelsuite/social')->setSocial($group->getSocial())->toHtml() ?>
                </div>
            </div>
        </div>
    </div>
    
    <?php if ( $group->hasDescription() ) : ?>
    <div class="description">
        <h4 class="sub-title"><?php echo $this->__("介绍"); ?></h4>
        
        <div class="des-content">
            <?php echo $group->getDescription();?>
        </div>
    </div>
    <?php endif; ?>

    <div class="brands clearfix">
        <h4 class="sub-title"><?php echo $this->__("商店目录"); ?></h4>

        <?php
        $current = 0;
        $newColAt = $brandCount / 3;
        $currentCharacter = 'init'; // won't match any character, so the first will show ?>
        <div class="column">
        <?php foreach ($brands as $brand): ?>
            <?php if($current > $newColAt): $newColAt += $newColAt; ?>
        </div>
        <div class="column">
            <?php endif; ?>
            <?php if($currentCharacter != substr($brand->getName(), 0, 1)): $currentCharacter = substr($brand->getName(), 0, 1); ?>
            <span class="alpha"><?php echo $currentCharacter; ?></span>
            <?php endif; ?>
            <p>
                <a href="<?php echo $brand->getBrandUrl() ?>" class="brand">
                    <?php if($brand->isShowcased()): ?>
                        <strong><?php echo $brand->getName(); ?></strong>
                    <?php else: ?>
                        <?php echo $brand->getName(); ?>
                    <?php endif ?>
                </a>
            </p>
        <?php $current++;
        endforeach; ?>
        </div>
    </div>

  <?php if($group->getLat() != 0 && $group->getLng() != 0): ?>
    <div class="location">
        <h4 class="sub-title"><?php echo $this->__("乘车路线"); ?></h4>

        <div id="groupMap" class="map"></div><!--don't change the id!-->

        <?php if($directions): ?>
        <div class="row">
        <?php foreach ($group->getDirections() as $type => $direction): ?>
            <?php if($direction): ?>
            <div class="directions col-sm-6">
                <p><span class="h6 brand-group-meta-label"><?php echo $this->h()->__($type); ?>:</span>
                <br>
                <?php echo $this->h()->carriageReturnsToBreaklines($direction); ?></p>
            </div>
            <?php endif; ?>
        <?php endforeach;?>
        </div>
        <?php endif; ?>
        <script type="text/javascript">
        var ibdMapLocations = {groupMap:{
            latLng:{lat:<?php echo $group->getLat(); ?>,lng:<?php echo $group->getLng(); ?>},
            title:'<?php echo $this->h()->stringForJson($group->getName())?>',
            summary:'<?php echo $this->h()->stringForJson($group->getSummary())?>'
        }};
        </script>
        <script type="text/x-lodash" id="mapWindowTemplate">
        <span class="h5">{{ title }}</span><br>{{ summary }}
        </script>
    </div>
  <?php endif // if has location ?>
</div>