<script type="text/javascript" src="http://www.google.cn/maps/api/js?key=AIzaSyDjJemXbD6pR4y4a9Zkrn7WBxQcbjsQDXE&libraries=places"></script>
<div id="admin-location-chooser" class="box">
	<input id="map-search" type="text" placeholder="Search for a location">
	<div id="map-holder"></div>
</div>
<?php echo $this->getFormHtml(); ?>