<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->getTitle(); ?></h4>
</div>
<div class="fieldset">
	<table class="form-list">
		<tbody>
			<tr>
				<td class="label"><?php echo $this->getTitle(); ?></td>
				<td class="value">
					<select multiple name="<?php echo $this->getSelectName(); ?>" class="tagsInputMultiSelect"
						data-source-name="ibdTagSource"
						data-selected-name="ibdSelectedTagIds"
						data-options-name="ibdTagOptions">
					</select>
					<p class="note">
						<span>
							Type to see existing. Use enter or tab to select
							existing or click comma to add your own.
						</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	var ibdTagSource = <?php echo $this->getAllTagsJSON(); ?>;
	var ibdSelectedTagIds = <?php echo $this->getTagRelationsJSON(); ?>;
	var ibdTagOptions = { trimValue : true };
</script>