<?php
/**
 * IBD_TravelSuite extension
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */

/**
 * Entity carousel template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */

// init some stuff...
$galleryImages = $this->getImages();
$galleryImageCount = sizeof($galleryImages);
if($galleryImageCount > 0): ?>
  <div class="container<?php if($this->fullWidth()) echo '-fluid'; ?>">
      <div class="row">
          <div<?php if(!$this->fullWidth()):?> class="col-sm-12 image"<?php endif ?>>

              <div id="carousel-<?php echo $this->getType() ?>" class="carousel slide" data-ride="carousel">

                <?php if($galleryImageCount > 1): ?>
                  <!-- Indicator -->
                  <ol class="carousel-indicators">
                    <?php $dataslide = 0;
                    foreach ($galleryImages as $i => $image): ?>
                        <li data-target="#carousel-<?php echo $this->getType() ?>" data-slide-to="<?php echo $dataslide?>"
                            class="<?php if( !$dataslide ) echo 'active'; ?>">
                        </li>
                    <?php $dataslide++;
                    endforeach; ?>
                  </ol>
                <?php endif ?>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <?php foreach ($galleryImages as $i => $image): ?>
                    <div class="item <?php if ( $i == 0 ) echo 'active'; ?>">
                        <img src="<?php echo $image['full_url']?>" alt="main image"
                            class="img-responsive" data-img-num="<?php echo $i ?>">
                    </div>
                    <?php endforeach; ?>
                  </div>

                <?php if($galleryImageCount > 1): ?>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-<?php echo $this->getType() ?>" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">上一个</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-<?php echo $this->getType() ?>" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">下一个</span>
                  </a>
                <?php endif ?>

              </div>

          </div>
      </div>
  </div>
<?php endif ?>