<?php
/**
 * IBD_TravelSuite extension
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */

/**
 * Entity carousel template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */

// init some stuff...
$gallery = $this->getGallery();
$galleryImageCount = sizeof($gallery);
if($galleryImageCount > 0): ?>
  <div class="widget-ibd-carousel container<?php if($this->getData('is_fluid')) echo '-fluid'; ?>">
      <div class="row">
          <div<?php if(!$this->getData('is_fluid')):?> class="col-sm-12 image"<?php endif ?>>

              <div id="carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>" class="carousel slide" data-ride="carousel">

                <?php if($galleryImageCount > 1): ?>
                  <!-- Indicator -->
                  <ol class="carousel-indicators">
                    <?php $dataslide = 0;
                    foreach ($gallery as $data): ?>
                        <li data-target="#carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>"
                            data-slide-to="<?php echo $dataslide?>"
                            class="<?php if( !$dataslide ) echo 'active'; ?>">
                        </li>
                    <?php $dataslide++;
                    endforeach; ?>
                  </ol>
                <?php endif ?>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <?php $slideNum = 0; foreach ($gallery as $data): ?>
                    <div class="item <?php if ( $slideNum == 0 ) echo 'active'; ?>">
                      <?php if( $data['link'] ): $closeAnchor = '</a>'; ?>
                        <a href="<?php echo $data['link'] ?>"<?php
                            if( isset($data['target']) && $data['target'] ) echo ' target="_blank"';
                        ?>>
                      <?php else: $closeAnchor = '';
                      endif ?>
                        <img src="/media/gallery/image<?php echo $data['path'] ?>" class="img-responsive"
                          data-img-num="<?php echo $slideNum++ ?>">
                      <?php echo $closeAnchor ?>
                    </div>
                    <?php endforeach; ?>
                  </div>

                <?php if($galleryImageCount > 1): ?>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>"
                     role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">上一个</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>"
                     role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">下一个</span>
                  </a>
                <?php endif ?>

              </div>

          </div>
      </div>
  </div>
<?php endif ?>