<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */

/**
 * IBD Flat: Carousel Plus Masonry Template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */

// let's create the carousel and masonry first in the output buffer so that
// we can print them easily later depending on the carousel alignment
$gallery = $this->getGallery('carousel');
$galleryImageCount = sizeof( $gallery );
ob_start(); // create the carousel into the output buffer ?>

<div class="carouselmasonry col-xs-12 col-sm-4">
  <div class="carousel slide" data-ride="carousel" id="widget-carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>">

    <?php if( $galleryImageCount > 1 ): ?>
      <ol class="carousel-indicators">
        <?php
        $slideNum = 0;
        foreach( $gallery as $data ): ?>
          <li data-target="#widget-carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>"
              class="<?php if( $slideNum == 0 ) echo 'active'; ?>"
              data-slide-to="<?php echo $slideNum++ ?>">
          </li>
          <?php endforeach ?>
      </ol>
    <?php endif ?>

      <div class="carousel-inner">
        <?php
        $slideNum = 0;
        foreach( $gallery as $data ): ?>
          <div class="item<?php if( $slideNum == 0 ) { echo ' active'; } ?>">
            <?php if( $data['link'] ): $closeAnchor = '</a>'; ?>
              <a href="<?php echo $data['link'] ?>"<?php
                  if( isset($data['target']) && $data['target'] ) echo ' target="_blank"';
              ?>>
            <?php else: $closeAnchor = '';
            endif ?>
              <img src="/media/gallery/image<?php echo $data['path'] ?>" class="img-responsive"
                data-img-num="<?php echo $slideNum++ ?>">
            <?php echo $closeAnchor ?>
          </div>
          <?php endforeach ?>
      </div>
    <?php if( $galleryImageCount > 1 ): ?>
      <a class="left carousel-control" data-slide="prev"
          href="#widget-carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" data-slide="next"
          href="#widget-carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    <?php endif ?>
  </div>
</div>
<?php
$carousel = ob_get_contents(); // save the output buffer
ob_end_clean();                 // reset the output buffer
$this->resetGallery();

ob_start(); // create the masonry into the output buffer ?>
<div class="carouselmasonry col-xs-12 col-sm-8">

  <div class="masonry" data-item-selector=".flat-widget-img" data-col-count="6" data-gutter-width="20">

    <?php foreach( $this->getGallery() as $data ): $closeAnchor = ''; ?>

      <div class="flat-widget-img <?php echo $this->getImageClass(isset($data['colSpan']) ? $data['colSpan'] : 0) ?>">

        <?php if( $data['link'] ): $closeAnchor = '</a>'; ?>

          <a href="<?php echo $data['link'] ?>"<?php if( isset($data['target']) && $data['target'] )
                                                                          echo ' target="_blank"'; ?>>
        <?php endif; ?>

          <img src="/media/gallery/image<?php echo $data['path'] ?>" class="img-responsive">

        <?php echo $closeAnchor ?>

      </div> <!-- .flat-widget-body -->

    <?php endforeach ?>
  </div><!-- .body -->
</div><!-- size -->
<?php
$masonry = ob_get_contents(); // save the output buffer
ob_end_clean();               // clear the output buffer

/***************************************************
THIS IS WHERE THE ACTUAL OUTPUT OF THE HTML STARTS!
***************************************************/
?>

<div class="container-fluid flat-widget">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10 col-lg-offset-1">

            <div class="heading" style="<?php echo $this->getBorderStyle() ?>">
              <h4 class="flat-widget-title">
        		    <span class="title" style="<?php echo $this->getHeadingStyle() ?>">
                  <?php echo $this->getData('title') ?>
                </span>
              </h4>
              
              <?php if( $this->getData('right_link_text') ): $closeAnchor = ''; ?>

                <span class="link"<?php if($this->getData('title_background_color'))
                      echo ' style="color:'.$this->getData('title_background_color').'"' ?>>
                  
                  <?php if( $this->getData('right_link_url') ): $closeAnchor = '</a>'; ?>
                  
                    <a href="<?php echo $this->getData('right_link_url') ?>"<?php
                        if( $this->getData('right_link_new_window')) echo ' target="_blank"' ?>>

                  <?php endif ?>

                  <?php echo $this->getData('right_link_text') . $closeAnchor; ?>

                </span>

              <?php endif ?>

      		  </div>

            <div class="body carousel-masonry"><?php

              // print out those bad-boys that we created earlier, in the correct order
              if($this->alignLeft('carousel_align')){
                  echo $carousel;
                  echo $masonry;
              }
              else{
                  echo $masonry;
                  echo $carousel;
              }
              ?>
            </div><!-- .body -->
          </div> <!-- col-width -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- container-fluid -->