<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */

/**
 * IBD Flat: Masonry Images Template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */
?>

<div class="container-fluid flat-widget">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10 col-lg-offset-1">

            <div class="heading" style="<?php echo $this->getBorderStyle() ?>">
              <h4 class="flat-widget-title">
        		    <span class="title" style="<?php echo $this->getHeadingStyle() ?>">
                  <?php echo $this->getData('title') ?>
                </span>
              </h4>
              
              <?php if( $this->getData('right_link_text') ): $closeAnchor = ''; ?>

                <span class="link"<?php if($this->getData('title_background_color'))
                      echo ' style="color:'.$this->getData('title_background_color').'"' ?>>
                  
                  <?php if( $this->getData('right_link_url') ): $closeAnchor = '</a>'; ?>
                  
                    <a href="<?php echo $this->getData('right_link_url') ?>"<?php
                        if( $this->getData('right_link_new_window')) echo ' target="_blank"' ?>>

                  <?php endif ?>

                  <?php echo $this->getData('right_link_text') . $closeAnchor; ?>

                </span>

              <?php endif ?>

      		  </div>

            <div class="body masonry" data-item-selector=".flat-widget-img" data-col-count="6" data-gutter-width="10">

              <?php foreach( $this->getGallery() as $data ): $closeAnchor = ''; ?>

                <div class="flat-widget-img <?php echo $this->getImageClass(isset($data['colSpan']) ? $data['colSpan'] : 0) ?>">

                  <?php if( $data['link'] ): $closeAnchor = '</a>'; ?>

                    <a href="<?php echo $data['link'] ?>"<?php if( isset($data['target']) && $data['target'] )
                                                                                    echo ' target="_blank"'; ?>>
                  <?php endif; ?>

                    <img src="/media/gallery/image<?php echo $data['path'] ?>" class="img-responsive">

                  <?php echo $closeAnchor ?>

                </div> <!-- .flat-widget-body -->

              <?php endforeach ?>
            </div><!-- .body -->
          </div> <!-- col-width -->
        </div><!-- row -->
    </div><!-- container -->
</div><!-- container-fluid -->