<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */

/**
 * Gallery WYSWYG template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Kevin Sweeney (kevin@robotshanghai.com)
 */
$gallery = $this->getGallery();
$galleryImageCount = sizeof( $gallery );
?>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default margin-top panel-nobkg panel-widget panel-widget-carousel">
          <div class="panel-heading" style="<?php echo $this->getHeadingStyle() ?>">
		    <h3 class="panel-title"><?php echo $this->getData('title') ?></h3>
		  </div>
          <div class="panel-body">
              <div class="col-sm-6 widget-carousel-carousel">
                <div class="carousel slide" data-ride="carousel"
                    id="widget-carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>">

                  <?php if( $galleryImageCount > 1 ): ?>
                    <ol class="carousel-indicators">
                      <?php
                      $slideNum = 0;
                      foreach( $gallery as $data ): ?>
                        <li data-target="#widget-carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>"
                            class="<?php if( $slideNum == 0 ) echo 'active'; ?>"
                            data-slide-to="<?php echo $slideNum++ ?>">
                        </li>
                        <?php endforeach ?>
                    </ol>
                  <?php endif ?>

                    <div class="carousel-inner">
                      <?php
                      $slideNum = 0;
                      foreach( $gallery as $data ): ?>
                        <div class="item<?php if( $slideNum == 0 ) { echo ' active'; } ?>">
                          <?php if( $data['link'] ): $closeAnchor = '</a>'; ?>
                            <a href="<?php echo $data['link'] ?>"<?php
                                if( isset($data['target']) && $data['target'] ) echo ' target="_blank"';
                            ?>>
                          <?php else: $closeAnchor = '';
                          endif ?>
                            <img src="/media/gallery/image<?php echo $data['path'] ?>" class="img-responsive"
                            	data-img-num="<?php echo $slideNum++ ?>">
                          <?php echo $closeAnchor ?>
                        </div>
                        <?php endforeach ?>
                    </div>
                  <?php if( $galleryImageCount > 1 ): ?>
                    <a class="left carousel-control" data-slide="prev"
                        href="#widget-carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>">
                    	<span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" data-slide="next"
                        href="#widget-carousel-<?php echo $this->getUniqueWidgetCarouselId() ?>">
                    	<span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                  <?php endif ?>
                </div>
              </div>
              <div class="col-sm-6 widget-carousel-text">
                  <?php echo Mage::helper('cms')->getPageTemplateProcessor()->filter($this->getData('text')) ?>
              </div>
          </div><!-- .panel-body -->
        </div>
    </div>
</div><!-- .row -->