#leftnav{

	.block-account{
		border: none;

		.block-title{
			background-color: transparent;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid @lux-turquoise;
			font-weight: 400;
			color: @lux-black;
		}

		.block-content{
			li{
				a{
					border-bottom: none;
				}
			}
		}
	}
}