/* Banner Area
----------------------------------------*/

.cms-home .main-content-bkg {
    background: #fff; /* Old browsers */
    // background: -moz-linear-gradient(top,  #d4cecf 0%, #e8e2e0 27%, #f1eeed 56%, #f5f3f2 79%, #efeded 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4cecf), color-stop(27%,#e8e2e0), color-stop(56%,#f1eeed), color-stop(79%,#f5f3f2), color-stop(100%,#efeded)); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(top,  #d4cecf 0%,#e8e2e0 27%,#f1eeed 56%,#f5f3f2 79%,#efeded 100%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(top,  #d4cecf 0%,#e8e2e0 27%,#f1eeed 56%,#f5f3f2 79%,#efeded 100%); /* Opera 11.10+ */
    // background: -ms-linear-gradient(top,  #d4cecf 0%,#e8e2e0 27%,#f1eeed 56%,#f5f3f2 79%,#efeded 100%); /* IE10+ */
    // background: linear-gradient(to bottom,  #d4cecf 0%,#e8e2e0 27%,#f1eeed 56%,#f5f3f2 79%,#efeded 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4cecf', endColorstr='#efeded',GradientType=0 ); /* IE6-9 */
    
    padding-top: 35px;
    margin-top: -35px;
    .container-fluid;
}

@media (max-width: @screen-xs-max) {
  .homepage-container-fluid, .homepage-banner-bkg {
    padding-left: 0;
    padding-right: 0;
  }
  .showcase-row {
    margin-left: -45px;
    margin-right: -45px;
  }
  .banners-row, .fullwidth-content-image-row {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 30px;
  }
}
/* Carousel
----------------------------------------*/
.home-carousel {
  margin-bottom: 10px;
  margin-left: -30px;
  margin-right: -30px;
  
  .carousel-indicators {
    bottom: 18px;
  }

}
.carousel-item {
  width: 100%;
  background-color: @lux-black;
  margin: auto;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100%;
  max-width: 2000px;
}
/* Tiles
----------------------------------------*/
#banner-tiles .col-sm-3 {
  padding-left: 5px;
  padding-right: 5px;
}
div.tile {
  padding: 0;
  border: 1px solid darken(desaturate(#d4cecf, 18%), 10%);
  border-radius: 8px;
  margin: 0
}

a.tile:hover, a.tile:active, a.tile:focus {
  text-decoration: none;
}

.tile-icon {
  height: 100%;
  width: auto;
  float: left;
  margin: 0;
}

.tile-heading {
  margin: 5px 0 0 0;
  color: inherit;
}

.tile-text {
  margin-bottom: 8px;
  margin-top: 7px;
  line-height: 135%;
  color: #777;
}

div#quicklinks {
  padding: 10px;
  background-color: rgba(0,0,0,0.75);
  overflow: hidden;
  position: absolute;
  bottom: 20px;
  .border-radius(5px);
}
div.quicklinks {
  margin-left: auto;
  margin-right: auto;
}
.carousel-indicators {
  bottom: 0px;
}

@media (max-width: @screen-xs-max) {
  // div#quicklinks {
  //   background-color: transparent;
  //   position: initial;
  //   bottom: auto;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}
/* Banner Ad
----------------------------------------*/

#banner-ibd-content-image img {
/*  width: 270px;
  height: 550px;*/
  margin-bottom: 10px;
}

#banner-below-the-fold {
  margin-top: 10px;
  overflow: hidden;
}


// Home Page Style

.cms-home {
  .std {
    display: none;
  }
  
  #ad {
    height: 100%;
  }
  @media (max-width: @screen-xs-max){
    #banner-tiles {
      padding: 0 15px;
    }

    .banner-content-image {
      overflow: hidden;
      max-height: 600px;
    }
  }

  #homepage-banner .row {
    margin-bottom: 20px;
  }

  @media (min-width: @screen-sm-min) {
    #homepage-banner {
      .row {
        margin-bottom: 20px;
      }

      .tile {
        height: 86px;
        width: ~"calc((100% - 30px) / 3)";
        margin-right: 10px;
        width: 100%;
        overflow: hidden;

        &:last-child {
        margin-right: 0;
        }
      }

      .banner-content-image {
        padding-left: 0;
      }
    }
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .tile-heading {
      text-align: center;
    }
  }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .tile-heading {
      font-size: 28px;  
    }
  }
  @media (max-width: @screen-xs-max) {
    .banner-content-image {
      margin-bottom: 10px;
    }
  }
}

