/*  Blog Index
----------------------------------------*/

/* Sidebar */

.blog-index-list,
.blog-post-view {
  .sidebar-filter ul.list-filter>li>a {
    font-size: 1em;
  }

  .container {
    margin-top: 15px;
  }

  .sidebar-filter span.filter-section {
    background-color: @lux-black;
    &:before {
      border-color: transparent transparent #333;
    }
  }

  .panel-heading {
    background: transparent;
    color: @lux-black;
  }
}

/* Posts */

.blog-index-list .blog-index-post img,
.blog-post-view .postContent img {
  .img-responsive();
}

// Fix for images that use table layouts in blog posts
.blog-post-view .postContent td>img,
.blog-index-list .blog-index-post td>img {
  max-width: none;
}
.blog-post-view .postContent td,
.blog-index-list .blog-index-post td {
  padding: 0 5px 5px 0;
}


.blog-name {
  background-color: @brand-primary;
  .border-radius(8px);
  color: @lux-white;
  h1 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.blog-index-post {
  border-bottom: 1px solid @lux-eggshell;
}

.post-title a {
  color: @lux-gray;
  margin-top: 20px;
  font-size: 150%;
  display: inline-block;
}

.post-title a:hover {
  text-decoration: none;
  color: @brand-primary;
}

.blog-index-post-footer {
  display: block;
  width: 100%;
}

.blog-tags {
  display: inline-block;
}

.postContent{
  width: 100%;
}

.postDetails {
  display: inline-block;
  float: right;
  padding-top: 35px;
}

.tags {
  font-weight: normal;
}
.tags h5 {
  color: @lux-black;
}

.tags li {
  display: inline-block;
}