/*  Brand List
----------------------------------------*/

.cms-brands #carousel-page {
  @media (min-width: @screen-xs-max) {
    margin-left: -15px;
    padding-right: 15px;
  }
}

.brand-list-container hr {
  width: 100%;
  clear: both;
  float: left;
}

.brand-list-item {
  padding: 0 0 0 15px;

  &:first-child {
    padding-top: 0;
  }

  div{
    padding-right: 0;
  }
}

div.brand-list-item-logo {
  padding-left: 0;
  padding-right: 15px;
}

.brand-list-item-info .brand-list-item-logo img {
  margin: 0 auto;
}

div.brand-list-item-info {
  padding-left: 0;
}

.brand-list-item-info .brand-list-item-name {
  margin-left: -30px;
  font-size: 120%;
}

.brand-list-item-info .brand-list-item-name a {
  color: @lux-sand;
  text-decoration: underline;
}

.brand-list-item-info .address-wrapper {
  margin-left: -15px;
}

.address {
  margin-bottom: 20px;
}

.brand-title {
  border-bottom: none;
}

div.badge {

  margin-bottom: -4px;

  span {
    margin-left: 8px;
    margin-bottom: 4px;
    background-color: @lux-teal;
    color: @lux-eggshell;
    padding: 2px 4px;
    .border-radius(4px);
    font-size: 0.8em;
    line-height: 2em;
  }

  img {
    margin-bottom: 3px;
  }
}

/*  Where to Shop:
----------------------------------------*/

.where-to-shop {
  .border-top-radius(4px);
  ul.nav.nav-tabs.nav-justified {
    .border-top-radius(4px);
    background-color: @lux-lightgray;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: @screen-xs-max) {
      border-radius: 0;
      &>li {
        float: left;
        width: 50%;
        padding: 0;
      }
    }
    li a {
      .border-radius(4px);
      background-color: @lux-white;
      color: @lux-black;
      border: none; 
      margin: 12px 15px;
      @media (max-width: @screen-xs-max){
        margin: 5px;
      }
      transition: background 0.25s, color 0.25s;
      &:hover {
        background-color: @lux-turquoise;
        color: @lux-white;
      }
    }
    li.active a {
      background-color: @lux-turquoise;
      color: @lux-white;
      &:hover {
        border: none;
      }
    }
  }
  .tab-pane {

  }
  ul.nav-pills li {
    a {
      color: @lux-black;
      padding: 6px 10px;
      &:hover {
        color: @lux-turquoise;
      }
    }
    &.active a {
      color: @lux-white;
    }
  }
}
.brand-filters {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 12px;
    .border-bottom(4px, solid, @lux-turquoise);
    box-shadow: 0px 4px 6px -4px #111;
    background-color: @lux-white;
    @media (max-width: @screen-xs-max) {
      padding-bottom: 0;
    }
}
.desktop-alpha {
  margin-top: 12px;  
}
.brand-selectpickers {
  & > div {
    margin-top: 12px;
    
    @media (max-width: @screen-xs-max) {
      margin:0;
      padding:0;
      .input-group .input-group-addon {
        border-radius: 0; 
      }
      input#brand-search {
        border-radius: 0;
        border-right: none;
        border-left: none;
        border-top: none;
        box-shadow: none;
      }
      .dropdown-toggle:focus {
        outline: 1px solid @lux-sand !important;
        outline-offset: -1px;
      }
      button.btn.dropdown-toggle.btn-default {
      border: none;
      border-radius: 0;
      border-right: 1px solid #ccc;
      & span.caret {
        right: 10px;
      }
    }


    }
  }
  .btn-default {
    &:hover, &:active, &:focus {
      background-color: initial;
      border-color: @lux-turquoise;
      color: @lux-black;
    }
  }
   .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: initial;
    border-color: @lux-turquoise;      
  }
  .btn-group.bootstrap-select, .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
  }
  .bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 20px;
  }
  @media (min-width: @screen-xs-min) {
    margin-bottom: 12px;
  }
}

.brand-results.listings {
  margin-top: 35px;
}

.brand-results {
  margin-top: 12px;


    .modal-lg {
        @media (min-width: @screen-md-min) {
          width: 730px;
          }
    }

    .modal-header .close {
      background-color: @lux-turquoise;
      padding: 0px 5px 2px;
      border-radius: 3px;
      margin-top: -10px;
      margin-right: -5px;
      color: #fff;
      text-shadow: none;
      opacity: .75;
      font-weight: 300;
      opacity: 1;

      &:hover, &:active, &:focus {
        background-color: lighten(@lux-turquoise, 10%);
      }
    }

  .modal-header {
    text-align: left;
    border-bottom: none;
    padding-left: 30px;
    padding-bottom: 0;
    padding-top: 20px;
  }

  .modal-content {
    border: 2px @lux-turquoise solid;
  }

  .modal-body p {
    text-align: left;
    padding-left: 15px;

    & span.glyphicon-triangle-right {
      font-size: 80%;
    }

  }
  
  .brand-modal ul{
    text-align: left;

    li{
      margin-bottom: 20px;
    }
  }

  &.listings {
    margin-top: 15px;
    div {
      a {
        color: @lux-black;
        text-decoration:none;
        text-transform: uppercase;
        padding: 15px 0;
        display: inline-block;
        font-weight: 200;
        &:hover, &:active, &:focus {
          text-decoration: underline;
          outline: none;
        }
      }
      &.showcase-brand a {
        color: @lux-turquoise;
      }
    }

    .col-xs-6.col-md-4.col-lg-3 {
      display: block;
      height: 45px;

      @media (max-width: @screen-xs-max) {
        margin-bottom: 10px;
      }
      
      div {
        line-height: 110%;
      }
    }

  }
  &.showcase-results {

    &> div { 
      margin-bottom: 15px;

      @media (max-width: @screen-xs-max) {

      }
      a {
       div {
        border: 1px solid transparent;
        transition: all 0.25s;
        img {
        }
        .brand-name {
          height: 3.2em;
          padding-top: 4px;
          background-color: @lux-white;
          transition: border 0.25s;
          text-transform: uppercase;
          color: @lux-black;
          vertical-align: middle;

          div {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            border: none;
            line-height: 130%;

            @media (max-width: @screen-xs-max) {
              font-size: 90%;
            }


          }
        }
      }
    }
      a:hover, a:focus, a:active {
        text-decoration: none;
        div {
          border-color: @lux-turquoise;
          img {
          }
          .brand-name {
            background-color: @lux-turquoise;
            color: @lux-white;
          }
        }
      }
    }
  }
}
.search .input-group span {
  background-color: black;
  border-color: black;
  @media (max-width: @screen-xs-max) {
  }
}
.search .input-group span .glyphicon:before {
  color: white;
}
.search .input-group span input {
  width: 100%;
  @media (max-width: @screen-xs-max) {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid @lux-black;
  }
}

.bootstrap-select.btn-group .dropdown-menu {
  @media (max-width: @screen-xs-max) {
    border-radius: 0;
    border-left: 1px solid @lux-white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

.bootstrap-select.alpha li, .bootstrap-select.product li {
  margin: 2px;
  border-radius: 3px;
}

.bootstrap-select.alpha li.selected, .bootstrap-select.product li.selected {
  background-color: @lux-turquoise;
}

.bootstrap-select.alpha li.selected a, .bootstrap-select.product li.selected a {
  color: #fff;
}

.bootstrap-select.alpha .dropdown-menu li a span.text, .bootstrap-select.product .dropdown-menu li a span.text {
  margin-right: 0;
}

.bootstrap-select.alpha .dropdown-menu>li>a:hover, .bootstrap-select.product .dropdown-menu>li>a:hover {
  color: #000;
  .border-radius(3px);
}

.bootstrap-select.alpha .dropdown-menu li, .bootstrap-select.product .dropdown-menu li {
  position: relative;
  position: relative;
  width: auto;
  display: inline-block;
}

.bootstrap-select.alpha.btn-group.show-tick .dropdown-menu li a span.text, .bootstrap-select.product.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 0;
}

.bootstrap-select.alpha .dropdown-menu>li>a, .bootstrap-select.product .dropdown-menu>li>a {
  padding: 3px 10px;
}
.bootstrap-select.alpha.btn-group.show-tick .dropdown-menu li.selected a span.check-mark, .bootstrap-select.product.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  display: none;
}





