/* Brand Showcase
----------------------------------------*/

.brand-showcase-bkg {
  margin-top: 0px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.brand-showcase-heading {
  background-color: @lux-turquoise;
  padding: 10px 15px;
  overflow: hidden;
  margin-left: 8px;
  margin-right: 8px;
  height: auto;
  .border-top-radius(8px);
}
.brand-showcase-left-wing, .brand-showcase-right-wing {
  width: 8px;
  position: absolute;
  background-color: transparent;
  height: 200px;
  top: 0px;
  overflow: hidden; 
}
.brand-showcase-left-wing {
  left: 0;
  background-image: url('../images/ibd-brand-left-8x400px.svg');
  background-size: 8px 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: none;
}
.brand-showcase-right-wing {
  right: 0;
  background-image: url('../images/ibd-brand-right-8x400px.svg');
  background-size: 8px 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: none;
}


.brand-showcase-heading {
  a {
    color: @lux-eggshell;
    background: lighten(desaturate(@lux-turquoise, 15%), 10%);
    text-decoration: underline;
    padding: 10px;
    .border-radius(4px);
    font-size: 1.1em;
    line-height: 3.2em;
    margin: 1px;
  }
  a:hover {
    color: lighten(@lux-sand, 10%);
    text-decoration: underline;
  }

}
.showcased-brands {
  margin-left: 8px;
  margin-right: 8px;
}

.brand-showcase-heading {
  h2.h1 {
    color: @lux-white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 6px;
    font-size: 180%;
  }
  p {
    color: @lux-white;
    font-size: 0.8em;
    padding-left: 0;
    padding-right: 0;
  }
  form input[type=text] {
    .border-radius(4px);
    border: none;
    height: 2.8em;
    padding-left: 10px;
  }
  form input[type=submit] {
    margin-left: -4px;
    padding: 4px;
    height: 2.8em;
    background-color: @lux-black;
    color: @lux-white;
    border: none;
    .border-left-radius(0);
    .border-right-radius(4px);
    text-transform: uppercase;
  }
}

.brand-container {
  background: @lux-white;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  height: 160px;
  cursor: pointer;
  transition: all 0.15s ease;
  padding-left: 0;
  padding-right: 0;
}
.brand-showcase .showcased-brands a:nth-child(2n+1) .brand-container {
  border-left: 1px solid #CCC;
}

// .brand {
//   height: 100%;
// }

// .brand-name {
//   text-align: center;
//   width: 100%;
//   height: 2.2em;
//   display: none;
// }
// .brand-container:hover {
//   .lux-inner-shadow;
// }
// .brand-container.has-logo:hover {
//   div.brand-showcase-logo {
//     display: inline-block;
//   }
//   .brand-name {
//     color: transparent;
//   }
//   .brand-showcase-product {
//     display: none;
//   }
// }

// div.brand-showcase-logo {
//   position: absolute;
//   left: 0;
//   top: 50%;
//   transform: translateY(-50%);
//   height: 130px;
//   width: 100%;
//   white-space: nowrap;
//   display: none;
//   text-align: center;
// }

// span.brand-showcase-logo-helper {
//   display: inline-block;
//   height: 100%;
//   vertical-align: middle;
// }

// img.brand-showcase-logo {
//   max-height: 100%;
//   vertical-align: middle;
//   max-width: 90%;
// }

.brand-showcase-product-frame {
  text-align: center;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  padding: 5px;
}
.brand-showcase-product-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img.brand-showcase-product {
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-left: -3px;
}

@media (min-width: @screen-sm-min) {
  .brand-showcase-heading {
    a {
      color: @lux-eggshell;
      background: transparent;
      text-decoration: underline;
      .border-radius(none);
      font-size: 1em;
      line-height: 1.5em;
      padding: 2px;
      margin: 0;
    }
    a:hover {
      color: lighten(@lux-sand, 10%);
      text-decoration: underline;
    }
    height: auto;
    .brand-showcase-left-wing, .brand-showcase-right-wing {
      height: 160px;
    }
    .brand-showcase-left-wing {
      background-image: url('../images/ibd-brand-left-8x400px.svg');      
      background-size: 8px 100%;
      left: 0px;
      top: 0px;
    }

    .brand-showcase-right-wing {
      right: 0;
      background-image: url('../images/ibd-brand-right-8x400px.svg');
      background-size: 8px 100%;
      top: 0px;
    }

  }
  .brand-showcase-search-btn #brand-search-button {
    top: 5px;
    right: 5px;
  }
  .brand-showcase .showcased-brands a:nth-child(2n+1) .brand-container {
    border-left: none;
  }
  .brand-showcase .showcased-brands a:nth-child(3n+1) .brand-container {
    border-left: 1px solid #CCC;
  }
}

@media (max-width: @screen-xs-max) {
  // div.brand-showcase-product {
  //   float: right;
  //   width: 50%;
  // }
  img.brand-showcase-product {
    /* width: 80px;
    max-width: 100%;
    height: auto; */
  }
  // div.brand-showcase-logo {
  //   position: relative;
  //   top: 0;
  //   transform: translateY(0%);
  //   width: 50%;
  //   float: right;
  //   display: inline-block;
  // }
  // img.brand-showcase-logo {
  //   width: 80px;
  //   max-width: 100%;
  //   height: auto;
  //   max-height: 100%;
  // }
  // span.brand-showcase-logo-helper {
  //   display: none;
  // }
  // .brand-container:hover {
  //   div.brand-showcase-logo {
  //     display: initial;
  //   }
  //   .brand-name {
  //     color: initial;
  //   }
  //   .brand-showcase-product {
  //     display: initial;
  //   }
  // }
  // .brand-showcase .showcased-brands a:nth-child(3n+1) .brand-container {
  //   border-left: none;
  // }

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .brand-container {
    height: 130px;
  }
}

@media (min-width: @screen-lg-min) {
  .brand-showcase-heading {
    h2.h1 {
      font-size: 220%;
    }
  }
}

/* Home Showcase
**********************/
.showcase-item.col-sm-4.col-xs-6 {
  padding: 0px 10px;
}

.showcase-item h2.h1 {
  margin-top: 0;
}
.banner-item img {
  border: 1px solid #CCC; 
  margin-bottom: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: border 0.25s;
  -moz-transition: border 0.25s;
  -webkit-transition: border 0.25s;
}

.showcase-item img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;  
  transition: border 0.25s;
  -moz-transition: border 0.25s;
  -webkit-transition: border 0.25s;
  max-width: 100%;
}

.fullwidth-content-image img, .content-image img, .quicklink a img {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.quicklink img {
  border: 1px solid transparent;
  transition: border 0.25s;
  -moz-transition: border 0.25s;
  -webkit-transition: border 0.25s;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.banner-item img {
  border: 1px solid #CCC; 
  margin-bottom: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: border 0.25s;
  -moz-transition: border 0.25s;
  -webkit-transition: border 0.25s;
}

.showcase-item img:hover, .banner-item img:hover, .quicklink a img:hover {
  border: 1px solid #56c4c3;
}
