// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}/buttons.less";

// Alias Magento's button class to Bootstraps
.btn {
	&:active, &:focus, &:hover {
		color: @lux-white;
	}
}

.button {
  &:extend(.btn);
  &:extend(.btn-default);
	padding: 7px 30px;
	.background(@lux-black);
	border-color: @lux-black;
	color: @lux-white;
	transition: background-color .15s, border-color .15s;
	// Somewhere is overriding this border-radius parameter...
	border-radius: 2px;

	&:hover {
		.background(@brand-primary);
		border-color: @brand-primary;
		background-color: @brand-primary;
		color: @lux-white;
	}
}
// define a ibd-specific button style
.btn-ibd {
  padding: 7px 30px;
  .background(@lux-black);
  border-color: @lux-black;
  color: @lux-white;
	border-radius: 2px;

  &:hover, &:active, &:focus {
	.background(@brand-primary);
	border-color: @brand-primary;
	color: @lux-white;
  }
}

.layout .main-content-bkg .buttons-set a.btn-ibd.alipay-login {
	&:extend(.btn-ibd all);
	text-decoration: none;
	float: right;
}

// For buttons that are next to page h1 in customer account
.title-buttons button {
	margin-top: 15px;
}

.buttons-set {
  @media (max-width: @screen-sm-max) {
    text-align: center;
    button.button {
      margin: 5px auto;
      float: none;
      display: block;
    }
  }
}