#catalog-menu{
	background-color: @lux-black;
	// margin-top: -5px;
	text-align: center;

	>ul {
		display: block;
		text-align: center;
		margin-bottom: 0;
		height: auto;
		margin: 0 auto;
		clear: both;

		@media (min-width: @screen-lg-min) {
			height: 24px;
		}

		li.highlight a {
			background-color: @lux-turquoise;
			color: @lux-white;
			&:hover, &:active, &:focus {
				background-color: #333;
			}
		}

		>li{
			color: @lux-white;
			font-size: 14px;
			text-transform: uppercase;
			line-height: 0;
			overflow: hidden;
			margin-bottom: -5px;
			// margin-top: 15px;
			
			@media(min-width: @screen-sm-min) {
				&:after {
			    content: " ";
			    display: inline-block;
			    border-right: 1px solid @lux-white;
			    height: 12px;
			    margin-top: 6px;
			    position: absolute;
			    margin-left: 7px;
				}				
			}


			&:last-child:after {
				border-right: none;
			}

			@media (min-width: @screen-md-min) {
				&:after {
					height: 14px;
			    margin-top: 6px;
				}
			}

			>a{
				color:inherit;
				padding: 8px 0;
				display: inline-block;
				font-size: smaller;

				@media (min-width: @screen-sm-max) {
					padding: 12px 30px;
					font-size: small;
				}

				&:hover{
					text-decoration: none;
					background-color: @brand-primary;
				}
			}
		}
	}
}