// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

// .category-title { border:0; margin:0 0 7px; }
// .category-image { width:100%; overflow:hidden; margin:0 0 10px; text-align:center; }
// .category-image img {}
// .category-description { margin:0 0 10px; }
// .category-products {}

.category-image img {
	&:extend(.img-responsive);
}

.category-description {
	margin-bottom: (@line-height-computed / 2);
}

.category-products {
	.toolbar {
		margin-bottom: (@line-height-computed / 2);
		//display: none;
		// Removing the toolbar until can find better solution
	}
}

// Block: Category Tree

.block.category-tree {
  .block-title {
  	font-weight: 400;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid @lux-turquoise;
    color: black;
    text-align: left;
    a {
    	color: @lux-black;
    	&:hover, &:focus, &:active {
    		color: @lux-turquoise;
    	}
    }
  }
  li ul {
    margin-left: 0;
    margin-top: 15px;

    li {
      margin-top: 15px;

      &.active>a {
        color: @brand-primary;
      }
      a {
        color: @lux-black;
        &:hover, &:focus, &:active {
          color: @brand-primary;
          text-decoration: none;
        }
      }
      ul {
        margin-top: 0px;
        margin-left: 10px;
      }
    }
  }

}
