/* Merchant Signup */
body.merchantsignup-index-index {
	padding-top: 0;
	.container.vendor-container {
		max-width: 500px;
		float: left;
	}

	#merchant-signup-bottom {
		clear: both;
	}
}


/* Product List */
.cminds-supplierfrontendproductuploader-product-list {
	a.btn {
		&:extend(btn all);
		&:extend(btn-default all);
	}
}

/* Create Product form */
@media (min-width: @screen-md-min) {
	#product_create_form .container-fluid > .col-md-4 {
	  width: 50%;
	}
}

.cminds-marketplace-product-createconfigurable,
.cminds-supplierfrontendproductuploader-product-create,
.cminds-supplierfrontendproductuploader-product-edit,
.cminds-marketplace-product-editconfigurable {
	.col-md-3.photos {
	    width: 100%;
	}	
}

.vendor-container ul, ol {
	margin-bottom: 0;
}