// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

.customer-account-create,
.customer-account-login {
  .widget.widget-static-block {
    display: block;
    clear: both;
  }
}

a.link-awrma-newrma {
    margin-top: 15px;
    display: inline-block;
    background-color: @lux-black;
    padding: 8px;
    border-radius: 5px;
    color: @lux-white;
    transition: background-color 0.2s;
    font-weight: normal;
    &:hover {
      background-color: @brand-primary;
      color: @lux-white;
    }
}

#forgot-password,
#login-form,
#register-account {
 .buttons-set {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }

  ul.form-list {
    margin-bottom: 0;
  }

  .gender{
    label{
      width: auto;
      margin-right: 20px;
    }
  }

  @media (min-width: @screen-sm-min) { 
      label {
        float: left;
        width: 25%;
        padding-top: 8px;
      }
      input {
        float: left;
        width: 75%;
      }

      input[type=radio]{
        width: auto;
        margin-right: 5px;
      }
  }
}

#login-form .content {
  min-height: 0;
}

#login-form form {
    border-bottom: 1px solid @lux-lightgray;
    padding-bottom: 15px;
}

#register-account {
  .registration-login-info {
    .password-first, .password-confirm {
      width: 100%;
      float: none;
      clear: left;
      padding-left: 0;
      padding-right: 0;
    }
    .password-confirm {
      padding-top: 15px;
    }
  }
}


// Login
.account-login .content {
  min-height: 242px; // Height of the larger side
}

// Captcha
.captcha-image {
  position: relative;
  width: 258px;
}
.captcha-note {
  clear: left;
  padding-top: 5px;
}
.captcha-image .captcha-img {
  border-radius: @input-border-radius;
  border: 1px solid @input-border;
  width: 100%;
}
.registered-users .captcha-image {
  margin: 0;
}
.captcha-reload {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;

  .refreshing {
    -webkit-animation: captcha-rotate 1.5s infinite linear;
       -moz-animation: captcha-rotate 1.5s infinite linear;
        animation: captcha-rotate 1.5s infinite linear;
  }
}

#login-form-block {
  display: block;
  clear: both;
  padding-top: 20px;
}

.left-sidebar {
  button#close-cart {
    display: none;
  }
}

@-webkit-keyframes captcha-rotate {
  0% { -webkit-transform: rotate(0); }
  0% { -webkit-transform: rotate(-360deg); }
}
@-moz-keyframes captcha-rotate {
  0% { -moz-transform: rotate(0); }
  0% { -moz-transform: rotate(-360deg); }
}
@keyframes captcha-rotate {
  0% { transform: rotate(0); }
  0% { transform: rotate(-360deg); }
}

// General Account Box
.box-account {
  &:extend(.panel);
  padding: 15px;
  border-color: @panel-default-border;

  .box-head {
    margin: -15px -15px 15px;
    &:extend(.clearfix all);
    &:extend(.panel-heading);
    border-color: @panel-default-border;
    background-color: @panel-default-heading-bg;
    color: @panel-default-text;

    h2 {
      float: left;
      &:extend(.panel-title);
    }

    a {
      float: right;
    }
  }

  @media (max-width: @screen-sm) {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}

// Dashboard
.dashboard {
  .box .box-title {
    &:extend(.clearfix all);
    padding: 0 0 (@line-height-computed / 2);
    margin: 0 0 (@line-height-computed / 2);
    border-bottom: 1px solid @panel-default-border;

    text-align: right;

    h3,
    h4 {
      margin: 0;
      float: left;
      font-size: @font-size-large;
    }
  }

  // Fix for the spacing when a box is nested in a column set.
  .col2-set > .box > .box-title {
    margin-left: (@grid-gutter-width / 2);
    margin-right: (@grid-gutter-width / 2);
  }
}

// Recent orders
.dashboard .box-recent {

  .data-table {
    margin-bottom: 0;
  }

}

// Account information
.dashboard .box-info {
  p,
  address {
    margin: 0;
  }
  .box {
    margin-bottom: (@line-height-computed * 1.5);
  }
}

// Block: Reviews
.dashboard .box-reviews {
  ol {
    margin-bottom: 0;
  }
  .number {
    float: left;
  }
  .details {
    margin-left: 20px;
  }
  li.item {
    &:extend(.clearfix all);
    margin-bottom: (@line-height-computed / 2);

    &:last-child {
      margin-bottom: 0;
    }
  }
  .ratings {
    margin-top: (@line-height-computed / 4);
  }
}

/* Block: Tags */
.dashboard .box-tags {
  .number {
    float: left;
  }
  .details {
    margin-left: 20px;
  }
  li.item {
    margin-bottom: (@line-height-computed / 2);

    &:last-child {
      margin-bottom: 0;
    }
  }
  .tags {
    strong,
    ul,
    ul li {
      display: inline;
    }
  }
}

// Address Book
.addresses-list {
  h2 {
    font-size: @font-size-large;
  }
  h3 {
    margin-top: 0;
    font-size: @font-size-base;
  }
  address {
    margin: 0 0 3px;
  }
  p {
    margin: 0;
  }
  .link-remove {
    color: @alert-danger-text;
  }
  .separator {
    margin: 0 3px;
  }

  li.item {
    &:extend(.panel);
    padding: 15px;
    border-color: @panel-default-border;

    h3 {
      margin: -15px -15px 15px;
      &:extend(.panel-heading);
      border-color: @panel-default-border;
      background-color: @panel-default-heading-bg;
      color: @panel-default-text;
    }
  }
  li.empty {
    background: none;
    border: 0;
    padding: 0;
  }
  .addresses-additional li.item {

  }
}

// Order View
.order-info {
  margin-bottom: (@line-height-computed / 2);
  border-bottom: 1px solid @hr-border;

  dd {
    padding-left: 10px;
  }

  li {
    display: inline;
    margin: 0 3px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  .current {
    font-weight: bold;
  }
}

.order-date {
  margin-bottom: (@line-height-computed / 2);
}

.order-info-box {
  &:extend(.panel);
  margin-left: 0;
  margin-right: 0;
  border-color: @panel-default-border;
  padding-top: 15px;

  .box {
    margin-bottom: 15px;
  }

  h2 {
    margin-top: 0;
    font-size: @font-size-base;
  }

  address {
    margin-bottom: 0;
  }
}

.order-items {
  h2 {
    font-size: @font-size-large;
  }
  h3 {
    font-size: @font-size-small;
  }

  .order-links {
    text-align: right;
  }
}

.order-additional {
  margin: (@line-height-computed / 2) 0;
}

// Order Gift Message
.gift-message {
  &:extend(.panel);
  padding: 15px;
  border-color: @panel-default-border;

  dt {
    padding-left: 10px;

    strong {
      display: block;
      margin-left: -10px;
    }
  }
  dd {
    margin-top: (@line-height-computed / 2);
  }
}

// Inside the table
.gift-message-row .gift-message {
  padding: 0;
  margin: 0;
  border: 0;
}

// Order Comments
.order-about {
  &:extend(.panel);
  padding: 15px;
  border-color: @panel-default-border;

  dd {
    margin-bottom: (@line-height-computed / 2);
    padding-left: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// My Wishlist
.my-wishlist {

  .description .inner {
    color: @lux-gray;
    font-size: smaller;
    display: none; // This is for the wishlist in the customer account only
  }
  textarea {
    &:extend(.form-control all);
    height: auto;
  }

  .price-box {
    margin-bottom: (@line-height-computed / 4);
  }

  .add-to-cart-alt {
    input.input-text {
      margin-bottom: (@line-height-computed / 4);
      max-width: 30px;
      padding: 5px;
      height: 30px;
      text-align: center;
    }
    .btn-cart {
      display: block;
      margin-bottom: (@line-height-computed / 4);
      width: 100%;
    }
  }

  p {
    margin-bottom: 0;
  }

  .link-edit {
    &:extend(.btn);
    &:extend(.btn-default);
    width: 100%;
    display: block;
  }

  .btn-add {
    &:extend(.btn-primary);
  }
}

.product-review {
  .product-img-box {
    float: left;
    width: 140px;

    .product-image {
      &:extend(.img-responsive);
    }

    .label {
      font-size: @font-size-small;
    }

    .ratings .rating-box {
      display: block;
      float: none;
      margin-bottom: (@line-height-computed / 4);
    }
  }

  .product-details {
    margin-left: 150px;
  }
  .product-name {
    margin-bottom: (@line-height-computed / 2);
    font-size: @font-size-large;
  }
  h3 {
    font-size: @font-size-base;
  }

  .ratings-table { margin:0 0 10px; }

  dt {
    margin-bottom: (@line-height-computed / 4);
  }
}

// Billing Agreements
.billing-agreements {
  .info-box {
    margin: (@line-height-computed / 2) 0;
  }
  .form-list li {
    select {
      float: left;
    }
    button.button {
      float: left;
      margin-left: 10px;
    }
  }
  .table-caption {
    font-weight: bold;
  }
}
