/* Featured Groups
----------------------------------------*/

.featured-groups {
  padding: 60px 0;
}

.featured-groups h2 {
    margin-bottom: 4px;
}

.featured-groups h5 {
    margin-top: 0;
    margin-bottom: 42px;
}

.image-banner {
  position: absolute;
  right: 22px;
  top: -8px;
  max-width: 70%;

  .banner-ribbon {
    position: absolute;
    top: 0;
    left: -22px;
    border-style: solid;
    border-width: 22px 22px 0 0;
    border-color: transparent;
    z-index: -1;
  }
}

.featured-group .image-banner h5 {
  padding: 10px 28px;
}

.featured-group .image {
    border-bottom: 4px solid #592E33;
}

.featured-group .body a:hover, .featured-group .body a:active, .featured-group .body a:focus {
    text-decoration: none;
}

.featured-group .body a:hover h3, .featured-group .body a:active h3, .featured-group .body a:focus h3 {
    color: #981d19;
}

.featured-group .body a p {
    color: #000;
}