/* Footer
----------------------------------------*/

.social-signup-footer{
	background-color: #000;
	color: #fff;
	padding: 8px 0;

	a {
		color: @lux-white;
	}

	p {
		margin-bottom: 0;
		font-size: small;
	}

	.social-icons {
		a:hover {
			text-decoration: none;
			i.icon:before {
				color: @lux-turquoise;
			}
		}
	}

	i.icon > span {
		display: none;
	}

	.catalog-signup {
		form.catalog-signup-input {
			input[type=email] {
				line-height: 1em;
				background-color: #000;
				border: 1px solid #fff;
			}
			input[type=submit] {
				background-color: #000;
				border: 1px solid #fff;				
			}
		}
	}

	.about {
		text-align: right;
		
		ul {
			margin-bottom: 0;
		
			li {
				display: inline-block;
				padding: 5px 10px;

				a {
					color: @lux-white;
				}
			}
		}

		@media (max-width: @screen-xs-max) {
			text-align: left;
		}
	}

	@media (min-width: @screen-sm-min) {
		.container div:first-child {
			padding-left: 0;
		}
	}
}
footer[role=contentinfo] {
  margin-top: 18px;
}

footer[role=contentinfo] .links, footer[role=contentinfo] address {
    float: none;
    text-align: left;
}
footer[role=contentinfo] a {
    color: #333;
}

footer.footer-menu {
	div ul li, div span {
		font-size: 0.9em;
	}
	address {
		margin: 0;
	}
}
