// Group & Brands Template View Style

.ibd-travelsuite-group-view,
.ibd-travelsuite-brand-view {

	.view {

		h4, .h4 {
			font-size: 26px;
		}

		h5, .h5 {
			font-size: 20px;
		}

		& > div {
			margin-bottom: 24px;
		}

		.image-thumb-box {
			height: ~"calc(380px / 4)";
			padding-bottom: 5px;
			cursor: pointer;

			img {
				max-height: 100%;
			}
		}

		@media (max-width: 767px) {
			.image-thumbs {
				height: 120px!important;
			}
			.image-thumb-box {
				margin: 10px 0 0;
				padding-right: 10px;

				&:last-child {
					padding: 0;
				}
			}
		}

		.url {
			a {
				text-decoration: underline;
				color: @lux-black;
				.text-uppercase;
			}
		}

		.note {
			li:before {
				content: "* ";
				color: @lux-turquoise;
				font-size: 1.3em;
				vertical-align: middle;
			}

			.group-address, .group-url {
				font-size: 14px;

				.text-uppercase;
				a {
					color: @lux-black;
					text-decoration: underline;
					word-wrap: break-word;
				}
				a:hover {
					color: @lux-turquoise;
				}
			}
		}

		.des-content {
			padding: 15px;
			.background(@lux-eggshell);
			background-image: url("../images/about-bg.png");
			background-size: 280px 280px;
			background-position: right -80px top -70px;
			background-repeat: no-repeat;
		}

		.social {

			a:hover {
				text-decoration: none;

				i { 
					.background(@lux-white);
					&:before {
						color: @lux-teal;
					}
				}
			}

			i {
				display: inline-block;
				text-align: center;
				width: 28px;
				height: 28px;
				padding: 2px 4px;
				margin-right: 5px;
				.border-radius(100%);
				.background(@lux-black);
				&:before {
					font-size: 1.3em;
					margin: 0;
				}
			}
		}

		.brands {
			.column {
				width: 33%;
				float: left;
			}

			p + p {
				margin-top: -10px;
			}

			.alpha {
				color: @lux-turquoise;
			}

			a {
				color: @lux-black;
			}
		}

		.location {
			clear: left;
			background: @lux-lightergray;

			.sub-title {
				margin: 0;
				padding: 15px 0;
				line-height: 130%;
				background: @lux-background;
			}

			.map {
				height:300px;
				width:100%;
			}
			.direction, .directions, .meta {
				padding: 10px 0;
				.brand-group-meta-label {
					color: @lux-turquoise;
				}

				//Note see bottom of this file, group view has different margins
			}

			.meta {
				padding: 0;
			}
		}


		.group-addresses, .panel-group {
			.panel {
				border: none;
				border-top-left-radius: 8px;
  				border-top-right-radius: 8px;

				.panel-heading {
					position: relative;
					.background(@lux-white);
					color: @lux-black;
					cursor: pointer;
					border-top-left-radius: 8px;
  					border-top-right-radius: 8px;
  					font-weight: 200;
  					
  					h4 {
	  					font-size: 24px;
	  					text-align: left;
	  				}
					
					a:hover,
					a:focus {
						text-decoration: none;
						color: @lux-white;
					}

					.pull-right {
						top: 4px;
						font-size: 14px;
					}

					&:after {
						content: "+";
						position: absolute;
						display: block;
						width: 20px;
						height: 20px;
						font-size: 28px;
						right: 10px;
						top: 0;
						color: @lux-black;
					}

					&:hover, &:focus, &:active {
						.background(@lux-black);
						color: @lux-white;

						&:after {
							color: @lux-white;
						}
					}

					.panel-title {
						font-weight: 200;
					}

				}

				.panel-heading.active {
					.background(@lux-black);
					.panel-title {
						color: @lux-white;
					}

					&:after {
						content: "-";
						color: @lux-white;
					}
				}



				.panel-body {
					.background(@lux-white);
				}
			}

			.panel + .panel {
				margin-top: 10px;
			}

		}

	}


	.band.panel-heading {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.panel-body{
		img{
			max-height: 500px;
		}

		img[style*="float: left"],
		img[style*="float:left"]{
			margin-right: 10px;
		}

		img[style*="float: right"],
		img[style*="float:right"]{
			margin-left: 10px;
		}
	}

	.orphan-addresses {
		max-width: 1024px;
		margin-right: auto;
		margin-left: auto;
	}

	.orphan-addresses>h4 {
	  color: @lux-white;
	  background-color: @lux-black;
	  border-radius: 8px;
	  padding: 10px 15px;
	  text-align: center;
	  font-weight: 200;
	  margin-bottom: 20px;
	}
	.orphan-address>div {
	  
	  a {
        color: @lux-black;
        text-decoration:none;
        text-transform: uppercase;
        padding: 15px 0;
        display: inline-block;
        font-weight: 200;
        &:hover, &:active, &:focus {
          text-decoration: underline;
          outline: none;
        }
      }
	}

	.modal-lg {
        @media (min-width: @screen-md-min) {
          width: 400px;
          }
    }

    .modal-header .close {
      background-color: @lux-turquoise;
      padding: 0px 5px 2px;
      border-radius: 3px;
      margin-top: -10px;
      margin-right: -5px;
      color: #fff;
      text-shadow: none;
      opacity: .75;
      font-weight: 300;
      opacity: 1;

      &:hover, &:active, &:focus {
        background-color: lighten(@lux-turquoise, 10%);
      }
    }

  .modal-header {
    text-align: left;
    border-bottom: none;
    padding-left: 30px;
    padding-bottom: 0;
    padding-top: 20px;
    font-size: 18px;
    & h4 {
    	font-size: 18px;
    }
  }

  .modal-content {
    border: 2px @lux-turquoise solid;
  }

  .modal-body ul {
    text-align: left;
    padding-left: 15px;

    & span.glyphicon-triangle-right {
      font-size: 80%;
    }

  }
  
  .brand-modal ul{
    text-align: left;

    li{
      margin-bottom: 0px;
      line-height: 120%;
    }
  }
}

.ibd-travelsuite-group-view .view .location .directions.col-sm-6 {
  padding: 10px 30px;
}

@media (min-width: @screen-sm-min) {
	.ibd-travelsuite-group-view, .ibd-travelsuite-brand-view {
		.view {
			.row{
				.image {
					.main-image {
						margin: 0 0 0 0;
					}
				}
			}
		}
	}
}