//----------------------------------------
//Header
//----------------------------------------

header[role=banner] .logo.ibd-logo {
  float: left;
  width: auto;   
}

header[role=banner] .quick-access {
  float: left;
}

p.welcome-msg {
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 40px;
  display: inline-block;
}

.top-links {
  float: right;
  ul.links {
    text-align: right;
  }
}
.top-links a {
  color: @lux-white;
}
.top-links li:after {
  content: ' | ';
  color: @lux-white;
}
.top-links li.last:after {
  content: ' ';
}

//----------------------------------------
//  Navigation
//----------------------------------------

.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: none;
  border-bottom: none;
  color: #fff;

  .navbar-collapse {
    position: relative;
    overflow: hidden;

    .navbar-form {
      position: absolute;
      right: 0;

      @media (max-width: 767px) {
        position: relative;
      }

      .glyphicon {
        color: @lux-white;
      }

      .lux-bar-divider {
        right: 100%;
        margin-left: 0;
        transition: all 0.2s linear;
      }
    }
  }
}

// open search menu
.navbar-form.search-open {

  background: @lux-black;

  #travelsuite-search,
  #search {
    min-width: 200px;
    transform: scaleX(1)!important;
  }

  .glyphicon {
    color: @lux-black !important;
  }

  #search-button,
  #travelsuite-search-button {
    position: absolute;
  }

  #cart-button{
    display: none;
  }
}

.navbar-inverse {
  background-color: #000;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-text:hover {
    text-decoration: none;
    background-color: @brand-primary;
}

@media (min-width: 768px){
  .navbar {
    border-radius: 0;
  }
}

// EXTRA
ul.breadcrumb{
  display:none;
}

body[class*='catalog'] .breadcrumb {
  display: block;
  margin-bottom: 0;
  margin-left: 5px;
}

#travelsuite-search,
#search {
  height: 34px;
  width: 0;
  .border-radius(18px);
  transform: scaleX(0);
  transform-origin: right center;
  transition: all .2s linear;

  @media (max-width: 767px) {
    transform: scaleX(1);
    min-width: 200px;
  }
}

#search-button,
#travelsuite-search-button ,
#brand-search-button,
#cart-button {
  width: 32px;
  height: 32px;
  padding: 6px;
  border: 0;
  background: transparent;
  .border-radius(100%)!important;
  top: 1px;
  right: 1px;
  z-index: 1000;
  outline: none;
  color: @lux-white;
}

#cart-button {

  span.tag {
    position: absolute;
    font-size: 8px;
    background-color: @lux-white;
    border-radius: 10px;
    padding: 2px;
    min-width: 15px;
    top: -1px;
    right: -7px;
    font-weight: bolder;
    color: @lux-black;
  }

  &:hover span.tag{
    background-color: @lux-turquoise;
    color: @lux-white;
  }
}

#search-button,
#travelsuite-search-button  {
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

.sub-nav-hr {
  display: none;
  width: 100%;
  height: 2px;
  border-bottom: 1px dashed #000;
}

//----------------------------------------
//  Sub-Nav Page Headers
//----------------------------------------

#ibd-page-header {
  margin-bottom: 10px;
}

#ibd-page-header .container {
     background-repeat: no-repeat;
     background-position: 0 50%;
}