// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "../../bower_components/font-awesome/less/font-awesome.less";

@import "@{bootstrap-path}/glyphicons.less";

@charset "UTF-8";

@font-face {
  font-family: "font-icon";
  src:url("../fonts/font-icon.eot");
  src:url("../fonts/font-icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/font-icon.woff") format("woff"),
    url("../fonts/font-icon.ttf") format("truetype"),
    url("../fonts/font-icon.svg#font-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "font-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "font-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  line-height: 1.4em;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  margin-right: 12px;
}

.icon-youtube:before {
  content: "a";
}
.icon-weixin:before {
  content: "b";
}
.icon-weibo:before {
  content: "c";
}
.icon-twitter2:before {
  content: "d";
}
.icon-twitter:before {
  content: "e";
}
.icon-pinterest2:before {
  content: "f";
}
.icon-pinterest:before {
  content: "g";
}
.icon-instagram:before {
  content: "h";
}
.icon-facebook2:before {
  content: "i";
}
.icon-facebook:before {
  content: "j";
}
.icon-email2:before {
  content: "k";
}
.icon-email:before {
  content: "l";
}
.icon-star:before {
  content: "m";
}
