#js-pager{

	margin: 0 auto;
	display: table;

	div{
		float: left;
		border: 1px solid grey;
		border-radius: 20px;
		padding: 5px;
		width: 32px;
		text-align: center;
		color: grey;
	}

	div.hellip
	{
		border: none;
	}

	div.hellip:hover{
		background-color: #fff;
		color: grey;
	}

	a.current{
		cursor:default;
	}

	div:hover,
	a.current>div{
		background-color: grey;
		color:#fff;
	}
}