// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

/*----------------------------------------
  Reset Style
----------------------------------------*/
html, body {
    overflow-x: hidden;
}

body {
  font: 12px/1.5 sans-serif, '黑体', 'Microsoft Yahei', sans-serif;
  font-weight: 100;
  position: relative;
  overflow: hidden;
  .background(@lux-background);
}

/*----------------------------------------
  Fonts
----------------------------------------*/
.text-transform() {
  text-transform: uppercase;
}

h1, .h1, .h1-font {
    font-size: 28px;
    .text-transform();
}

h2, .h2, .h2-font {
    font-size: 23px;
    .text-transform();
}

h3, .h3, .h3-font {
    font-size: 18px;
    .text-transform();
}

h4, .h4, .h4-font {
    font-size: 14px;
    .text-transform();
}

h5, .h5, .h5-font {
    font-size: 13px;
    .text-transform();
}

h6, .h6, .h6-font {
    font-size: 12px;
    .text-transform();
}

a {
    color: @lux-black;
    transition: color 0.15s;
    &:focus, &:hover, &:active {
        color: @brand-primary;
        text-decoration: none;
    }
}

.txt-white, .text-white {
    color: #fff;
}

i.lux-bar-divider {
  position: absolute;
  width: 4px;
  height: 60px;
  top: -13px;
  .background(@lux-white);
  transform: rotate(-30deg);
  margin-left: 30px;
  margin-right: 15px;
}   

.lux-border-bottom {
    border-bottom: 1px solid @lux-eggshell;
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }
 
@media (min-width: @screen-sm-min) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}
 
@media (min-width: @screen-md-min) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: @screen-lg-min) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

.layout-2-cols,
.single-column-container {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}