// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}/mixins.less";

// 

.lux-inner-shadow(@color: #ddd) {
   -moz-box-shadow:    inset 0 0 14px @color;
   -webkit-box-shadow: inset 0 0 14px @color;
   box-shadow:         inset 0 0 14px @color;
}

.lux-title-bkg-img(@bkgcolor) {
	background-image:url("../images/@{bkgcolor}.png");
	background-size: 100% 100%;
}

// Single side border

.border-top(@width, @type, @color) {
	border-top: @width @type @color;
}

.border-right(@width, @type, @color) {
	border-right: @width @type @color;
}

.border-bottom(@width, @type, @color) {
	border-bottom: @width @type @color;
}

.border-left(@width, @type, @color) {
	border-left: @width @type @color;
}

// Single side border-radius

.border-top-radius(@radius) {
	border-top-right-radius: @radius;
	border-top-left-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	-webkit-border-top-left-radius: @radius;
	-moz-border-top-right-radius: @radius;
	-moz-border-top-left-radius: @radius;
}
.border-right-radius(@radius) {
	border-bottom-right-radius: @radius;
	border-top-right-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	-moz-border-bottom-right-radius: @radius;
	-moz-border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
	border-bottom-right-radius: @radius;
	border-bottom-left-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-bottom-right-radius: @radius;
	-moz-border-bottom-left-radius: @radius;
}
.border-left-radius(@radius) {
	border-bottom-left-radius: @radius;
	border-top-left-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-webkit-border-top-left-radius: @radius;
	-moz-border-bottom-left-radius: @radius;
	-moz-border-top-left-radius: @radius;
}

// All sides border-radius

.border-radius(@radius) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

.background(@color) {
	background: @color;
}

// Height Animation
.animate(@name, @duration){
	-webkit-transition: @name @duration;
	-moz-transition: @name @duration;
	-ms-transition: @name @duration;
	-o-transition: @name @duration;
	transition: @name @duration;
}

.ibd-link(){
	a {
		color: @lux-black;
		&:hover, &:active, &:focus {
			color: @brand-primary;
			text-decoration: none;
		}
	}
}
