// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}/modals.less";

// Fix Bootstrap's dumb behaviour
.modal-open {
  overflow: hidden;

  // Bootstrap is stupid, adds a margin
  // because some browsers have a scrollbar.
  body&,
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    margin-right: 0;
  }
}

.modal-content {
  border: 2px solid @lux-black;
}

.modal-dialog {
  .close {
        background-color: @lux-black;
        padding: 0 5px 2px;
        border-radius: 3px;
        margin-top: -10px;
        margin-right: -5px;
        color: @lux-white;
        text-shadow: none;
        font-weight: 300;
        opacity: 1;
        z-index: 100;
        position: absolute;
        top: 18px;
        right: 14px;

        &:hover, &:active, &:focus {
          background-color: @brand-primary;
        }
    }
}

@media screen and (min-width: @screen-md) {

  .modal-media .modal-dialog {
    width: 940px;
  }

}

#product-sizing {
  .table-responsive();
}
