// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}/navbar.less";

.navbar-main {
	.navbar-brand > img {
		max-width: 190px;
		margin-top: -8px;
	}

	.nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.collapse {
		@media (min-width: 768px) {
			padding: 0;
			margin-left: 190px;
		}
	}
}

.navbar-nav>li>.dropdown-menu {
	box-shadow: none;
	outline: 0;
	border: 1px solid @lux-turquoise;
	border-radius: 4px;
	&>li>a {
		transition: background-color .15s, color .15s;
	}
	&>li>a:hover {
		background-color: @lux-turquoise;
		color: @lux-white;
	}

}