div#page-float {
	position: fixed;
	bottom: 50px;
	right: 10px;
	background: @lux-eggshell;
	border: 1px solid #000;
	border-radius: 6px;
	z-index: 100;
	display: none;
	box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.2);

	@media(min-width: @screen-sm-min){
		display: block;
	}

	.content{
		width: 200px;

		.main{
			p{
				margin: 0 6px 10px;
			}

			p.img{
				margin: 0 0 10px;
			}

			img{
				.img-responsive();
			}
		}

		.foot{
			text-align: center;
			background-color: #000;
			margin: 0;
			padding: 10px;

			button.minimize{
				margin-left: -8px;
			}

			&>div{
				padding: 0;
			}
		}
	}

	.minimized{
		display: none;
		padding: 3px 8px;
		text-align: center;
		background: #000;
	}

	button{
		color: #fff;
		background: transparent;
		border: none;
		outline: none;

		i {
			font-size: 12px;
		}

		span.text {
			font-size: 14px;
		}

		&:hover{
			color: @brand-primary;
		}
	}
}