// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}/pagination.less";

.pager,
.sorter {
  //&:extend(.clearfix all);
}

// Pager
.pager {
  padding: 4px 8px;
  //border-top: 1px solid @legend-border-color;
  text-align: center;
  line-height: @input-height-small;
  display: inline-block;
  float: right;

  .amount {
    float: left;
    margin-bottom: 0;
  }
  .limiter {
    float: right;
  }
  .limiter label {
    margin-bottom: 0;
  }
  .limiter select {
    display: inline;
    width: 60px;
  }
  .pages {
    float: left;
    width: 100%;
    margin-top: 4px; // Add top margin as pages aren't always present
    text-align: center;
  }
  .pages ol {
    &:extend(.pagination);
    &:extend(.pagination-sm);

    margin: 0;
    display: inline-block;
  }
  .pages li {
    display: inline-block;
    margin: 0 2px;
  }
  .pages .current {}
}

// Sorter
.sorter {
  padding: 4px 8px;
  //border-top: 1px solid @legend-border-color;
  line-height: @input-height-small;
  display: inline-block;
  float: right;

  a {
    color: @lux-black;
    &:hover, &:focus, &:active {
      color: @brand-primary;
      text-decoration: none;
    }
  }

  .view-mode {
    float: left;
    margin: 0;
    display: none;
  }
  .sort-by {
    float: right;
  }
  .sort-by label {
    margin-bottom: 0;
  }
  .sort-by select {
    display: inline;
    width: 100px;
  }
  .link-feed {}

  // Put the pages section on the same line
  @media (min-width: @screen-sm) {
    .sort-by {
      padding-right: 5px;
    }
  }
}

// Toolbar
.toolbar {

}

.toobar-bottom {}
