// Post Template Styles

.tags {
	li {
		display: inline-block;
		text-decoration: underline;
	}
}

.commentsHeader {
	padding: 15px 0;
	.lux-border-bottom;
}

.commentWrapper {
	padding: 15px 0 40px;
	.lux-border-bottom;
}

.form-legend {
	margin-top: 30px;
}

#postComment {
	padding: 15px;
	background: @lux-background;
	.border-radius(4px);

	.input-text {
		width: 50%;
	}

	#comment {
		width: 80%;
	}
}