/* 
*	Name of design: Products Filter for Magento
*	Designer: Plumrocket Inc
*	Copyright status: All rights reserved
*	Website: www.plumrocket.com
*/      


/*=== Filter ===*/

/* Toolbar */

.product-filter {
	border-bottom: none;
	display: inline-block;
	float: left;

	.selector {
		float: left;
		position: relative;
		background:#fff;
		border: 1px solid #e9e9e9;
		cursor: pointer;
		font-size: 12px;
		line-height: 22px;
		height:25px;
		vertical-align: middle; 
		margin: 0 5px 5px 0px; 
		border-radius: 4px;

		.hld {
			background: #fff;
			border-radius: 4px;
			.icon:before {
				border-color: @lux-black transparent transparent transparent;
			}
		}

		.border-hidder {
			background: transparent;
		}

		.dropdowner {
			border: 1px solid @lux-lightergray;
			border-radius: 4px;
			box-shadow: none;
			div:hover, div:active, div:focus,
			.list:hover, .list:active, .list:focus {
				color: @brand-primary !important;
			}
		}
	}
}

.product-filter-param {
	background-color: @lux-white;
	.ibd-link();
	
	.text-showing {
		border-right: none !important;
	}

	.filter_options_row {
		.filter_options_attr {
			border-right: 0;
				
			.filter_options_item {
				background-color: @lux-lightergray;
			    border-radius: 8px;
			    padding: 2px 8px 0;
			    margin-right: 5px;

				.close-fo {
					color: @brand-primary;
				}
			}
		}
	}

	.reset-filter {
		border-left: none !important;
	}

	.filter-reset-all {
		color: @lux-black;
	}
}