// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

// Products grid
.products-grid {
  .make-row();
  clear: both;
  
  .item {
    .make-xs-column(4);
    min-height: 390px;
    padding-bottom: 40px;
    min-width: 200px;
  }

  // Image Toolbar

  .image-toolbar {
    position: relative;
    border: 1px solid @lux-white;
    margin-bottom: 10px;
    
    &:hover, &:active, &:focus {
      border: 1px solid @lux-black;
      ul.image-toolbar-links {
      display: block;
      }
    }

    .product-image {
      img {
        &:extend(.img-thumbnail);
        display: block;
        // margin-bottom: (@line-height-computed / 2);
        line-height: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
      }
    }

    ul.image-toolbar-links {
      position: absolute;
      bottom: 0;
      width: 100%;
      white-space: nowrap;
      background-color: @lux-black;
      display: none;

      li {
        display: inline-block;
        width: 50%;
        text-align: center;
        line-height: 35px;
        color: @lux-white;
        font-weight: 200;
        font-size: small;
        vertical-align: middle;
        &:first-child {
          border-right: 1px dashed @lux-white;
        }
        a {
          color: @lux-white;
          display: block;
          &:hover, &:active, &:focus {
            text-decoration: none;
          }
        }
      }

    }

    @media (max-width: @screen-sm) {
      border-color: @lux-black;

      ul.image-toolbar-links {
        display: block;
      }
      
    }

  }

  // Product Info

  .category-product-info {

    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    font-weight: 400;
    color: @lux-black;
    text-align: center;

    // All Mouse Effects
    &:hover, &:active, &:focus,
    &:hover .price, &:active .price, &:focus .price {
      color: @brand-primary;
      text-decoration: none;
    }
  }
  
  .price-box {
      text-align: center;
  } 

  .actions {
    position: absolute;
    bottom: 0;
  }
}

// Products list block
.products-list {
  li.item {
    &:extend(.clearfix all);
    padding: (@line-height-computed / 2) 0;
    border-bottom: 1px solid @hr-border;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .product-image {
    float: left;
    width: 150px;
    display: block;

    img {
      &:extend(.img-thumbnail);
    }
  }

  .product-shop {
    margin-left: 160px;
  }

  .add-to-links {

    li {
      display: inline;
    }

    .separator, .link-compare {
      //display: inline;
      //margin: 0 4px;
      display: none;
    }
  }
}

// Product name
.product-brand, .product-name {
  margin: 0;
  font-size: @font-size-base;
  font-weight: @headings-font-weight;
  line-height: @line-height-computed;
  @media (max-width: @screen-md-max) {
    height: auto;
    margin-bottom: 0;
  }
}

// Availability
.availability {
  margin: 0;

  span {
    font-weight: bold;
  }

  &.in-stock span {
    color: @alert-success-text;
  }

  &.out-of-stock span {
    color: @alert-danger-text;
  }
}

.availability-only {
  span,
  a {
    font-weight: bold;
  }
}

.availability-only-details {
  &:extend(.table all);
}

// Add to cart
.add-to-cart {

  .paypal-logo {
    margin: 0;
    text-align: right;

    .paypal-or {
      display: block;
      margin: 5px 60px 5px 0;
    }

    .paypal-logo {
      margin: 0;
    }
  }
}

// "Add to box"
.add-to-box {
  &:extend(.clearfix all);
  text-align: center;
  padding-left: (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);

  .add-to-cart {
    margin: 30px -15px 10px -30px;
  }

  .or {
    float: left;
  }

  .add-to-links {
    float: right;

    li, .separator {
      float: left;
    }

    .separator, .link-compare {
      margin: 0 4px;
      display: none;
    }
  }
}

// Product view page
.product-view {
  .make-row();
  h4.product-name, h4.product-brand {
    margin: 0;
    padding: 13px 15px;
    height: 10px;
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: 10px;
    @media(max-width: @screen-md-max) {
      height: auto;
      margin-bottom: 0;
    }
  }

  .product-type-data .price-box {
    display: none;
  }

  .short-description .std {
    margin-left: -15px;
    margin-top: 20px;
    color: #666;
    margin-bottom: (@line-height-computed / 2)
  }

}
.product-essential,
.product-collateral {
  //.make-sm-column(12);

  .box-product_brands {
    display: none;
  }
}

#customer-reviews {
  
  margin-top: 30px;

  h2 {
    .h4();
  }

  h3 {
    .h5();
  }

  dd {
    margin-bottom: 15px;
  }

  .form-add {
    max-width: 750px;
  }
}

// Essential (media + shop)
.product-essential {

  .product-shop {
    min-height: 1px;
    position: relative;
  }

  .product-img-box {
    //.make-sm-column(7);
    padding-left: 0;
    padding-right: 0;

    img {
      &:extend(.img-thumbnail);
    }

    .more-views ul {
      .make-row();

      li {
        .make-xs-column(3);
      }
    }
  }

  @media (min-width: @screen-sm) {

    .product-img-box {
      padding-left: 0;
      padding-right: (@grid-gutter-width / 2);
    }

    // Switch floats around for the ordering
    .product-shop {
      float: right;
      //width: percentage((5 / @grid-columns));
    }
  }
}

// Product shop (name, price etc)
.product-view .product-shop {
  &:extend(.panel);
  padding: 15px;
  border-color: @panel-default-border;

  .product-name, .product-brand {
    &:extend(.panel-heading);
    margin: -15px -15px 15px;
    border: none;
    background-color: transparent;
    color: @lux-black;

    @media(max-width: @screen-md-max) {
      margin-bottom: 0;
    }

    h1 {
      &:extend(.panel-title);
    }
  }

  .availability,
  .price-box,
  .add-to-box,
  .short-description {
    margin-bottom: (@line-height-computed / 2);
  }

  .sizing-modal ~ #product-options-wrapper {
    margin-top: 5px;
  }

  .product-options-bottom {
    .price-box,
    .add-to-cart {
      padding-left: 0;
      padding-right: 0;
    }
    .add-to-links {
      display: none;
    }
  }

  @media (min-width: @screen-md) {
    .product-options-bottom {
      .price-box,
      .add-to-cart {
        float: none;
        width: auto;
      }
    }
  }
}

// Product images
.product-img-box {

  .product-image-zoom,
  .more-views {
    img {
      &:extend(.img-responsive);
    }
  }

  .product-image-zoom {
    margin-bottom: (@line-height-computed / 2);
  }

  .more-views {
    padding-top: (@line-height-computed / 2);
    border-top: 1px solid @hr-border;
  }
}

// Product Options
#product-options-wrapper {
  max-width: 270px;
  margin-top: 20px;

}

.product-options {
  &:extend(.well);
  &:extend(.well-sm);
  margin-bottom: (@line-height-computed / 2);
  position: relative;
  background-color: transparent;
  border: none;
  margin-top: 0;
  padding-top: 0;
  box-shadow: none;
  padding-left: 0;

  dl {
    margin: 0;
  }
  dt {
    padding-top: 15px;
    font-weight: normal;

    label {
      margin-bottom: 0;
      font-weight: 400;

      &.required em {
        margin-left: 2px;
        margin-right:2px;
        font-weight: 400;
        color: @alert-danger-text;
      }
    }

    .qty-disabled {
      background: none;
      border: 0;
      padding: 3px;
    }
  }
  dd .qty-holder {
    display: block;

  }
  dd .qty-holder label {
    vertical-align: middle;
  }
  dd {
    padding: 5px 0 0 0;
    border-bottom: none;

    .input-text,
    select,
    textarea {
      &:extend(.form-control);
    }

    select[multiple],
    textarea {
      height: auto;
    }
  }

  input#qty {
    width: 50px;
    margin-bottom: 10px;
}

  dl.last dd.last {
    border-bottom: 0;
    margin-bottom: 0;
  }
  ul.options-list {
    margin-bottom: 0;

    input.radio {
      float: left;
      margin-top: 3px;
    }
    input.checkbox {
      float: left;
      margin-top: 3px;
    }
    .label {
      display: block;
      margin-left: 18px;
    }
    label {
      font-weight: normal;
    }
  }
  ul.validation-failed {
    padding: 0 7px;
  }
  p.note {
    margin: 0;
    font-size: @font-size-small;
  }
  p.required {
    position: absolute;
    right: 20px;
    top: 10px;
    @media (min-width: @screen-lg) {
      //top: 40px;
    }
  }
}

// Product options bottom
.product-options-bottom {
  .make-row();

  .price-box,
  .add-to-cart {
    .make-md-column(6);
  }

  .add-to-links {
    padding-top: (@line-height-computed / 2);
    clear: both;
    text-align: center;

    li {
      display: inline;
    }
    .separator, .link-compare {
        display: none;
    }
  }
  .price-box {
    &:extend(.clearfix all);
    padding-top: (@line-height-computed / 2);
  }
  .price-label {
    float: left;
    padding-right: 5px;
  }
  .price-tax {
    float: left;
  }

  @media (min-width: @screen-md) {
    .price-box {
      padding-top: 0;
    }
  }
}

// Override for when product options are shown in
// the product shop section (simple products
// with options).
.product-shop {
  .product-options dt label.required em {
    margin-left: 0;
    margin-right: 2px;
  }
  .product-options-bottom {
    margin: 0 0 10px;

    .price-box {
      float: none;
      margin: 0 0 5px;
    }
    .price-label {
      float: none;
      padding-right: 0;
    }
    .price-tax {
      float: none;
    }
    .add-to-cart-box {
      clear: both;
      float: left;
      padding-top: 12px;
    }
    .add-to-links {
      clear: both;
    }
  }
}

// Grouped products
.product-view .grouped-items-table {
  .price-box {
    margin: 0;
  }

  .qty {
    width: auto;
  }
}

.product-view .box-description {
  h2 {
    margin-top: -5px;
  }
}

#product-attribute-specs-table {
  width: 270px;
  td, th {
    border: none;
  }
}

.box-collateral {
  &:extend(.clearfix all);
  &:extend(.panel);
  padding-top: 15px;
  border-color: none;
  background-color: transparent;

  &.box-tags {
    //display: none;
  }

  > h2 {
    &:extend(.panel-heading);
    padding-left: 0;
    border: none;
    background-color: transparent;
    font-size: ceil((@font-size-base * 1.125));
    color: @lux-black;
  }

  > div {
    padding: 0;
    margin-left: 0;
  }
}

// Attributes
.product-view .box-additional {
  padding: 0;

  > h2 {
    margin: 0;
  }

  .data-table {
    border: 0;
    margin-bottom: 0;

    > tbody > tr {
      > th {
        border-left: 0;
      }
      > td {
        border-right: 0;
      }

      &.first {
        > th,
        > td {
          border-top: 0;
        }
      }

      &.last {
        > th,
        > td {
          border-bottom: 0;
        }
      }
    }
  }
}

// Upsell products
.product-view .box-up-sell {
  
  box-shadow: none;

  h2 {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: @lux-white;
  }

  span.heading-bkg-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    top: 18px;
    z-index: -1;
  }

  .products-grid {
    margin: 0;
    width: 100%;
    text-align: left;
    white-space: nowrap;

    .upsell-product {
      width: auto;
      display: inline-block;
      vertical-align: top;
      .ratings {
        display: none;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }

    .product-image,
    .price-box {
      margin-bottom: (@line-height-computed / 2);
      text-align: center;
    }

    .product-name {
      text-align: center;
      a {
        color: @lux-black;
        &:hover, &:active, &:focus {
          color: @brand-primary;
          text-decoration: none;
        }
      }
    }

    .ratings {
      margin-bottom: 0;
    }

  }

  @media (max-width: @screen-sm) {
    .products-grid {
      min-width: 500px;
      > tbody > tr {
        > th,
        > td {
          white-space: normal;
        }
      }
    }
  }
}

// Tags
.product-view .box-tags {
  margin: 0;

  .product-tags li {
    display: inline;
    white-space: nowrap;
    margin: 0 6px;
  }

  .note {
    margin: 0;
    text-align: center;
  }
}

// Reviews
.product-view .box-reviews {
  dt {
    padding-top: 15px;
    font-weight: normal;

    a,
    span {
      font-weight: bold;
    }
  }
  dd {
    &:extend(.clearfix all);
    padding-bottom: 15px;
    border-bottom: 1px solid @hr-border;

    .ratings-table {
      float: left;
      margin-right: 10px;
    }

    small {
      font-style: italic;
    }
  }

  .form-add {

    h3 {
      margin-top: 0;
      font-size: @font-size-base;
      font-weight: normal;

      span {
        font-weight: @headings-font-weight;
      }
    }

    // Make the h4 act like a label
    h4 {
      display: inline-block;
      position: relative;
      margin-bottom: 5px;
      font-size: @font-size-base;
      font-weight: bold;

      em {
        float: right;
        position: absolute;
        top: 0;
        right: -8px;
        color: @alert-danger-text;
      }
    }

    td.value {
      text-align: center;

      .radio {
        display: inline;
        margin: 0;
        padding: 0;
        height: (@line-height-computed);
      }
    }

    @media (max-width: @screen-sm) {
      form {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 15px;
        border: 1px solid @table-border-color;
      }
    }
  }
}

// Product Tags
.tags-list {
  margin: 0;
  padding: 10px;

  li {
    display: inline !important;
    margin: 0 3px;
  }
}

// IBD styles for products
.product-essential {
  margin-top: 15px;
  .product-shop {
    border: none;
    box-shadow: none;
    .product-name, .product-brand {
      border: none;
      background: none;
    }
    .add-to-cart {
      text-align: left;
      .input-group-btn {
        button {
          text-align: left;
          border-radius: 2px;
          background-color: @lux-black;
          color: @lux-white;
          &:hover, &:active, &:focus {
            background-color: @brand-primary
          }
        }
      }      
    }
  }
}
.product-collateral {
  .box-collateral {
    border: none;
    box-shadow: none;
    h2 {
      border: none;
      background: none;
    }
  }
}
.product-essential .product-img-box img, .products-list .product-image img {
  border: 1px solid transparent;
}

.box-collateral .upsell-product-container {
  margin-top: 5px;
}
