// Styles the quickview/快速瀏覽 modal on the product categories page

.quickview-modal {
	border: 2px solid @lux-black;
	border-radius: 4px;
	background-color: @lux-white;
	//display: none;
	padding: 20px;

	.price-box {
		font-size: 15px;
	}

	.actions {
    position: initial;
    bottom: 0;
	}

	.quickview-product-link {
		margin-top: 15px;
		display: inline-block;
		color: @lux-black;
		text-decoration: none;
		&:hover {
			color: @brand-primary;
		}
	}

	// Add to cart button block
	.actions {
		//margin-top: 20px;
	}

	.quickview-addtocart>.add-to-cart.col-sm-6 {
	    padding-left: 0;
	    padding-top: 15px;
	}
}

h4.product-brand, h4.product-name {
		margin: 5px 0;
		font-size: 18px;
}

.quickview-carousel{
	max-width: 400px;
    margin: 0 auto;

	.carousel-outer {
		position: relative;
		
		.add-to-box {
		    text-align: center;
		    background-color: white;
		    padding: 2px 5px;
		    border-radius: 8px;
		    opacity: .75;
		    position: absolute;
		    right: 10px;
		    bottom: 10px;
		    height: 21px;
		    a {
		    	color: @lux-black;
		    	opacity: .75;
		    	&:hover, &:active, &:focus {
		    		color: @brand-primary;
		    		opacity: 1;
		    		text-decoration: none;
		    	}
		    }
		}
	}

	.carousel-outer {
		position: relative;
	}

	.carousel-inner {

		&>div.item {
			// These are to remove the Magento .products-grid .item styles
			width: auto;
			min-height: 0;
			margin-bottom: auto;
			float: none;
    		padding: 0;
    		&>img {
    			padding: 0;
    		}
		}
	}

	i.fa.fa-angle-right {
	    position: absolute;
	    top: 40%;
	    left: 25px;
	    background-color: @lux-lightgray;
	    padding: 1px 7px;
	    border-radius: 4px;
	    color: @brand-primary;
	    @media (min-width: @screen-sm-min) {
	    	left: 45px;
	    }
	}

	i.fa.fa-angle-left {
	    position: absolute;
	    top: 40%;
	    right: 25px;
	    background-color: @lux-lightgray;
	    padding: 1px 7px;
	    border-radius: 4px;
	    color: @brand-primary;
	    @media (min-width: @screen-sm-min) {
	    	right: 45px;
	    }
	}

	ol.carousel-indicators {
		margin: 5px 0 0;
	    position: static;
	    text-align: left;
	    white-space: nowrap;
	    width: 100%;
	    left: initial;
	    margin-left: initial;

		li {
			width: auto;
			height: auto;
			//float: left;
			display: inline-block;
			border-radius: 0;
			border: 0;
			margin: 0 !important;

			img.quickview-thumbnail {
			    //width: auto;
			    //height: auto;
			    max-width: 60px;
			    border: 1px solid transparent;
			    display: block;
			    padding: 0;
			    border-radius: 0;
			    margin-right: 5px;

			}
			
			&.active, &:hover {
				background-color: transparent;
				margin: 1px;
				.quickview-thumbnail {
					border: 1px solid @lux-black;
					transition: border 0.25s;
				}
			}
		}
	}
}
