// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

.form-search {
  // margin-bottom: (@line-height-computed / 2);
  position: relative;

  // Style up the autocomplete to be just
  // like a TWBS list group.
  .search-autocomplete {
    z-index: @zindex-dropdown;

    li {
      &:extend(.list-group-item);
      cursor: pointer;

      .amount {
        float: right;
      }

      // Bootstrap uses a hidden list
      // item for the first child, so
      // we target the first child to
      // [class="first"].
      &.first {
        .border-top-radius(@list-group-border-radius);
      }

      // Hover state
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: @list-group-hover-bg;
      }

      // When somebody selects an item
      &.selected,
      &.selected:hover,
      &.selected:focus {
        z-index: 2; // Place active items above their siblings for proper border styling
        color: @list-group-active-color;
        background-color: @list-group-active-bg;
        border-color: @list-group-active-border;
      }
    }
  }
}


// Advanced Search
.advanced-search .form-list {

  .input-range {
    line-height: @input-height-base;
    small {
      float: right;
    }
  }
}
.advanced-search-amount {

}
.advanced-search-summary {
  &:extend(.well);
  &:extend(.well-sm);
  &:extend(.clearfix all);

  ul {
    margin-bottom: 0;
    padding-left: (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
  }

  strong {
    color: @brand-primary;
  }

  p {
    clear: both;
    padding: (@line-height-computed / 2) (@grid-gutter-width / 2) 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  @media (min-width: @screen-xs) {
    ul {
      float: left;
      width: 50%;
    }
  }
}

.list-item-search {
  h3, p {
    padding-top: 10px;
    display: inline-block;
  }

}
