
/* Panel Setup and Heading
--------------------------*/

.sidebar-filter.panel,
.sidebar-filter.panel .panel-heading {
  border: none;
  .border-radius(0);
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar-filter.panel {
  background-color: @lux-eggshell;
  border: none;
  border-radius: none;
  border-top: 3px solid @lux-black;
}

#heading {
  margin: -3px -10px 0;
  background: @lux-black;
  border-radius: 5px;
  text-align: center;
  padding: 15px;

  h3 {
    color: @lux-white;
    margin: 0;
  }
}

.sidebar-filter.panel .panel-heading:after {
  content: "-";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 28px;
  right: 30px;
  top: 4px;
  color: @lux-turquoise;
  display: block;
}
.sidebar-filter.panel .panel-heading.collapsed:after {
  content: "+";
  color: @lux-black;
}

/* Section Heading Tabs
--------------------------*/

.sidebar-filter span.filter-section {
  background-color: @lux-black;
  color: #fff;
  padding: 12px 0 8px 17px;
  margin-left: -10px;
  display: block;
  // disable less overwriting calc()
  width: ~"calc(100% + 10px)";
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
}

.sidebar-filter span.filter-section:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #333;
  position: absolute;
  top: -10px;
  left: 0px;
  -webkit-transform: rotate(360deg);
}
// .sidebar-filter span.filter-section.active { 
//   background-color: @lux-sand;
// }
// .sidebar-filter span.filter-section.active:before{
//   border-color: transparent transparent @lux-turquoise;
// }

/* Mobile Link Styles and Behavior
--------------------------*/
.sidebar-filter ul {
  a,
  a:hover,
  a:active {
    text-decoration: none;
    cursor: pointer;
  }
  a:active,
  a.active,
  li.active>a {
    color: @lux-turquoise;
  }
}

.sidebar-filter ul a {
  display: inline-block;
  text-decoration: underline;
  color: @lux-black;
  &:hover {
    color: @lux-turquoise;
    li {
      background-color: @lux-lightergray;
    }
  }
}
.sidebar-filter a:hover {
  text-decoration: none;
}
.sidebar-filter a span.filter-section {
  cursor: pointer;
}
.sidebar-filter > ul.list-filter > li a {
  background-color: @lux-turquoise;
}
.sidebar-filter ul.list-filter a li {
  padding: 7px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: darken(@lux-eggshell, 10%);
  .border-radius(4px);
}

.sidebar-filter ul.list-filter > li > a {
  padding-left: 7px;
  padding-left: 7px;

  &:hover, &:active, &:focus {
    color: @brand-primary;
  }
  font-size: 1.2em;
}
.sidebar-filter ul.list-filter > li {
  margin-top: 10px;
}
.sidebar-filter ul.list-filter a.clear-filters li {
  margin-top: 10px;
  
      &:after{

      }
}

.sidebar-filter ul.list-filter.geographic-filter > li > a {
  text-decoration: none;
  float: left;
  padding: 7px;
  margin-left: 5px;
}

.sidebar-filter ul.list-filter a.clear-filters:hover li,
.sidebar-filter ul.list-filter a:hover li.all {
    border-left: 3px solid @lux-turquoise;
    background: @lux-sand;
    color: #fff;
    text-decoration: none;
}

/* Desktop Link Styles and Behavior
--------------------------*/
@media (min-width: @screen-sm-min) {
  .sidebar-filter {
    position: relative;
    
    .unclick {
      position: absolute;
      height: 60px;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
    }

    .collapse {
      display: block!important;
      height: auto!important;
    }
  }

  .sidebar-filter ul a,
  .sidebar-filter ul a:hover {
    display: block;
    float: none;
    text-decoration: none;
    color: @lux-black;
  }

  .sidebar-filter ul.list-filter a li {
    padding: 3px 0 3px 7px;
    margin-left: 0;
    margin-bottom: 0;
    background-color: transparent;
    .border-radius(0);
  }

  .sidebar-filter ul.list-filter a:hover li,
  .sidebar-filter ul.list-filter a li.active {
    background-color: darken(@lux-eggshell, 10%);
    border-left: 3px solid @lux-turquoise;
    padding-left: 4px;
    color: @lux-turquoise;
    text-decoration: underline;
  }
  .sidebar-filter ul.list-filter a.active {
    color: @lux-turquoise;
  }
  .sidebar-filter ul.list-filter a.clear-filters li {
    margin-top: initial;
    background: transparent;
  }
  .sidebar-filter ul.list-filter a.clear-filters li:before {
    content: "⌫  ";
  }
  .sidebar-filter ul.list-filter a.clear-filters:first-of-type {
    margin-top: 24px;
  }

  .sidebar-filter ul.list-filter > li > a {
    padding-left: 7px;
    &:hover, &:active {
      color: @brand-primary;
    }
    font-size: 1.2em;
  }
  .sidebar-filter ul.list-filter > li {
    margin-top: 10px;
  }
  .sidebar-filter ul.list-filter > li {
    float: none;
    ul {
      float: none;;
    }
  }
  .sidebar-filter.panel .panel-heading:after {
    display: none;
  }
  .sidebar-filter ul.list-filter.geographic-filter > li > a {
    float: none;
    padding: initial;
    margin-left: 7px;
  }
}

.sidebar-filter-footer {
  display: block;
  width: 90%;
  height: 15px;
  background-image: none;
  background-repeat: repeat-x;
  margin: 5px 5%;
  padding: 5px 0;
}

/* Alphabetical Filter Style
----------------------------- */
span.h4.filter-section.alphabetic-filter{
    margin-bottom: 5px;
}
ul.list-filter.alphabetic-filter {

  li{
    display: inline-block;

    &.active{
      border-radius: 5px;
      background: darken(@lux-eggshell, 10%);
      color: @lux-black;
    }

    a{
      display: inline-block;
      padding: 0 7px;
    }
  }
}

/* Filter Crumbs Style
--------------------------*/
.filter-crumbs ul {

  >li{
    padding: 7px 0;
    display: inline-block;
    margin: 0;
  }

  a{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: @lux-black;
    margin: 0 10px 20px 0;

    &:hover {
      color: @lux-turquoise;
    }

    li{
      padding: 7px;
      margin: 0;
      background-color: darken(@lux-eggshell, 10%);
      .border-radius(4px);

      &:after{
        content: " ⌫";
      }

      &.all{

         &:hover{

         }
      }
    }
  }
}

/* Blog Filter Style 
------------------------------------*/
.blog-index-list .sidebar-filter ul.list-filter:first-child>li>a {
  padding-left: 7px;
  font-size: 13px;
  border-bottom: 1px dashed @lux-lightergray;
  padding-bottom: 7px;
}

.blog-index-list .sidebar-filter ul.list-filter>li:last-child>a {
    border-bottom: none;
}