/* Sponsors / Ads in the sidebar */

.panel.panel-default.sidebar-sponsors {
  border: none;

  .sponsor {
    margin-bottom: 20px;
    padding: 10px;
	border: 1px solid @lux-eggshell;
  	img {
  		margin: 0 auto;
  	}
  }
}