#slide-cart{
	position: absolute;
	top: 70px;
	right: -500px;
	z-index: 100;
	overflow-y: auto;
	width: 350px;
	max-width: 100%;

	-webkit-transition: right 0.4s ease;
	-moz-transition: right 0.4s ease;
	-o-transition: right 0.4s ease;
	transition: right 0.4s ease;

	&.show{
		right: 0;
		height: 100%;
		background-color: @lux-white;
	}

	button#close-cart {
		color: @lux-white;
		background-color: @lux-black;
		border: none;
		border-radius: 3px;
		margin: -3px -5px 0 0;
		padding: 3px 5px 0 5px;
		font-size: 14px;

		&:hover{
			background-color: @lux-turquoise;
		}
	}

	.block{
		border-radius: 0;
		border: none;
		padding: 0;
	}

	.block-title{
		border: none;
		color: #000;
		font-size: 16px;
		background: none;
		padding: 20px 15px 10px;
	}

	.actions {
		border: none;
		background: none;
		padding: 20px 15px;
	}

	p.product-name{
		a.btn-edit{
			float: none;
		}
	}

	.product-details {

		button.remove {
			border: none;
			padding: 0;
			background: none;
			color: @lux-black;

			&:hover{
				color: @brand-primary;
			}
		}

		.change-quantity {
			background: none;
			border: none;
			margin-top: 0;
			color: @lux-black;

			&:hover{
				color: @brand-primary;
			}

			&[disabled]:hover{
				color: initial;
			}
		}

		.plus{
			margin: 0 8px 0 -8px;
		}
	}

	input.quantity {
		max-width: 45px;
		border-radius: 3px;
		border-width: 1px;
		margin-right: 7px;
		margin-top: -2px;
		text-align: center;
	}

	ol#cart-sidebar{
		li{
			display: inline-block;
			width: 100%;
			border-bottom: 1px dashed @lux-thistle;
			padding: 10px 15px;
		}
	}
}

#slide-cart-content {
	padding: 15px;
	width: 100%;
}