// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

.image {
  margin-top: 15px;
}

.band {
  .border-radius(5px);
  margin-top: 10px;
  
  &.unset {
    .panel-title {
      padding: 0;
      line-height: 1;
    }
  }

  .panel-title {
    padding: 5px 10px;
    line-height: 2.3;
    text-align: center;

    img {
      display: inline-block;
    }

    &.title-icon-pos-top, &.title-icon-pos-bottom {
      line-height: 2;

      img{
        display: block;
        padding: 0;
      }
    }

    &.title-icon-pos-top {
      img {
        margin-top: 15px;
      }
    }

    &.title-icon-pos-bottom {
      img {
        margin-bottom: 15px;
      }
    }

    &.title-align-left {
      text-align: left;

      &.title-icon-pos-top, &.title-icon-pos-bottom{
        img {
          margin-right: 100%;
        }
      }
    }

    &.title-align-cente {
      text-align: center;

      &.title-icon-pos-top, &.title-icon-pos-bottom{
        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &.title-align-right {
      text-align: right;

      &.title-icon-pos-top, &.title-icon-pos-bottom{
        img {
          margin-left: 100%;
          transform: translateX(-100%);
        }
      }
    }

  }
}

.std {

  ul,
  ol {
    padding-left: 40px;
    margin-bottom: (@line-height-computed / 2);
  }

  ul {
    list-style: disc outside;
  }
  ol {
    list-style: decimal outside;
  }

}

.layout {
  margin: 0;

  .main-content-bkg {
    .top-section {
      margin-bottom: 36px;
      .top-section-title {
        margin-bottom: 20px;
        margin-top: 10px;
      }
      .top-banner {
        position: relative;
        margin-top: 16px;

        .image-banner {
          padding: 15px;
        }
      }
    }

    .buttons-set {
      padding-top: 30px;

      a {
        color: @lux-black;
        text-decoration: underline;
      }
    }
  }
}


.cms-home .homepage-container-fluid {
  width: 100%;
}

.std.col-lg-10 {
  p {
    padding: 0 15px;
  }
}
