/*  Travel Suite Home
----------------------------------------*/

div.travel-suite-main {
	background-color: #fff;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -22px;
}

div.travel-filters {
	background-color: @lux-eggshell;
	padding: 30px 20px;
}

div.travel-suite-header {
}

div.travel-suite-title {
	background-repeat: no-repeat;
	background-position: 8px 50%;
}

.geo-filters {
	margin-top: 26px;
}
.geo-filters .continent {
	margin-bottom: 8px;
}
.geo-filters .continent {
	a {
		color: @lux-gray;
		background: darken(@lux-eggshell, 10%);
		text-decoration: underline;
		padding: 10px;
		.border-radius(4px);
		font-size: 1.1em;
		line-height: 2.8em;
		margin: 3px;
	}
	a:hover {
		color: @lux-sand;
		text-decoration: underline;
	}
	.country-pipe:before {
		content: " | ";
		background: transparent;
		text-decoration: none;
	}

}

@media (min-width: 768px) {
	.geo-filters .continent {
		a {
			color: @lux-gray;
			background: transparent;
			text-decoration: none;
			.border-radius(none);
			font-size: 1em;
			line-height: 1.5em;
			padding: 2px;
			margin: 0;
		}
		a:hover {
			color: @lux-gold;
			text-decoration: none;
		}
	}
}

.travel-filters {
	form {
		margin-top: 26px;
	}
	form {
		input {
			height: 45px;
			border: none;
		}
		input[type="text"] {
			padding: 4px;
			.border-left-radius(5px);
			border: 1px solid darken(@lux-eggshell, 10%);
		}
		input[type="submit"] {
			background: #333;
			.border-right-radius(5px);
			.h5-font;
			.button-variant(@lux-eggshell, @lux-turquoise, @lux-teal);
			margin-left: -4px;
		}
	}
}