/*  Travel Suite
----------------------------------------*/

.ibd-travelsuite-region-view,
.ibd-travelsuite-search-index,
.ibd-travelsuite-search-region,
.ibd-travelsuite-search-group
{
	.more {

		width:100%;

		a{
			color: @lux-black;
			float: right;
			padding: 7px;
			background: darken(@lux-eggshell, 10%);
			border-radius: 5px;

			&:hover{
				color: @lux-turquoise;
			}
		}
	}

	.page-title.title {
		.text-center;
		.lux-title-bkg-img("title-background");
		border-bottom: none;
		padding: 8px;
	}

	.page-title.title {
		h1, h5, h6 {
			color: @lux-eggshell;
		}
		h1 {
			margin: 8px 8px 0 8px;
		}
		h5, h6 {
			margin: 0 8px 0 8px;
		}
	}

	.view .filter,
	.view .group-title {
		margin-top: 15px;
	}

	.view .filters {
		background-color: @lux-eggshell;
		padding: 30px 5%;
	}

	.view .filters .cat {
		&:after { content: ' | ';}
		a {color: @lux-black;}
		a:hover {color: @lux-teal;}
	}

	.view .filters form.filter-form {

		margin-left: 0px;
		width: 95%;
		margin-top: 20px;

		input {
			height: 3em;
			font-weight: 200;
		}

		input[type=text] {
			.border-left-radius(3px);
			border: 1px solid darken(@lux-eggshell, 10%);
			border-right: none;
		}

		input[type=submit] {
			.border-right-radius(3px);
			color: #fff;
			.button-variant(@lux-eggshell, @lux-turquoise, @lux-teal);
			border: none;
			text-transform: uppercase;
		}
	}

	.search-heading {
		margin: 0;

		&:not(:first-of-type) {
			margin-top: 20px;
		}
	}

	.list-item {
		padding: 0;
		margin: 0;

		.item-image,
		.item-description {
			padding-left: 0;
		}

		h3 {
			margin-top: 0;
		}

		.img-responsive {
			width: 100%;
		}
	}

	.list-item,
	.region-list-item,
	.brand-list-item {
		border-bottom: 1px solid @lux-background;
		padding-top: 20px;
		padding-bottom: 20px;

		a p {
			color: initial;
		}

		a:hover {
			text-decoration: none;
			h4, h5 {
				color: @lux-teal;
			}
		}
	}

	@media (max-width: @screen-xs-max) {

		.list-item .item-image img,
		.search-item .item-image img,
		.region-list-image img,
		.brand-list-item-logo img {
			margin: 0 auto;
		}

		.view .filters .cat {
			padding: 8px;
			.border-radius(2px);
			background-color: darken(@lux-eggshell, 10%);
			margin-right: 4px;
			margin-bottom: 4px;

			a {
				text-decoration: underline;
				color: @lux-black;
			}

			&:after { content: '';}
		}
	}
	
}
