// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}/type.less";

h1, .h1 { font-size: floor(@font-size-base * 1.8); }
h2, .h2 { font-size: floor(@font-size-base * 1.6); }
h3, .h3 { font-size: ceil(@font-size-base * 1.4); }
h4, .h4 { font-size: ceil(@font-size-base * 1.2); }
h5, .h5 { font-size:  @font-size-base; }
h6, .h6 { font-size: ceil(@font-size-base * 0.85); }

.page-title {
  border: none;
  &:extend(.clearfix all);
  &:extend(.page-header);
  margin-top: 0;

  .separator {
    margin: 0 3px;
  }

  .link-rss {
    float: right;
    margin: 7px 0 0;
  }
}

.title-buttons {
  text-align: right;

  h1, h2, h3,
  h4, h5, h6 {
    float: left;
  }
}

.subtitle,
.sub-title {
  color: @headings-small-color;
}
