// The MIT License (MIT)
//
// Copyright (c) 2011-2014 Webcomm Pty Ltd
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.

@import "@{bootstrap-path}/variables.less";

//
// Variables

// Global values

// Brand colors
@lux-black:     #000000;
@lux-white:     #ffffff;
@lux-red:		#981d19;
@lux-bronze:	#b97d50;
@lux-deepspace:	#3f3a54;
@lux-wine:		#592e33;
@lux-silver:	#c5c1b5;
@lux-gold:		#e6ad57;
@lux-clay:		#7b6260;
@lux-gray:		#333;
@lux-lightergray: #edefed;
@lux-lightgray: #ddd;
@lux-eggshell:	#f6f6f5;
@brand-primary:	@lux-turquoise;
@lux-background:	#fff;

//New Brand colors
@lux-turquoise:	#56c4c3;
@lux-teal:		#348d93;
@lux-sienna:	@lux-turquoise; //#f58941;
@lux-sand:		@lux-turquoise; //#fda858;
@lux-thistle:	@lux-turquoise; //#cfb9df;

// COMPONENT VARIABLES
@panel-primary-border: @lux-turquoise;
@panel-primary-heading-bg: @lux-turquoise;
@panel-default-heading-bg: @lux-black;
@panel-default-text: @lux-white;
@panel-default-border: @lux-black;

// Popovers
@popover-max-width: 400px;
