.media {
  // Proper spacing between instances of .media
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}

.media-body {
  width: 10000px;
}

.media-object {
  display: block;

  // Fix collapse in webkit from max-width: 100% and display: table-cell.
  &.img-thumbnail {
    max-width: none;
  }
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

// Media list variation
//
// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}

.ibd-travelsuite-brand-view {

.panel {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
	background-color: lightgray;
}

.brand-basic-info-right, .brand-basic-info-left {
	display: inline-block;
	width: 48%;	
}

.brand-basic-info-right {
	float: right;
}

.brand-basic-info-left {
	float: left;
}

.disabled:hover {
	  cursor: not-allowed;
}

.same-line {
	display: inline-block;
	width: 200px;
}
.same-line .input-group {
  top: 13px;
}
.panel-title {
  line-height: 2.3;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

.band {
	  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.margin-top {
	margin-top: 10px;
}

.panel {
  background-color: transparent;
}

.row.about.block-about-single.left .panel, .block-about-double .panel, .widget .panel, .block-media-object-menu .panel.panel-default {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.75);
}

h3, h3.panel-title {
	text-transform: uppercase;
	font-weight: 300;
	font: Helvetica;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  filter: none;
  background-repeat: repeat-x;
}

/* Panel
====================*/

.ibd-travelsuite-brand-view .panel {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-nobkg {
  margin-bottom: 0px;
}

.panel-body {
  background-color: #fff;
}

.panel-nobkg .panel-body {
	background-color: transparent;
}

.panel-default {
  border-color: transparent;
}

.panel-default>.panel-heading {
  background-color: #000;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.panel-title {
  line-height: 120%;
  font-weight: 300;
  font-size: 24px;
}

.panel-nobkg .panel-heading {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.panel-nobkg.panel {
  background-color: transparent;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.panel-left-col-3{
	width:33%;
}

.panel-middle-col-3{
	width:33%;
}
.panel-right-col-3{
	width:33%;
}


.panel-left-col-2 {
	width: 50%;
	float: left
}

.panel-right-col-2 {
	width: 50%;
	float: right;
	padding: 10px 30px
}

.panel-body h3 {
  text-align: center;
    margin-top: 0px;
  margin-bottom: 30px;
}

.panel-nobkg p {
  line-height: 180%;
}

@media (max-width: 768px) {

    .panel-body h3 {
    margin-top: 10px;
    }
}

}

/* About
====================*/

//Added responsive-embed.less content here because for some reason not pulling from bootstrap src

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.row.about.block-about-single.left {
  float:none !important;
}

.row.block-about-double .col-sm-4 {
  padding:0;
}

.block-about-text-parent {
  position: ;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  text-align: center;
  margin-bottom: -100%;
}

.block-about-single .block-about-text-parent.hidden-xs {
  position: ;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 65%;
  margin-right: 0;
  margin-left: auto;
  height: auto;
  position: relative;
  text-align: center;
  margin-bottom: -100%;
  right: 0px;
}

span.block-about-text {
  background-color: #fff;
  display: inline-block;
  padding: 30px;
  font-weight: 200;
  font-size: 115%;
  line-height: 170%;
}

@media (max-width: 991px) {
  .block-about-text-parent.hidden-xs>.block-about-text {
  font-size: 100%;
  line-height: 100%;
}
}

/* Menu
====================*/

.vertical-menu-content {
  padding:0;
  
  .media-object {
    max-width: 55px;
    max-height: 55px;
    padding-right: 10px;
  }

}

.vertical-menu-media {
  padding: 0;
  img {
    margin-right: auto;
    margin-left: auto;
  }
}

//Remove the download icon that seems to be automaticaly added by Magento
.vertical-menu-content i.glyphicon.glyphicon-download-alt {
  display: none;
}

.block-media-object-menu .panel .media {
  margin-left: 30px;
}

.block-media-object-menu .media {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed lightgray;
}

.block-media-object-menu .media-body {
  height: 55px;
  display: block;
  float: left;
  width: 70%;
}

.block-media-object-menu .media-heading {
  margin-top: 0;
  margin-bottom: 5px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

a h4.media-heading {
  color: #000;
  font-weight: 300;
  text-transform: uppercase;
}

a:hover h4.media-heading,
a:active h4.media-heading,
a:focus h4.media-heading {
  color: #f58941;
}

@media (max-width: 992px) {
  
  .block-media-object-menu .media-heading {
    font-size: 100%;
  }
}

@media (max-width: 768px) {
  .vertical-menu-content {
    margin-top: 10px;
  } 
  .panel .media {
    margin-left: 0;
  }
  
  .block-media-object-menu .media-heading {
    font-size: 100%;
  }
}

/* Social
====================*/
.block-social-justified .nav>li>a {
  padding: 6px 10px;
  background-color: #000;
  margin: 0px 8px;
  color: #fff;
  font-size: 130%;
  font-weight: 200;
  text-transform: uppercase;
}

.block-social-justified .nav>li>a:hover,
.block-social-justified .nav>li>a:active,
.block-social-justified .nav>li>a:focus {
  background-color: #56c4c3;
  color: #fff;
}

.block-social-justified .nav {
  background-color: lightgray;
  padding: 10px 5px;
  border-radius: 8px;
}

.block-social-justified i.fa {
  background-color: #fff;
  border-radius: 45px;
  width: 45px;
  height: 45px;
  line-height: 173%;
  color: #000;
  font-size: 150%;
}

.block-social-justified .nav>li>a:hover i.fa,
.block-social-justified .nav>li>a:active i.fa,
.block-social-justified .nav>li>a:focus i.fa {
  color: #56c4c3;
}

@media (max-width: 768px) {
  .block-social-justified li {
  margin: 5px 0;
}
}

/* Product Slider
====================*/

.row.block-product-slider .row {
	margin-left: 0;
	margin-right: 0;
}

.product-col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.product-col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.product-col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.product-col-item .price {
  /*width: 50%;*/
  float: left;
  margin-top: 5px;
}

.product-col-item .info {
  display: block;
  height: 50px;
  padding: 0 10px;
}

.info p {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  top: 50%;
  line-height: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block-product-slider a:hover,
.block-product-slider a:active,
.block-product-slider a:focus {
  text-decoration: none;
}

.product-col-item:hover .info,
.product-col-item:active .info,
.product-col-item:focus .info {
    background-color: #56c4c3;
    color: #fff;
    text-decoration: none;
}

.product-col-item:hover .info p,
.product-col-item:active .info p,
.product-col-item:focus .info p {
	color: #fff;
}

.product-col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.clear-left {
    clear: left;
}

.product-col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.product-col-item .separator p i {
    margin-right: 5px;
}

.block-product-slider .controls {
    margin-top: 20px;
}

.block-product-slider .product-col-item:hover,
.block-product-slider .product-col-item:active,
.block-product-slider .product-col-item:focus {
  border: 2px solid #56c4c3;
  text-decoration: none;
}

.block-product-slider .product-col-item {
  border: 1px solid #edefed;
  border-radius: 0;
  background: #FFF;
}

.block-product-slider .product-col-item:hover,
.block-product-slider .product-col-item:active,
.block-product-slider .product-col-item:focus {
  border: 1px solid #56c4c3;
  border-radius: 0;
  background: #FFF;
  text-decoration: none;
}

.product-col-item .info {
  border-radius: 0;
}

a.left.carousel-control.fa.fa-chevron-left {
  width: 5%;
  background-color: transparent;
  padding-top: 100px;
  font-size: 250%;
  text-shadow: none;
  color: #56c4c3;
  margin-left: -35px;
}

a.right.carousel-control.fa.fa-chevron-right {
  width: 5%;
  background-color: transparent;
  padding-top: 100px;
  font-size: 250%;
  text-shadow: none;
  color: #56c4c3;
  margin-right: -35px;
}

a.left.carousel-control, a.right.carousel-control {
  text-shadow: none;
}

/* Featured Addresses
=======================*/
.featured .panel-heading {
  background-color: #fff;
  color: #000;
}

.featured .panel-group a:hover, .featured .panel-group a:active,
.featured .panel-group a:focus, .featured .panel-group a:visited  {
  text-decoration: none;
}

.featured .panel-group a:hover .panel-heading,
.featured .panel-group a:active .panel-heading,
.featured .panel-group a:focus .panel-heading {
  background-color: #000;
}

.featured .panel-group a:hover .panel-heading .panel-title,
.featured .panel-group a:active .panel-heading .panel-title,
.featured .panel-group a:focus .panel-heading .panel-title {
  color: #fff;
}

.featured .panel-group .panel-heading .panel-title {
  text-align: left;
}

.addresses a {
  color: #000;
  font-weight: 300;
}

.addresses a:hover,
.addresses a:active,
.addresses a:focus {
  color: #f58941;
  font-weight: 300;
  text-decoration: none;
}

/* One Row of Images 
=======================*/
.flat-widget{
  margin-top: 5px;
  margin-bottom: 20px;

  &:first-child {
    margin-top: 10px;
  }

  .heading{
    // margin-bottom: 10px;
    border-radius: 4px;
    color: @lux-black;
    margin-bottom: 16px;

    @media(min-width: @screen-sm-min) {
      margin-bottom: 24px;
    }
    h4.flat-widget-title {
      text-align: center;
      text-transform: none;
      border-bottom: none;
      min-height: 17px;
      span.title{
        font-size: 16px;
        font-weight: bold;
        border-radius: 4px;
        display: inline-block;
        margin-bottom: 5px;
        padding: 8px 20px; 
        height: 32px;
        background-color: @lux-white;

      }
      @media(min-width: @screen-sm-min) {
        border-bottom: 2px solid @lux-black;
        height: 17px;
        span.title {
          font-size: 22px;
          padding: 4px 20px;
        }
      }
    }

    .link{
      display: none;
      @media (min-width: @screen-sm-min) {
        display: inline-block;
        float: right;
        color: #000;
        padding-top: 20px;
      }

      a {
        color: inherit;
      }
    }
  }

  .body{

    margin-bottom: 0px;
    overflow: hidden;

    .flat-widget-img{
      float: left;
      max-width: 100%;
      margin: 0 0 10px;
      padding: 0;
    }

    >div.carouselmasonry {
      .masonry {
        overflow: hidden;
      }
      //padding: 0;

      &:first-of-type{
        //padding-right: 11px;
      }

      &:last-of-type .carousel.slide {
        //margin-left: 7px;
      }
    }
  }
}

.body.carousel-masonry {
  margin-left: -15px;
  margin-right: -15px;
}

.carouselmasonry:first-child {
  padding-right: 8px;
}

.carouselmasonry:last-child {
  padding-left: 3px;
}

// IBD: Carousel
// ==================

.widget-ibd-carousel .carousel {
  margin-bottom: 0;
}

.widget-ibd-carousel.container-fluid .image {
  margin-top: 0;
  margin-bottom: 0;
}

.widget-ibd-carousel.container .image {
  margin-bottom: 15px; 
}