#wishlist-table{
	border: none;
  border-collapse: collapse;

  tr,
  td,
  th{
  	border: none;
  	text-align: center;
  }

  @media (max-width: @screen-sm-max) {
    td, th {
      display: block;
    }
  }

  tbody{
  	tr{
  		border-top: 1px solid #ddd;
  	}

    .product-name {
      white-space: pre-wrap;
    }



  	.btn-cart{
  		width: 100%;
  		margin-bottom: 10px;
  	}

    @media (max-width: @screen-sm-max) {
      .add-to-cart-alt.quantity-wrapper {
        overflow: hidden;
        display: block;
      }
    }

  	.change-quantity {
		background: none;
		border: none;
		margin-top: -3px;

			&:hover{
				color: @brand-primary;
			}

			&[disabled]:hover{
				color: initial;
			}

			&.plus{
				margin: -3px 8px 0 -4px;
			}

			input.quantity {
				max-width: 45px;
				border-radius: 3px;
				border-width: 1px;
				margin-right: 7px;
				margin-top: -2px;
				text-align: center;
			}

			.btn-remove{
				border: none;
				padding: 0;
				background: none;
				color: @lux-black;

				&:hover{
					color: @brand-primary;
				}
			}
  	}
  }
  &:extend(#shopping-cart-table all);
}

