<div class="product-filter-lock"></div>
<div class="clearer"></div>
<div class="product-filter-param">
    <?php $selectedParams = $this->getSelectedParams();
    if ($selectedParams) { ?>
        <span class="text-showing" style="display: table-cell;"><?php echo $this->__('Showing'); ?></span>
    <?php } ?>
    <div class="filter_options">
        <?php
        $counter = 0;
		$row_counter_pf = 0;
        $cnt = 0;

        foreach ($selectedParams as $code => $attrParam) { 
        if ($cnt % 3 == 0) { ?>
        <span class="filter_options_row">
        <?php } 
		else $row_counter_pf++;
        ?>
        <span class="filter_options_attr">
            <span class="filter_options_label"><?php echo $attrParam['label']; ?></span>
            <?php foreach ($attrParam['items'] as $option_code => $option_data) { $counter++; ?>

            <?php 
                $_swatchUrl = $this->getSwatchUrl($code, $option_data);
            ?>
            <span class="filter_options_item" data-attribute="<?php echo $code; ?>" data-option="<?php echo $option_code; ?>">
            <?php
            if (!empty($_swatchUrl)) { ?>
            <img src="<?php echo $_swatchUrl; ?>" alt="<?php echo $option_data['label']; ?>" width="<?php echo $this->getSwatchInnerWidth(); ?>" height="<?php echo $this->getSwatchInnerHeight() ?>" />
            <?php } else {
            echo $option_data['label'];
            }
            ?>
            <a href="<?php echo $this->getOptionLink($code, $option_code, $option_data); ?>" class="delete_option">
                <span class="close-fo">&#10005;</span>
            </a></span>
            <?php } ?>
        </span>
        <?php  if ($cnt % 3 == 2) { ?>
        </span>
        <?php } ?>
        <?php 
        $cnt++;
        } 
        ?>
        <?php  if ($selectedParams && ($cnt % 3 != 2)) { ?>
	        <?php  
	        	if ($cnt % 3 != 0) {
		        	if ( $row_counter_pf < 3 ) {
		        		for ( $i = 0; $i < $row_counter_pf; $i++ ) echo '<span class="filter_options_attr">&nbsp;</span>';
		        	}
	        	}
				else $row_counter_pf = 0;
	        ?>
        </span>
        <?php } ?>
    </div>
    <?php if ($selectedParams) { ?>
	<span class="reset-filter-block">
	    <a class="reset-filter delete_option" href="<?php echo $this->getCleanUrl(); ?>" title="" style="display: table-cell;">
	        <span class="filter-counter">(<?php echo $counter; ?>)</span> <?php echo $this->__('Reset'); ?><span class="filter-reset-all">&#10005;</span>      
	    </a>
	</span>
    <?php } ?>
</div>