<div class="category-products">
	<div class="toolbar">
    	<?php echo $this->getToolbarHtml() ?>
    </div>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
</div>