<?php 
$options = $this->getFilterProductOptions();

if ($options) { ?>


<div class="product-filter clearer clearfix">
    <div style="float:left; line-height:22px; display: none;" class="filter_label"><?php echo $this->__('Filter by:');?></div>
    <div class="filter_list">
        <?php foreach ($options as $group) { ?>
            <div class="selector">
                <div class="hld">
                    <span class="text"><?php echo $group['label']; ?></span><span class="icon"></span>
                </div>

                <div class="border-hidder">&nbsp;</div>
                <div class="dropdowner cf clear clearfix pf_holder_<?php echo $group['main_code'];?>">
                    <?php foreach ($group['children'] as $code => $child) { ?>
                        <?php if ($group['multiple']) { ?>
                        <div class="group cf clear clearfix"><?php echo $child['label']; ?></div>
                        <?php } ?>

                        <?php foreach ($child['items'] as $val => $item) { ?>
                            <a class="list<?php echo $this->getAdditionalClasses($code, $val, $item); ?>" data-attribute="<?php echo $code; ?>" data-option="<?php echo $val; ?>" href="<?php echo $this->getOptionLink($code, $val, $item); ?>" title="<?php echo strip_tags($item['label']); ?>">
                                <?php 
                                    $_swatchUrl = $this->getSwatchUrl($code, $item);

                                    if (!empty($_swatchUrl)) { ?>
                                        <img src="<?php echo $_swatchUrl; ?>" alt="<?php echo $item['label']; ?>" width="<?php echo $this->getSwatchInnerWidth(); ?>" height="<?php echo $this->getSwatchInnerHeight() ?>" />
                                    <?php } else {
                                        echo $item['label'];
                                    }
                                ?>
                                <span class="filter_count">(<?php echo $item['ids']; ?>)</span>
                            </a>
                        <?php } ?>
                    <?php } ?>
                </div>
            </div>
        <?php  } ?>
        <div class="filter_send" style="display: none;"><?php echo $this->__('Filter'); ?></div>
        <img src="<?php echo $this->getSkinUrl('images/plumrocket/productsfilter/ajax-loader.gif'); ?>" style="display: none;" class="product-filter-loader product-filter-loader-bottom" />
        <a class="reset-filter-mobile" href="<?php echo $this->getCleanUrl(); ?>" title=""><span class="filter-counter"></span> <?php echo $this->__('Reset'); ?><span class="filter-reset-all">&#10005;</span></a>
    </div>
</div>
<?php } ?>

<script type="text/javascript">
    productFilterCleartUrl = '<?php echo $this->getCleanUrl(); ?>';
    productFilterSendMode = '<?php echo $this->getMode(); ?>';
    productFilterCatalogUseFuffix = <?php echo Mage::getStoreConfig('catalog/seo/category_url_suffix')? 1: 0; ?>;
</script>