<?php
$entity = $this->getEntity();
$iconPosition = $entity->getIbdBannerIconPosition();
$titleHelper = Mage::helper('ibd_travelsuite/title');
$titleAfter = ( $iconPosition == $titleHelper::ICON_ABOVE || $iconPosition == $titleHelper::ICON_LEFT );
?>
<h1 class="h3 panel-title title-align-<?php echo $entity->getIbdBannerAlign() ?> title-icon-pos-<?php echo $iconPosition ?>">

	<?php if(!$titleAfter) echo $this->getTitle() ?>
	<img src="<?php echo Mage::helper('ibd_travelsuite/title_image')->init($entity, 'ibd_banner_icon') ?>" alt="icon">
	<?php if($titleAfter) echo $this->getTitle() ?>
</h1>