<?php // Get images for modal ?>             
<?php $productImages = Mage::getModel('catalog/product')->load($_product->getId())->getMediaGalleryImages(); ?>

<?php // Quick View Modal ?>
<div class="quickview-modal modal fade" id="quickview-<?php echo $i; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

          <div class="modal-body">
          <div class="conainer-fluid">
              <div class="row">
                  <div class="col-sm-6">

                    <div id="quickview-carousel-<?php echo $i; ?>" class="carousel slide quickview-carousel" data-ride="carousel" data-interval="false">
                        <ol class="carousel-indicators">
                            <?php $targetSlide = 0; ?>
                            <?php if (count($productImages) > 1): ?>
                                <?php foreach($productImages as $thumbnail){ ?>
                                    <li data-target="#quickview-carousel-<?php echo $i; ?>" data-slide-to="<?php echo $targetSlide; ++$targetSlide; ?>" class="<?php if ($targetSlide == 1) echo "active";?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $thumbnail->getFile())->resize(100, 133) ?>" class="quickview-thumbnail" alt="<?php echo $this->htmlEscape($thumbnail->getLabel()) ?>"></li>
                                <?php }?>
                            <?php endif; ?>
                        </ol>

                        <div class="carousel-inner" role="listbox">
                            <?php $activeFlag = 1; ?>
                            <?php foreach($productImages as $mainImage){ ?>
                            <div class="item<?php if ($activeFlag == 1) {echo ' active'; $activeFlag = 0; }?>">
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $mainImage->getFile())->resize(540, 720) ?>" class="quickview-main-image" alt="<?php echo $this->htmlEscape($mainImage->getLabel()) ?>">
                            </div>
                            <?php } ?>
                        </div>

                        <?php if (count($productImages) > 1): ?>
                            <a class="left carousel-control" href="#quickview-carousel-<?php echo $i; ?>" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right carousel-control" href="#quickview-carousel-<?php echo $i; ?>" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        <?php endif; ?>
                    </div><!-- .carousel -->

                  </div>
                  <div class="col-sm-6">
                        <?php // Get the brands associated with product ?>
                        <?php $brands = Mage::helper('ibd_travelsuite/product')->getSelectedBrands($_product);
                        if ($brands) {
                            foreach ($brands as $brand) {
                                echo '<h2 class="product-brand">' . $brand->getName() . '</h2>';
                            }
                        }?>
                        <?php if ($brands) {
                            foreach ($brands as $brand) {
                                echo '<h4 class="product-brand">' . $brand->getName() . '</h4>';
                            }
                        }?>
                        <h4 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h4>
                        <?php echo $this->getPriceHtml($_product, true) ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="quickview-product-link">查看完整信息&nbsp;<i class="fa fa-caret-right"></i></a>
                        <div class="clearfix"></div>

                        <?php // Add to Cart Buton ?>
                        <?php $this->getChildHtml('quickview_product_master'); ?>
                        <?php //Mage::register('product', $_product); ?>
                        <?php //echo $this->getChildHtml('quickview_details_container');?>                        
                        <?php //$this->getChildHtml('modal.details'); ?>

                  </div>
              </div>
          </div>

          </div><!-- .modal-body -->

        </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .quickview-modal -->