@import url("css/bootstrap.min.css");

body {
	background-image: url('images/ibd-bg.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
}

.carousel, .fullwidth-content-image img, .ad-item img, .quicklink a img {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
.quicklink a img {
	border: 1px solid transparent;
	transition: border 0.25s;
	-moz-transition: border 0.25s;
	-webkit-transition: border 0.25s;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/* General Styles
******************************************************/
/* Colors

*/

/* Fonts */
.supernav a {
	color: #FFF;
}
.supernav a:hover {
	text-decoration: underline;
}


/* Buttons */
.home-brands img:hover, .banner-item img:hover, .quicklink a img:hover {
	border: 1px solid #56c4c3;
}
.home-brands h2 {
	margin-top: 0;
}
.home-brands img {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid transparent;	
	transition: border 0.25s;
	-moz-transition: border 0.25s;
	-webkit-transition: border 0.25s;
}
.banner-item img {
	border: 1px solid #CCC;	
	margin-bottom: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	transition: border 0.25s;
	-moz-transition: border 0.25s;
	-webkit-transition: border 0.25s;
}

/* Container */
.container-fluid.header, .navbar-inverse {
	background-color: #000;
}

/*  Header
******************************************************/
.fullwidth-content-image {
	text-align: center;
}

/* Navbar
******************************************************/
.navbar {
	border-radius: 0;
	margin-bottom: 4px;
	border: none;
}
.navbar-inverse .navbar-nav>li>a {
	color: #FFF;
}
.navbar-inverse .navbar-nav>li>a:hover {
	text-decoration: underline;
}

.navbar-brand img {
	margin-top: -22px;
	margin-left: -30px;
}

.dotted-line {
	height: 2px;
	border-bottom: 1px dashed black;
}

.footer ul li {
  display: inline-block;
  padding: 5px 10px;
  float: right;
  color: #FFF;
}
.footer {
	margin-bottom: 10px;
	background-color: #000;
	padding: 8px;
}

/* Media Queries
******************************************************/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Extra Small Devices only  */ 
@media only screen and (max-width : 479px) {
	.navbar-brand img {
		max-width: 100%;
		margin-top: -10px;
	}
	.navbar-brand {
		max-width: 65%;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Super Wide Screens */
@media only screen and (min-width : 1500px) {

}