<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Region carousel template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */

// init some stuff...
$region = $this->getCurrentRegion();

?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

        <div id="carousel-region" class="carousel slide" data-ride="carousel">
          <!-- Indicator -->
          <ol class="carousel-indicators">
                <li data-target="#carousel-region" data-slide-to="0" class="active"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="<?php echo Mage::helper('ibd_travelsuite/region_image')->init($region, 'cover') ?>"
                    alt="<?php echo $this->escapeHtml($region->getName());?>" class="img-responsive" />
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-region" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-region" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
