<div class="panel panel-default sidebar-filter siyuan">
	<div class="unclick hidden-xs"></div>
	
	<div class="panel-heading" id="heading" data-toggle="collapse" data-target="#filter-collapse" onclick="void(0)">
		<h3><?php $this->_e('地点过滤'); ?></h3>		
	</div>
	
	<div class="panel-collapse collapse in" role="tabpabel" id="filter-collapse">
	<?php if( sizeof( $this->getGeographic() ) > 0): ?>
		<?php foreach ($this->getGeographic() as $continentArray): ?>
			<a<?php if($this->isContinent($continentArray['name'])) echo ' class="active"';?> href="<?php
				echo $this->getSearchBaseUrl() ?>?continent=<?php echo $continentArray['name']; ?>">
				<span class="h4 filter-section<?php if($this->isContinent($continentArray['name'])) echo ' active';?>">
					<?php echo $continentArray['name']; ?>
				</span>
			</a>
			<ul class="list-filter">
				<?php foreach ($continentArray['countries'] as $countryName): ?>
				<a <?php if($this->isCountry($countryName)) echo ' class="active"'; ?> href="<?php
					echo $this->getSearchBaseUrl() ?>?country=<?php echo $countryName; ?>">
					<li<?php if($this->isCountry($countryName)) echo ' class="active"'; ?>>
						<?php echo $countryName; ?>
					</li>
				</a>
				<?php endforeach; ?>
			</ul>
			<span class="clearfix"></span>
		<?php endforeach; ?>
		<div class="sidebar-filter-footer"></div>
	<?php endif; ?>
	</div>
</div>