<?php 
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Region list template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_regions = $this->getRegions(); ?>
<div class="page-title region-title">
    <?php if (Mage::helper('ibd_travelsuite/region')->isRssEnabled()) : ?>
        <a href="<?php echo Mage::helper('ibd_travelsuite/region')->getRssUrl();?>" class="link-rss"><?php echo Mage::helper('ibd_travelsuite')->__('Subscribe to RSS Feed')?></a>
    <?php endif;?>
    <h1><?php echo Mage::helper('ibd_travelsuite')->__('Regions') ?></h1>
</div>
<?php if ($_regions->getSize() > 0) :?>
    <?php echo $this->getPagerHtml(); ?>
    <div class="region-list-container">
    <?php foreach ($_regions as $_region) : ?>
        <div class="region-list-item">
            <a href="<?php echo $_region->getRegionUrl()?>">
                <?php echo $_region->getName();?>
            </a><br />
        </div>
    <?php endforeach;?>
    </div>
    <?php echo $this->getPagerHtml(); ?>
<?php else : ?>
    <?php echo Mage::helper('ibd_travelsuite')->__('抱歉，未找到相关内容，请尝试更改地区，或在搜索框中重新搜索...');?>
<?php endif;?>
