<?php
/**
 * IBD_TravelSuite extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       IBD
 * @package        IBD_TravelSuite
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Region view template
 *
 * @category    IBD
 * @package     IBD_TravelSuite
 * @author      Ultimate Module Creator
 */

// init some stuff...
$region = $this->getCurrentRegion();
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="band<?php if(!($region->getColor())) echo ' unset' ?>" style="<?php echo $this->h()->getStyleCss($region) ?>">
    <?php echo $this->getLayout()
                    ->createBlock('ibd_travelsuite/title')
                    ->setInfo($region, $region->getName())
                    ->toHtml(); ?>
</div>
<div class="view row">
    <div class="col-sm-12 description">
        <?php echo $region->getDescription() ?>
    </div>
</div>